/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]

	1. Typhography
	2. top header
	3. main menu area
	4. banner section
	5. service section-1
	6. about us section
	7. service section-2
	8. recent project section 
	9. choose us section
	10. team section 
	11. testimonial section 
	12. blog section
	13. barnd section
	14. Footer / #footer
-------------------------------------------------------------------*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #202020;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#1A202D;
}
p {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    color: #202020;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#CC8809;
	text-decoration:none;
}
a{
	color:#1A202D;
	text-decoration:none;
	opacity: 0.9 !important;
	transition: all 0.4s ease;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
::selection {
	background: #CC8809;
	color: #ffffff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 65px;
	font-weight:800;
	line-height:75px;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 62px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
	opacity: 0.9 !important;
}
h4 {
	font-size: 22px;
	font-weight:700;
	line-height: 32px;
	opacity: 0.9 !important;
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
.b-primary {
    background-color: rgb(204, 136, 9);
    padding: 20px 26px;
    display: inline-block;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    line-height: 16px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.9s ease 0s;
	box-shadow: 0 0 0 0 #1A202D inset;
}
.b-primary:hover{
	color: #ffffff;
	box-shadow: 0 0 0 4em #1A202D inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
.b-primary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.b-primary:hover i{
	transform: translateX(10px);
	color: #ffffff;
}
.b-primary:focus{
	color: #ffffff;
}
.btn-white{
	padding: 20px 30px;
	display: inline-block;
    box-shadow: 0 0 0 0 #041B52 inset;
	font-weight: 500;
	color: #ffffff;
	border-radius: 4px;
	line-height: 15px;
	transition: all 0.5s ease;
    background-color: rgb(204, 136, 9);
}
.btn-white:hover{
	box-shadow: 0 0 0 4em #ffffff inset;
    color: #041B52;
}
.btn-white i{
	transform: translateX(0px);
	padding-left: 10px;
    color: #ffffff;
	transition: all 0.4s ease;
}
.btn-white:hover i{
	transform: translateX(10px);
	color: #041B52;
}
.btn-them-1{
	transition: all 0.4s ease;
}
.btn-them-1:hover{
	background:none;
	color: #FF5E15;;
}
.btn-view i{
	width: 60px;
	height: 60px;
    line-height: 60px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
	transition: all 0.4s ease;
	color: #ffffff;
}
.btn-view:hover i{
    color: #ffffff!important;
	transform: translateX(10px);
}
.btn-srv i{
	border: 1px solid #ffffff;
}
.btn-srv:hover i{
	color: #FF5E15;
	border: 1px solid #ffffff;
	transform: translate(0);
}
.srv-icon{
	transition: all 1s ease;
}
.btn-view-theme-1{
	background-color: #CC8809;
	color: #ffffff;
	border: none;
	border-radius: 8px;
}
.btn-view-theme-1:hover i{
	background-color: #1A202D;
    color: #ffffff;
	transform:translate(0)
}
.btn-read{
	border: 1px solid #ffffff;
    line-height: 60px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
	transition: all 0.4s ease;
	color: #CC8809;
}
.btn-read i{
    transition: all 0.7s ease;
    color: #ffffff
}
.btn-read:hover i{
	color: #CC8809;
	transform: translateX(10px);
}
.sub-heading {
    color: #CC8809;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    opacity: 0.9;
}
.pos-relative{
	position: relative;
}
.fix{
	overflow: hidden;
}
.bg-color-theme{
	background-color: #CC8809!important;
}
.text-color-blue{
	color: #00265E;
}
form{
	width: 100%;
	height: auto;
	position: relative;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{
	padding: 120px 0;
}
.top-spacing{
	padding-top: 120px;
}
.bottom-spacing{
	padding-bottom: 120px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-20{
	padding-top: 20px;
}
.pt-30{
	padding-top: 30px;
}
.pt-40{
	padding-top: 40px;
}
.pt-50{
	padding-top: 50px;
}
.pt-65{
	padding-top: 65px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-22{
	padding-bottom: 22px;
}
.pb-25{
	padding-bottom: 25px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-40{
	padding-bottom: 40px;
}

.pb-50{
	padding-bottom: 50px;
}

.pb-64{
	padding-bottom: 64px;
}
.pr-10{
	padding-right: 10px;
}
.pr-20{
	padding-right: 20px;
}
.pl-10{padding-left: 10px;}
.pl-12{
	padding-left: 12px;
}
.pl-20{
    padding-left: 20px;
}
.pl-30{
	padding-left: 30px;
}
.p-20{
	padding: 20px;
}
.mr-10{
	margin-right: 10px;
}
.ml-30{
	margin-left: 30px;
}
.mt-30{
	margin-top: 30px;
}
.mt-40{
	margin-top: 40px;
}
.mt-50{
	margin-top: 50px;
}
.mb-25{
	margin-bottom: 25px;
}
.mb-112{margin-bottom: 112px;}
/*===================================
	2.top header start 
===================================*/
.top-header{
    padding: 15px 0;
}
.top-header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact-info p {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.9;
}
.contact-box{
	padding: 0 20px;
}
.contact-inner{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.contact-inner .contact-box:first-child{
	padding-left: 0;
}
.contact-inner .contact-box:last-child{
	border-right: none;
	padding-right: 0;
}
.contact-box .icon i{
    font-size: 20px;
	color: #CC8809;
	display: inline-block;
}
/*===================================
	3. main menu start 
===================================*/
.sticky {
	position: fixed;
    top: -25px;
    right: 0;
    width: 100%;
    z-index: 2;
    margin-top: 25px;
    margin-bottom: 5px;
	background-color: #FFFFFF;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.logo-style-1{display: none;}
.main-menu-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	padding:0 100px;
	line-height: 60px;
	position: relative;
}
.main-menu ul{
	text-align: center;
    z-index: 1;
}
.main-menu ul li{
	display:inline-block;
	position:relative;
	line-height: 40px;
}
.main-menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    opacity: 0.9;
    padding: 10px 15px;
}
.main-menu ul li a:last-child{
	padding: 0;
}
.main-menu ul li a:hover{
	color: #1A202D;
}
.main-menu ul ul{
	text-align:left!important;
    background:#CC8809;
	width:280px;
	display: block;
	position:absolute;
	content: "";
	top: 100px;
	opacity:0;
	visibility:hidden;
	z-index:1; 
	transition:all 0.2s ease;
	transition-delay:0.1s;
}
.main-menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 60px;
}
.main-menu ul ul li{
	display:block;
}
.main-menu ul ul li ul{
    text-align: left!important;
    background: #CC8809;
    width: 180px;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.2s ease;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0;
}
.main-menu ul ul li:hover a{
	background-color: #ffffff;
	color: #CC8809;
}
.main-menu ul ul li a{
	color: #ffffff;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul li:hover ul{
	left:180px;
	opacity: 1;
	visibility: visible;
}
.main-menu ul ul li:hover ul li a{
	background:none;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul ul li ul li a:hover{
	background-color: #ffffff;
	color: #CC8809;
}
.nav-links li a .fa-angle-down{
	padding-left: 5px;
	transition: all 0.3s ease;
}
.nav-links li a:hover .fa-angle-down{
	transform: translateY(5px);
}
.drop-down li a i{
	padding: 0 10px;
	opacity:0;
	visibility:hidden;
	transition:all 0.2s ease;
}
.drop-down li a:hover i{
	opacity:1;
	visibility:visible;
	color: #CC8809;
}
.btn-search {
    padding-right: 20px;
    font-size: 20px;
    color: #ffffff!important;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #BFBFBF;
    display: inherit;
}
.btn-search:hover{
	color: #ffffff;
}
.social-icon ul li{
	display: inline-block;
	padding-left: 10px;
}
.social-icon ul li i{
	text-align: center;
	display: inline-block;
    border-radius: 4px;
	background-color: #ffffff;
	color: #CC8809;
	transition: all 0.4s ease;
}
.header-socials ul li i{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ffffff;
	box-shadow: 0 0 0 0 #CC8809 inset;
}
.header-socials ul li i:hover{
	background-color: #CC8809;
	color: #ffffff;
	box-shadow: 0 0 0 4em #CC8809 inset, 0 5px 15px #CC8809;
}
/* search popup start  */
.td-search-popup.active .search-form {
	visibility: visible;
	opacity: 1;
	width: 40%;
	z-index: 9999;
}
.td-search-popup .search-form {
	width: 35%;
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	transition: all 0.4s ease;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%);
	z-index: 999;
}

.td-search-popup .search-form .form-group .form-control {
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 54px;
	padding: 0 75px 0 25px;
	background: #f7f9fb;
}

.td-search-popup .search-form .form-group .form-control:hover,
.td-search-popup .search-form .form-group .form-control:focus,
.td-search-popup .search-form .form-group .form-control:active {
	outline: 0;
	box-shadow: none;
}
.td-search-popup .search-form .submit-btn {
	position: absolute;
	right: 0;
	top: 0px;
	width: 60px;
	height: 57px;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.4s ease;
	padding: 0;
	text-align: center;
	cursor: pointer;
	color: #CC8809;
	background: none;
	font-size: 20px;
}
.td-search-popup .search-form .submit-btn:hover,
.td-search-popup .search-form .submit-btn:focus,
.td-search-popup .search-form .submit-btn:active {
	outline: 0;
	box-shadow: none;
}

.body-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.95);
	z-index: 999;
	content: "";
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}
.body-overlay.active {
	visibility: visible;
	opacity: 0.97;
}
/*=====================================
 	header area Ends
 ====================================*/
 /*===================================
	4. banner section start
====================================*/	
 .banner-section{
	 background-image: url('../images/banner/index-3.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	 width:100%;
	 height:auto;
	 position: relative;
	 padding-top: 200px;
	 padding-bottom: 188px;
	 z-index: 0;
 }
 .banner-section:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-color:#1A202D;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: -1;
}
.banner-content .text-type{
	color:#CC8809;
	font-size: 65px;
	font-weight:800;
	line-height:75px;
}
.banner-content p {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-right: 40px;
    opacity: 0.8 !important;
}
 #play-btn{
	 color: #ffffff;
	 transition: all 0.4s ease;
}
#play-btn i {
	width: 100px;
	height: 100px;
	color: #ffffff;
	background-color: #CC8809;
	border-radius: 100%;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	animation: video 2.5s linear infinite;
}
.banner-thumnail img{
	width: 802px;
	height: auto;
}
@keyframes video {
	0% {
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
	}
	100% {
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
	}
  }
/*===================================
	banner section Ends
====================================*/
/*===================================
	5. service-section-1 start
====================================*/
.service-box{
	padding: 40px 20px;
	box-shadow:rgb(0 0 0 / 8%) -30px 3px 40px;
	transition: all 0.4s ease;
}	
.service-box:hover{
	transform: translateY(-5px);
}
.service-box:hover .service-icon img{
	background-color: #ffffff;
	animation-iteration-count: 1;
	animation:hover-icon 1s ease-in ;
}
@keyframes hover-icon {
	16.65% {
	  transform: translateX(8px);
	}
	33.3% {
	  transform: translateX(-6px);
	}
	49.95% {
	  transform: translateX(4px);
	}
	66.6% {
	  transform: translateX(-2px);
	}
	83.25% {
	  transform: translateX(1px);
	}
	100% {
	  transform: translateX(0);
	}
  }
/*===================================
	service-section-1 Ends
====================================*/
/*===================================
 	6. about us section start
 ==================================*/
 .aboutus-thumb img {
    width: 100%;
    height: auto;
    padding: 40px;
}
.aboutus-thumb:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    border-bottom: 285px solid #CC8809;
    border-left: 285px solid #CC8809;
    z-index: -1;
    border-radius: 10px;
}
.aboutus-thumb:after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-bottom: 285px solid #ffffff;
    border-left: 285px solid #ffffff;
    z-index: -1;
    border-radius: 10px;
    outline: 2px solid #CC8809;
}
.aboutus-desc{
	padding: 20px;
}
.aboutus-desc .accordion-button {
    color: #1A202D;
    font-size: 20px;
    font-weight: 600;
    background-color: #FAFAFB;
}
.aboutus-desc .accordion-button:not(.collapsed) {
    color: #1A202D;
    background-color: #FAFAFB;
}
.aboutus-desc .accordion-item {
    border: none;
    margin-bottom: 30px;
	box-shadow: rgba(0, 0, 0, 6%) 5px 10px 20px;
}
/*===================================
 	about us section Ends
 ==================================*/
 /*===================================
	7. service section-2 start
====================================*/
.service-section-2{
	background-image: url('../images/service/service-bg-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.service-box-single{
	width: 100%;
	height: auto;
	perspective: 1000px;
	border-radius: 10px;
}
.service-box-inner{
	background-color: #CC8809;
	position: relative;
	width: 100%;
	min-height: 300px;
	text-align: center;
	transition: transform 0.8s;
	border-radius: 10px;
	transform-style: preserve-3d;
}
.service-box-single:hover .service-box-inner{
	transform: rotateY(180deg);
}
.service-box-front {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 50px;
    padding: 40px 33px;
    border-radius: 10px;
}
.service-box-back {
	position: absolute;
	width: 100%;
	min-height: 300px;
	padding-top: 50px;
	background-color: #CC8809;
	color: white;
	transform: rotateY(180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-shadow: rgb(0 0 0 / 10%) 0px 3px 50px;
    padding: 40px 33px;
    border-radius: 10px;
}
.service-box-back h4 a{
	color: #ffffff;
}
.service-box-back p{
	color: #ffffff;
}
.btn-srv i{
	width: 50px;
	height: 50px;
	line-height: 50px;
} 
/*===================================
	service section-2 Ends
====================================*/
/*===================================
	8. project section start
====================================*/
.project-thumb img{
	width: 100%;
	height: auto;
	border-radius: 10px;
	transition: all 0.7s ease;
}
.project-info{
	position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 0 40px;
    overflow: hidden;
    transition: all 1s ease;
	z-index: 1;
}
.project-single{
	position: relative;
	z-index: 0;
	margin: 15px;
}
.project-single:after{
	position: absolute;
	content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: #1A202D;
	opacity: 0;
	z-index: 0;
	transition: all 0.6s ease;
}
.project-single:hover:after{
	opacity: 0.60;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-single:hover .project-thumb img{
	transform: scale(1.1);
}
.project-single:hover .project-info{
	bottom: 30px;	
	opacity: 1;
	visibility: visible;
	z-index: 1;
}
/*===================================
	 project section Ends
====================================*/
/*===================================
	9. choose us section start
====================================*/
.chooseus-thumb img {
    width: 100%;
    height: auto;
    padding-right: 40px;
}
 .chooseus-thumb{
	 position: relative;
 }
#play-btn{
	position: absolute;
	content: "";
    top: 40%;
    left: 37%;
}
.progress-single span {
    position: absolute;
    top: 18px;
	color: #202020;
}
.progressbar {
    margin-bottom: 50px;
}
/*===================================
	choose us section Ends
====================================*/
/*====================================
	10.  team section start
=====================================*/
.team-section h3{
	padding-bottom: 85px;
}
.team-single{
	background-color: #F2F7FF;
	border-radius: 10px;
	padding-bottom: 30px;
	transition: all 0.4s ease;
	transition-delay: 0.1s;
}
.team-single:hover{
	background-color: #CC8809;
}
.team-thumb img{
    width: 80%;
    height: auto;
    border: 10px solid #ffffff;
    margin-top: -100px;
    margin-left: 40px;
}
.team-single:hover h4{
	color: #ffffff;
}
.team-single:hover p{
	color: #ffffff;
}
.team-social {
    position: absolute;
    content: "";
    bottom: 80px;
    left: 120px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    display: inline-block;
	transition: all 0.7s ease;
}
.team-single:hover .team-social{
	opacity: 1;
    visibility: visible;	
	bottom: 145px;
} 
.team-social ul li{
	margin: 5px;
	transform: translateY(20px);
	margin-right: 8px;
	padding: 4px 0;
	display: inline-block;
	transition: all 0.4s ease;
}
.team-single .team-social ul li:nth-child(1) {
	padding-top: 0;
	transition-delay: 0.2s;
  } 
.team-single .team-social ul li:nth-child(2) {
	transition-delay: 0.3s;
}
.team-single .team-social ul li:nth-child(3) {
	transition-delay: 0.4s;
	margin: 0;
}
.team-single:hover .team-social ul li {
	opacity: 1;
	transform: translateY(0);
}
.team-social ul li a i{
	width: 30px;
    height: 30px;
    display: block;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
	color: #CC8809;
	transition: all 0.4s ease-in-out;
}
.team-social ul li a:hover .fa-facebook-f{
	background-color: #2870DE;
	color: #ffffff;
}
.team-social ul li a:hover .fa-twitter{
	background-color: #00ACED;
	color: #ffffff;
}
.team-social ul li a:hover .fa-linkedin-in{
	background-color: #007BB5;
	color: #ffffff;
} 
/*====================================
	team section Ends
=====================================*/	
/*====================================
	11. testimonial section start
======================================*/
.testimonial-bg{
	background-image: url('../images/team/testimonia-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.testimonial-single {
    margin: 0 15px;
    box-shadow: rgb(0 0 0 / 8%) 0px 3px 50px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px;
    user-select: text;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.testimonial-single:last-child{margin: 0;}
.testimonial-single:after{
	position: absolute;
    content: "";
    top: -35px;
    left: 30px;
    background-image: url(../images/icon/quotation.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
	animation:animate 4s linear infinite;
	transform-origin: center;
}
@keyframes animate {
	16%   { transform:scale(1.1); }
	32%  { transform:scale(1.0); }
	48%  { transform:scale(1.1); }
	64%  { transform:scale(1.0); }
	80% { transform:scale(1.1); }
	100% { transform:scale(1.0); }
}
.client-info{padding-left: 20px;}
.client-info h4 a:hover{
	color:#CC8809;
}
.reviews li{
	display: inline-block;
	padding-right: 20px;
}
.reviews .checked{
	color: #CC8809;
}
.reviews .unchecked{
	color: #D3D4A6;
	opacity: 0.3;
}
/*=====================================
	testimonial section Ends
=======================================*/
/*=====================================
	12. blog section start
======================================*/
.blog-single{
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 8%) 0px 3px 50px;
}
.blog-thumb img{
	width: 100%;
	height: auto;
	transition: all 0.4s ease;
}
.blog-single:hover .blog-thumb img{
	transform: scale(1.1);
}
.blog-header ul li{
	display: inline-block;
	padding-right: 30px;
}
.blog-header span {
    font-size: 14px;
    font-weight: 600;
}
.blog-header ul li:last-child{
	margin: 0;
}
.blog-header ul li i{
	color: #CC8809;
	padding-right: 10px;
}
.blog-single h4 a {
    font-size: 20px;
    font-weight: 800;
    transition: all 0.4s ease;
}
.blog-single:hover h4 a{
	color: #CC8809;
}
.blog-single:hover .btn-read{color: #1A202D;}
.blog-action ul li{
	display: inline-block;
}
.blog-action ul li i{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	color: #FF6600;
	background-color: #FFEADC;
	text-align: center;
	line-height: 30px;
	transition: all 0.4s ease;
}
.blog-action ul li i:hover{
	color: #00265E;
}
/*=========================================
	blog section Ends
===========================================*/
/*=====================================
	13. brannd section start
====================================*/
.brand-slider{
	padding: 80px 0;
	border-radius: 16px 16px 0 0;
}
.brand-item{
	margin: 0 10px;
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.main-logo {
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.brand-item:hover .main-logo{
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    filter: grayscale(1);
}
.hover-logo{
	display: block;
	position: absolute;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	top: 0;
	left: 0;
	visibility: hidden;
	transform: translateY(-100%);
}	
.brand-item:hover .hover-logo{
	display: block;
	opacity: 3;
	visibility: visible;
	transform: translateY(0%);
	filter: grayscale(0%);
}
/*=======================================
	brannd section Ends
========================================*/
/*=========================================
	14. footer section start
===========================================*/
.footer-section{
	background-image: url('../images/footer/index-5.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
    z-index: 0;
}
.footer-section:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1A202D;
	opacity: 0.8;
	z-index: -1;
}
.footer-child h4{
    font-size: 26px;
    font-weight: 700;
	color: #ffffff;
}
.footer-child p {
    font-size: 14px;
    opacity: 0.9 !important;
    font-weight: 400;
}
.footer-tittle:after{
	position: absolute;
	content: "";
    bottom: -3px;
	left: 0;
    width: 70px;
    height: 4px;
	border-radius: 3px;
	background-color: #CC8809;
	transition: all 0.4s ease;
}
.footer-tittle:hover:after{
	width: 100px;
}
.footer-socials li a i{
    width: 30px;
    height:30px;
	line-height: 30px;
}
.footer-socials li a:focus{color: #00265E;}
.footer-socials li a:hover .fa-facebook-f{
	background-color: #2870DE;
	color: #ffffff;
	transition: all 0.3s ease;	
}
.footer-socials li a:hover .fa-twitter{
	background-color: #00ACED;
	color: #ffffff;
}
.footer-socials li a:hover .fa-linkedin-in{
	background-color: #007BB5;
	color: #ffffff;
	transition: all 0.3s ease;	
}
.footer-links li span i{
	color:#ffffff;
	opacity: 0.9;
}
.footer-links li:hover span i{
	color: #CC8809;
}
.footer-links li{
    padding-bottom: 12px;
	transition: all 0.4s ease;
}
.footer-links li a{
	font-size: 14px;
	font-weight: 400;
	transition: all 0.3s ease;
	padding-left: 18px;
	color: #ffffff;
}
.footer-links li a:hover{
	color: #ffffff;
}
.footer-links li:hover{
	transform: translateX(5px);
}
.footer-contact li{
	padding-bottom: 12px;
}
.footer-contact li span{
    font-size: 14px!important;
    padding-left: 12px;
	display: block;
	color: #ffffff;
	opacity: 0.9 !important;
}
.footer-contact a{
	font-size: 14px;
	color: #ffffff;
}
.footer-contact i{
	color: #ffffff;
	font-size: 18px;
	opacity: 0.9;
}
.footer-contact a:hover{
	color: #CC8809;
}
.footer-form form input{
	width: 100%;
	height: auto;
	padding: 19px 20px;
	background-color: #ffffff;
	border-radius: 4px;
    line-height: 18px;
	border: none;
	outline: none;
}
::-webkit-input-placeholder{
	color: #CC8809;
	font-size: 16px;
}
.footer-form button{
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 4px;
}
/*  footer-bottom*/
.coppyright-text p{
	font-size: 14px;
	color: #ffffff;
	opacity: 0.9 !important;
}
.coppyright-text p span{
	color:#CC8809;
	font-weight: 800;
	font-size: 18px;
}
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #CC8809;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0 !important;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #CC8809;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #CC8809;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1 !important;
}
.to-top i{
	color: #ffffff;
}
/*==========================================
	footer section Ends
==========================================*/	
/*======slider======*/
.slider-2 .slick-dots {
    display: flex !important;
    margin-top: 0px;
    z-index: 0;
    margin-left: 45%;
}
.slider-2 .slick-dots button {
	font-size: 0;
    width: 20px;
    height: 10px;
    border: 0;
    margin: 4px;
    background-color: #ffffff;
    border-radius: 20px;
    transition: 0.3s;
	border: 1px solid #EACF9C;
}
.slick-dots li{
	padding: 0!important		
}
.slider-2 .slick-dots .slick-active button {
	background-color:#CC8809;
}
.blog-single.slick-slide {
    margin: 40px 15px;
}

