/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]

	1. Typhography
	2. top header
	3. main menu area
	4. banner section
	5. about us section
	6. service section
	7. video section
	8. recent project section 
	9. team section
	10. work section  
	11. testimonial section 
	12. blog section
	13. barnd section
	14. Footer / #footer

-------------------------------------------------------------------*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #404040;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#041B52;
}
p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: #404040;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#FE354D;
	text-decoration:none;
}
a{
	color:#002258;
	text-decoration:none;
	opacity: 0.9;
	transition: all 0.4s ease;
}
span{
	color: #ffffff;
	opacity:0.9;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
::selection {
	background: #FE354D;
	color: #fff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 65px;
	font-weight:800;
	line-height:75px;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 62px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
}
h4 {
	font-size: 22px;
	font-weight:700;
	line-height: 32px;
	
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
.b-primary {
	padding: 20px 30px;
	display: inline-block;
    color: #ffffff;
	font-weight: 500;
    border-radius: 30px;
	line-height: 15px;
	transition: all 0.5s ease;
    background-color: #FE354D;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.b-primary:hover {
    box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.b-primary:focus{color: #ffffff;}
.b-primary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.b-primary:hover i{
	transform: translateX(10px);
	color: #FE354D;
}
.b-primary:focus{
	color: #ffffff;
}
.btn-white{
	padding: 20px 30px;
	display: inline-block;
    box-shadow: 0 0 0 0 #041B52 inset;
    color: #ffffff;
	font-weight: 500;
    border-radius: 30px;
	line-height: 15px;
	transition: all 0.5s ease;
    background-color: #FE354D;
}
.btn-white:hover{
	box-shadow: 0 0 0 4em #ffffff inset, 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.btn-white i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.4s ease;
}
.btn-white:hover i{
	transform: translateX(10px);
	color: #FE354D;
}
.btn-view i{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	background-color: #ffffff;
	color: #FE354D;
	font-size: 20px;
	transition: all 0.7s ease;
	box-shadow: rgb(0 0 0 / 6%) 10px 15px 20px;
}
.btn-view-theme-2{
	box-shadow: 0 0 0 0 #041B52 inset;
}
.btn-view-theme-2:hover i{
	background-color: #041B52;
	transform: scale(0.9);
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
.btn-them-3{
	background-color: #ffffff;
	color:#041B52;
}
.btn-them-3 i{
	color: #041b52;
}
.btn-white:hover{
	background-color: #ffffff !important;
	color: #041B52 !important;
}
.sub-heading{
	color: #FE354D;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: url(../images/banner/sub-heading.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 13px 50px;
	display: inline-block;
	position: relative;
	animation:header-animate 3s linear infinite;
  }
  @keyframes header-animate {
	  0%   { transform: translateX(0); }
	  50%  { transform: translateX(-10px); }
	  100% { transform: translateX(0); }
  }
.pos-relative{
	position: relative;
}
.fix{
	overflow: hidden;
}
form{
	width: 100%;
	height: auto;
	position: relative;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{padding: 120px 0;}
.top-spacing{padding-top: 120px;}
.bottom-spacing{padding-bottom: 120px;}
.p-20{padding: 20px;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-40{padding-top: 40px;}
.pt-65{padding-top: 65px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-22{padding-bottom: 22px;}
.pb-25{padding-bottom: 25px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-50{padding-bottom: 50px;}
.pb-50{padding-bottom: 50px;}
.pb-64{padding-bottom: 64px;}
.pr-10{padding-right: 10px;}
.pr-20{padding-right: 20px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-30{padding-left: 30px;}
.pl-40{padding-left: 40px;}
.ml-30{margin-left: 30px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-60{margin-top: 60px;}
.mt-80{margin-top: 80px;}
.mt-90{margin-top:90px}
.mt-112{margin-top: 112px;}
.mt-110{margin-top: 110px;}
.mb-10{margin-bottom: 10px;}
/*===============================
	2. top header
===============================*/
.top-header{
    background-color: #041B52;
	padding: 4px 0;
}
.header-contact ul li{
	display: inline-block;
	color: #ffffff;
	padding-right: 20px;
	padding-left: 20px;
	border-right: 1px solid #ffffff;
}
.header-contact ul li:first-child{
	padding-left: 0;
}
.header-contact ul li:last-child{
	border: none;
}
.header-contact ul li span{
	font-size: 14px;
}
.header-contact ul li a{
	color: #ffffff;
	font-size: 14px;
}
.header-contact ul li a:hover{
	color: #FE354D;
}
.top-header-inner{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
}
.header-cell{
	border-right: 1px solid #ffffff;
}
.header-right-portion{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.header-right-portion a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.header-right-portion a:hover{
	color: #FE354D;
}
.header-email{
	padding-left: 30px;
	padding-right: 65px;
}
.header-email a{
	color: #ffffff;
	font-size: 14px;
}
.header-contact{
	padding-right: 20px;
	position: relative;
}
.social-icon ul li{
	display: inline-block;
	margin: 5px;
}
.social-icon ul li a i{
    display:inline-block;
    text-align: center;
	transition:all 0.4s ease;
}
.header-socials ul li a i {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    line-height: 20px;
    color: #FE354D;
    font-size: 10px;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.header-socials ul li a:hover i{
	background-color: #FE354D;
	color: #ffffff;
	border: 1px solid #FE354D;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*===================================
	3. main menu area
===================================*/
.sticky {
	position: fixed;
    top: -25px;
    left: 0;
    width: 100%;
    z-index: 2;
    margin-top: 25px;
    margin-bottom: 5px;
	background-color: #FFFFFF;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.main-menu-area{
	line-height: 85px;
}
.main-menu{
	position: relative;
}
.main-menu:before {
    position: absolute;
    content: "";
    top: 0;
    left:-10%;
    width: 100%;
    height: 100%;
    background-color: #FE354D;
    transform: skew(29deg);
    z-index: 0;
}
.main-menu:after {
    position: absolute;
    content: "";
    top: 0;
    left: auto;
    right: -13%;
    width: 100%;
    height: 100%;
    background-color: #FE354D;
    transform: skew(-29deg);
    z-index: -1;
}
.main-menu-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-menu ul{
	text-align: center;
    z-index: 1;
}
.main-menu ul li{
	display:inline-block;
	position:relative;
	line-height: 40px;
}
.main-menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 20px 15px;
}
.main-menu ul li a:last-child{
	padding: 0;
}
.main-menu ul li a:hover{
	color: #041B52;
}
.main-menu ul ul{
	text-align:left!important;
    background:#FE354D;
	width:280px;
	display: block;
	position:absolute;
	content: "";
	top: 110px;
	opacity:0;
	visibility:hidden;
	z-index:1; 
	transition:all 0.2s ease;
}
.main-menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 83px;
}
.main-menu ul ul li{
	display:block;
}
.main-menu ul ul li ul{
    text-align: left!important;
    background: #FE354D;
    width: 180px;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.2s ease;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0px;
}
.main-menu ul ul li:hover a{
	background-color: #041B52;
	color: #ffffff;
}
.main-menu ul ul li a{
	color: #ffffff;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul li:hover ul{
	left:180px;
	opacity: 1;
	visibility: visible;
}
.main-menu ul ul li:hover ul li a{
	background:none;
	color:#ffffff;
}
.main-menu ul ul li ul li a:hover{
	background-color: #041B52;
	color: #ffffff;
}
.nav-links li a .fa-angle-down{
	padding-left: 5px;
	transition: all 0.3s ease;
}
.nav-links li a:hover .fa-angle-down{
	transform: translateY(5px);
}
.drop-down li a i{
	padding: 0 10px;
	opacity:0;
	visibility:hidden;
	transition:all 0.2s ease;
}
.drop-down li a:hover i{
	opacity:1;
	visibility:visible;
	color: #ffffff;
}
.header-search form input{
	width: 100%;
    height: auto;
    padding: 10px 35px 10px 15px;
    line-height: 22px;
    border-radius: 20px;
    border: 1px solid #EEEEEE;
    outline: none;
}
.btn-search{
	position: absolute;
    top: 0px;
    right: 15px;
    background: none;
    color: #FE354D;
    border: none;
}
/*=====================================
 	header area Ends
 ====================================*/
 /*===================================
	4. banner section start
====================================*/	
 .banner-section{
	 background-image: url('../images/banner/index-4.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	 width:100%;
	 height:auto;
	 padding: 220px 0;
	 position: relative;
	 z-index: 0;
 }
 .banner-section:after{
	 position: absolute;
	 content: "";
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: #041B52;
	 opacity: 0.8;
	 z-index: -1;
 }
 .banner-content .text-type{
	 color: #FF354D;
	 font-size: 65px;
	 font-weight:800;
	 line-height:75px;
 }
 .banner-content p{
    padding-top: 10px;
    padding-bottom: 50px;
    color: #ffffff;
	opacity: 0.9!important;
 }
 #play-btn{
     color: #ffffff;
     transition: all 0.4s ease;
}
#play-btn i {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    border-radius: 50%;
    color: #FE354D;
    background-color: #ffffff;
    display: inline-block;
    line-height: 50px;
    position: relative;
    z-index: 0;
    text-align: center;
    animation: video 2.5s linear infinite;
}
/*===================================
	banner section Ends
====================================*/
/*===================================
 	5. about us section start
 ==================================*/
 .aboutus-content h4{
	 font-style: italic;
	 color: #FE354D;
 }
 .aboutus-thumb{
	 margin-right: 30px;
 }
 .aboutus-thumb img{
	border-radius: 10px;
 }
 .aboutus-experience {
    background-color: #FE354D;
    padding: 50px 30px;
    border-radius: 10px;
    width: 330px;
    transform: rotate(270deg);
    position: absolute;
    top: 25%;
    right: -75px;
}
.author-info span{
	display: block;
	font-size: 22px;
	color: #041B52;
	font-weight: 700;
}
.author-info p{
	position: relative;
	padding-left: 80px;
}
.author-info p:before{
	position: absolute;
	content: "";
	top: 12px;
	left: 0;
	width: 70px;
	height: 5px;
	background-color: #FE354D;
}
/*===================================
 	about us section Ends
 ==================================*/
/*===================================
	6. service section start
====================================*/
.service-box{
	background-color: #ffffff;
	border-radius: 8px;
	display: block;
	overflow: hidden;
}
.service-thumb img {
    width: 100%;
	height:auto;
	margin-left: 30px;
	transition: all 0.7s ease;
	transform: scale(1.2);
	overflow: hidden;
}
.service-box:hover .service-thumb img{
	margin: 0;
}
.service-desc{
    background-color: #ffffff;
    padding: 50px 37px 30px 37px;
    box-shadow: rgb(0 0 0 / 8%) 3px 6px 30px;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    bottom: -85px;
    left: 44px;
}
.service-desc h4 a {
    padding-bottom: 10px;
    display: block;
}
.btn-view-theme{
    position: absolute;
    content: "";
    top: -28px;
    left: 40%;
}
.service-box:hover .btn-view-theme i{
	background-color: #FE354D;
	color: #ffffff;
}
.service-box:hover h4 a{
	color:#FE354D;
}
/*===================================
	service section Ends
====================================*/
/*===================================
	7. video section start
===================================*/	
.video-section {
    background-image: url('../images/project/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    position: relative;
    z-index: 0;
    padding-bottom: 150px;
}
.video-section:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #041B52;
	opacity: 0.7;
	z-index: -1;
}
.video-item{
	background-color: #ffffff;
	padding: 35px 40px;
	border-radius: 10px;
	box-shadow: rgb(0 0 0 / 8%) 3px 8px 30px;
}
.video-inner {
    margin-top: 100px;
    position: absolute;
    content: "";
    top: 285px;
    width: 61%;
    height: 100%;
}
#play-btn-2 i{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    border-radius: 50%;
    color: #FE354D;
    background-color: #ffffff;
    display: inline-block;
    line-height: 50px;
	margin-top: 50px;
    position: relative;
    z-index: 0;
    text-align: center;
    animation: video 2.5s linear infinite;
}
@keyframes video {
	0% {
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
	}
	100% {
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
	}
  }
/*===================================
	video section Ends
===================================*/	
/*===================================
	8. recent-project start
====================================*/
.project-header {
    background-color: #041B52;
    border-radius: 10px;
    padding: 95px 30px;
}
.project-single{
	display: block;
	overflow: hidden;
}
.project-thumb img{
	width:100%;
	height: auto;
	border-radius: 10px;
}
.project-info{
	width: 350px;
    height: auto;
	background-color: #FE354D;
    border-radius: 0 10px 0px 10px;
	padding: 20px 30px;
	position: absolute;
	content: "";
	left: -100px;
	bottom: 0px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease;
}
.project-single:hover .project-info{
	left: 0px;	
	opacity: 0.8;
	visibility: visible;
}
.project-info h4:before{
    position: absolute;
    content: "";
    top: 32px;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
}
.project-info h4 a:hover{
	color: #041B52;
}
/*===================================
	recent-project Ends
====================================*/	
/*====================================
	9.  team section start
=====================================*/
.team-single{
	padding:15px;
	background-color:#ffffff;
	border-radius: 8px;
}
.team-thumb img{
	width: 100%;
	height: auto;
	transform: scale(1.0);
    transition: all 0.9s ease;
}
.team-single:hover .team-thumb img{
	transform: scale(1.1);
}
.team-thumb{
	border-radius: 10px;
	z-index: 0;}
.team-thumb:after{
	position: absolute;
	content: "";
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: #FE354D;
	opacity: 0.2;
	border-radius: 10px;
	transition: all 0.7s ease;
	visibility: hidden;
	opacity: 0;
}
.team-single:hover .team-thumb:after{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	visibility: visible;
	opacity: 0.4;
}
.team-info{
	background-color: #ffffff;
	padding: 30px 19px;
	box-shadow: rgb(0 0 0 / 8%) 3px 6px 30px;
	display: inline-block;
	border-radius: 10px;
    width: 80%;
    position: absolute;
	content: "";
    bottom: -45px;
    left: 32px;
}
.team-info h4{
	font-size: 20px;
}
.team-social {
    position: absolute;
    top: 11px;
    left: 55px;
    border-radius: 4px;
	transition: all 0.3s ease;
}
.team-single:hover .team-social{
	top: -11px;
} 
.team-social ul li a i{
	width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #FE354D;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
	color: #ffffff;
	box-shadow: rgb(0 0 0 / 10%) 2px 3px 10px;
	position: relative;
	overflow: hidden;
	transition: all 0.4s ease;
}
.team-single .team-social li {
	opacity: 0;
	z-index: 9;
	transform: translateY(20px);
	margin-right: 8px;
	transition: all 0.5s ease-in-out;
	padding: 4px 0;
	display: inline-block;
}
 .team-single .team-social ul li:nth-child(1) {
	padding-top: 0;
	transition-delay: 0.1s;
  } 
  .team-single .team-social ul li:nth-child(2) {
	transition-delay: 0.2s;
  }
  .team-single .team-social ul li:nth-child(3) {
	transition-delay: 0.3s;
	margin: 0;
  }
  .team-single:hover .team-social ul li {
	opacity: 1;
	transform: translateY(0);
  }
  .team-social ul li a .fa-facebook-f:before{
	position: absolute;
	content: "\f39e";
	top:-30px;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	color:#ffffff;
    background-color: #FE354D;
	visibility: hidden;
	opacity: 0;  
	transition: all 0.4s ease;
  }
  .team-social ul li a .fa-facebook-f:hover:before{
	  top: 0px;
	  visibility: visible;
	  opacity: 1;
  } 
  .team-social ul li a .fa-facebook-f:after{
	position: absolute;
	content: "\f39e";
	bottom: 0;
	right: 0px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	opacity: 1;
	visibility: visible;
    background-color: #FE354D;
	transition: all 0.4s ease;
  }
  .team-social ul li a .fa-facebook-f:hover:after{
	bottom: -50px;
	opacity: 0;
	visibility: hidden;
  } 
  .team-social ul li a .fa-twitter:before{
	position: absolute;
	content: "\f099";
	top:-30px;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	color:#ffffff;
    background-color: #FE354D;
	visibility: hidden;
	opacity: 0;  
	transition: all 0.4s ease;
  }
  .team-social ul li a .fa-twitter:hover:before{
	  top: 0px;
	  visibility: visible;
	  opacity: 1;
  } 
  .team-social ul li a .fa-twitter:after{
	position: absolute;
	content: "\f099";
	left: 0;
	bottom: 0px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	opacity: 1;
	visibility: visible;
    background-color: #FE354D;
	transition: all 0.4s ease;
  }
  .team-social ul li a .fa-twitter:hover:after{
	  bottom: -50px;
	  opacity: 0;
	  visibility: hidden;
  } 
  .team-social ul li a .fa-linkedin-in:before{
	position: absolute;
	content: "\f0e1";
	top:-30px;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	color:#ffffff;
    background-color: #FE354D;
	visibility: hidden;
	opacity: 0;  
	transition: all 0.4s ease;
  }
  .team-social ul li a .fa-linkedin-in:hover:before{
	  top: 0px;
	  visibility: visible;
	  opacity: 1;
  } 
  .team-social ul li a .fa-linkedin-in:after{
	position: absolute;
	content: "\f0e1";
	bottom: 0;
	right: 0px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	opacity: 1;
	visibility: visible;
    background-color: #FE354D;
	transition: all 0.4s ease;
  }
  .team-social ul li a .fa-linkedin-in:hover:after{
	bottom: -50px;
	opacity: 0;
	visibility: hidden;
  } 
/*====================================
	team section Ends
=====================================*/	
/*===================================
	10. work section start
=====================================*/
.work-section {
    background-image: url('../images/project/work-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 110px;
    padding-bottom: 170px;
    position: relative;
    z-index: 0;
}
.work-section:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FE354D;
	opacity: 0.9;
	z-index: -1;
}
.work-counter{
	background-color: #ffffff;
    border-radius: 10px;
    padding: 50px 100px;
    box-shadow: rgb(0 0 0 / 8%) 3px 6px 30px;
    position: absolute;
    width: 60%;
    height: auto;
    bottom: -73px;
    z-index: 0;
}
.counter-item h2{
	position: relative;
	padding-bottom: 12px;
	z-index: 0;
	display: inline-block;
}
.counter-item span {
    display: block;
    font-size: 22px;
    color: #041B52;
}
.counter-item h2:after {
    position: absolute;
    content: "+";
    top: 4px;
    right: -28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    border-radius: 100%;
    background-color: #FE354D;
    z-index: -1;
}
/*===================================
	work section Ends
=====================================*/	
/*====================================
	11. testimonial section start
======================================*/
.testimonial-item {
    padding: 40px 25px;
    box-shadow: rgb(0 0 0 / 6%) 3px 8px 20px;
    border-radius: 8px;
    user-select: text;
    position: relative;
}
.testimonial-item:after {
    position: absolute;
    content: "";
    top: 50px;
    left: 100px;
    width: 46%;
    height: 29%;
    background-image: url(../images/team/quote.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}
.testimonial-item:last-child{margin-right: 0;}
.client-thumb img {
    width: 30%!important;
    height: auto;
    display: block;
    margin: 0 auto;
}
.reviews .checked{
	padding-top: 10px;
	color: #FE354D;
}
.reviews .unchecked{
	padding-top: 10px;
	color: #FE354D;
	opacity: 0.4;
}
/*=====================================
	testimonial section Ends
=======================================*/
/*=====================================
	12. blog section start
======================================*/
.blog-thumb img{
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0 0;
	transition: all 0.7s ease;
}
.blog-single{
	box-shadow: rgb(0 0 0 / 5%) 3px 6px 30px;
}
.blog-single:hover .blog-thumb img{
	transform: scale(1.1);
}
.blog-single span{
	color: #404040;
}
.blog-date{
	background-color: #FE354D;
	display: inline-block;
	padding: 10px 17px;
	border-radius: 0 0 0 8px;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
}
.blog-content{
	padding: 15px 20px 30px 20px;
	border-radius: 0 0 8px 8px;
}
.blog-header ul li{
	display: inline-block;
	padding-right: 20px;
}
.blog-header ul li:last-child{
	margin: 0;
}
.blog-header ul li i{
	color: #FE354D;
	padding-right: 10px;
}
.blog-single:hover h4 a{
	color: #FE354D;
}
/*=========================================
	blog section Ends
===========================================*/
/*=====================================
	13. brannd section start
====================================*/
.brand-slider{
	padding: 80px 0;
	border-radius: 16px 16px 0 0;
}
.brand-item{
	margin: 0 10px;
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.main-logo {
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.brand-item:hover .main-logo{
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    filter: grayscale(1);
}
.hover-logo{
	display: block;
	position: absolute;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	top: 0;
	left: 0;
	visibility: hidden;
	transform: translateY(-100%);
}	
.brand-item:hover .hover-logo{
	display: block;
	opacity: 3;
	visibility: visible;
	transform: translateY(0%);
	filter: grayscale(0%);
}
/*=======================================
	brannd section Ends
========================================*/
/*=========================================
	15. footer section start
===========================================*/
.footer-section{
	background-image: url('../images/footer/index-4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
    z-index: 0;
	padding-top: 80px;
}
.footer-section:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #041B52;
    opacity: 0.9;
}
.footer-child h4{
    font-size: 26px;
    font-weight: 700;
}
.footer-section p{
	opacity: 0.8;
	font-size: 14px;
}
.footer-tittle:after{
	position: absolute;
	content: "";
    bottom: -3px;
	left: 0;
    width: 70px;
    height: 4px;
	border-radius: 2px;
	background-color: #FE354D;
	transition: all 0.4s ease;
}
.footer-tittle:hover:after{
	width: 100px;
}
.footer-socials ul li a i{
    width: 30px;
    height: 30px;
    background-color:#ffffff;
	color: #FE354D;
    border-radius:100%;
    line-height: 30px;
	font-size: 14px;
    margin-right: 8px;
	border: 1px solid #ffffff;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.footer-socials ul li a:focus{color: #00265E;}
.footer-socials ul li a:hover i{
	color: #FE354D;
	border: 1px solid #ffffff;
	transition: all 0.3s ease;	
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
.footer-links li span{
	width: 10px;
	height: 10px;
	background-color: #FFEADC;
	border-radius: 100%;
	display: inline-block;
}
.footer-links li:hover span{
	background-color:#FE354D;
}
.footer-links li{
    padding-bottom: 12px;
	transition: all 0.4s ease;
}
.footer-links li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
    padding-left: 18px;
    opacity: 0.8;
}
.footer-links li:hover{
	transform: translateX(5px);
}
.footer-contact ul li span{
	padding-left: 10px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	transition: all 0.4s ease;
}
.footer-contact li a:hover span{
	color: #FE354D;
}
.footer-form form input{
	padding: 19px 20px;
	background-color: #ffffff;
	border-radius: 30px;
    line-height: 18px;
	border: none;
	outline: none;
	display: block;
}
.footer-form button{
	border: none;
	outline: none;
	margin-top: 12px;
}
/* footer bottom   */
.footer-bottom{
	padding-top: 75px;
	padding-bottom: 30px;
}
.footer-bottom span{
	color: #FF586C;
	font-weight: 800;
	font-size: 18px;
}
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1; 
}
.to-top i{
	color: #ffffff;
}
/*==========================================
	footer section Ends
==========================================*/	
/*======slider======*/
.slider-2 .slick-slide {
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.slider-2 .slick-dots {
    display: flex !important;
    margin-top: 0px;
    z-index: 0;
    margin-left: 45%;
}
.slider-2 .slick-dots button {
	font-size: 0;
    width: 14px;
    height: 14px;
    border: 0;
    margin: 4px;
    background-color: #E4C7CE;
    border-radius: 20px;
    transition: 0.3s;
}
.slider-2 .slick-dots .slick-active button {
    width: 24px;
	height: 14px;
	background-color:#FE354D;
}

