/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]

	1. Typhography
	2. top header
	3. mid header
	4. main menu area
	5. banner section
	6.contact-section start
	7. about us section
	8. service section
	9. choose us section
	10. work section
	11. case study section
	12. team section
	13. testimonial section 
	14. blog section
	15. brand section
	16. footer section

-------------------------------------------------------------------*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #404040;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#041B52;
}
p {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    color: #404040;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#FE354D;
	text-decoration: none;
}
a {
    color: rgb(64, 64, 64);
    text-decoration: none;
    font-weight: 600;
    opacity: 0.9;
    transition: all 0.4s ease 0s;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
::selection {
	background: #FF586C;
	color: #ffffff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 65px;
	font-weight:800;
	line-height:75px;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 62px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
	opacity: 0.9 !important;
}
h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    opacity: 0.9;
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
form{
	width: 100%;
	height: auto;
	position: relative;
}
.b-primary {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FE354D;
    padding: 19px 24px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    line-height: 16px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.9s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.b-primary:hover{
	background-color:#002258;
	color: #ffffff;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
.b-primary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.b-primary:hover i{
	transform: translateX(10px);
	color: #FE354D;
}
.b-primary:focus{
	color: #ffffff;
}
.b-secondary {
    font-family: 'Nunito Sans', sans-serif;
    padding: 19px 24px;
    display: inline-block;
    border-radius: 4px;
    line-height: 16px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.9s ease;
    border: 1px solid #FE354D;
    color: #FE354D;
    position: relative;
}
.b-secondary:hover{
	border: 1px solid #00265E;	
	color: #041B52;
}
.b-secondary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #FE354D;
	transition: all 0.3s ease;
}
.b-secondary:hover i{
	transform: translateX(10px);
	color: #FE354D;
}
.btn-them-1{
	transition: all 0.4s ease;
}
.btn-them-1:hover{
	background:none;
	color: #FE354D;;
}
.btn-view i{
    line-height: 14px;
	width: 40px;
	height: 40px;
	line-height: 40px;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    text-align: center;
    background-color: #FE354D;
    color: #ffffff;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.btn-view:hover i{
	background-color: #041B52;
	color: #FE354D;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
.btn-view-theme i{
    background-color: #ffffff;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: #FF6600;
}
.btn-view-theme i:hover{
	background-color: #041B52;
	color: #ffffff;
}
.read-more-btn {
    display: inline-block;
    transition: all 0.4s ease;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #FE354D;
	transition: all 0.4s ease;
}
.read-more-btn i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #FE354D;
	display: inline-block;
	text-align: center;
	transition: all 0.4s ease;
}
.read-more-btn span {
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	margin-left: -96px;
	padding-left: 15px;
	transition: all 0.4s ease;
}
.read-more-btn:hover i {
	transform: translateX(5px);
}
.sub-heading {
    color: rgb(254, 53, 77);
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Nunito, sans-serif;
    display: inline-block;
    opacity: 0.9;
}
.pos-relative{
	position: relative;
}
.fix{
	overflow: hidden;
}
.text-color-blue{
	color: #00265E;
}
form{
	width: 100%;
	height: auto;
	position: relative;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{padding: 120px 0;}
.top-spacing{padding-top: 120px;}
.bottom-spacing{padding-bottom: 120px;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}
.pt-65{padding-top: 65px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-22{padding-bottom: 22px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-50{padding-bottom: 50px;}
.pb-64{padding-bottom: 64px;}
.pl-10{padding-left: 10px;}
.pl-20{ padding-left: 20px;}
.pr-10{padding-right: 10px;}
.pr-20{padding-right: 20px;}
.pr-40{padding-right: 40px;}
.pl-30{padding-left: 30px;}
.p-20{padding: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.ml-30{margin-left: 30px;}
.mt-60{margin-top: 60px;}
.mb-90{margin-bottom: 92px;}
/*===============================
	2. top header
===============================*/
.top-header{
    background-color: #FE354D;
    line-height: 50px;
}
.header-location li i{
	color: #ffffff;
	display: inline-block;
}
.header-location span{
	display: inline-block;
    font-size: 14px;
	color: #ffffff;
	padding-left: 5px;
	opacity: 0.9 !important;
}
.top-header-inner{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;	
    line-height: 35px;
}
.social-icon ul li{
	display: inline-block;
	margin: 5px;
}
.social-icon ul li a i{
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.header-socials ul li a i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 4px;
    color: #FE354D;
    font-size: 10px;
    transition: all 0.3s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.header-socials ul li a:hover i{
	color: #ffffff;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*===================================
	3. mid header start 
===================================*/
.mid-header{
    padding: 12px 0;
}
.mid-header-section {
    width: 50%;
    height: auto;
}
.contact-info h4{
	font-size: 20px;
	font-weight: 800;
}
.contact-info a {
    font-size: 14px;
}
.contact-box .icon i {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 33px;
    color: #FE354D;
}
/*===================================
	4. main menu start 
===================================*/
.sticky {
	position: fixed;
    top: -25px;
    right: 0;
    width: 100%;
    z-index: 2;
    margin-top: 25px;
    margin-bottom: 5px;
	background-color: #FFFFFF;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.main-menu-area{
	background-color: #041B52;
	z-index: 1;
	line-height: 90px;
}
.logo-style-1{display: none;}
.main-menu-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-menu ul{
	text-align: center;
    z-index: 1;
}
.main-menu ul li{
	display:inline-block;
	position:relative;
	line-height: 40px;
}
.main-menu ul li a {
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 25px 15px;
}
.main-menu ul li a:last-child{
	padding: 0;
}
.main-menu ul li a:hover{
	color: #FE354D;
}
.main-menu ul ul{
	text-align:left!important;
    background:#002258;
	width:280px;
	display: block;
	position:absolute;
	content: "";
	top: 120px;
	opacity:0;
	visibility:hidden;
	z-index:1; 
	transition:all 0.2s ease;
}
.main-menu ul li:hover ul{
	opacity: 1;
	top: 90px;
	visibility: visible;
}
.main-menu ul ul li{
	display:block;
}
.main-menu ul ul li ul{
    text-align: left!important;
    background: #002258;
    width: 180px;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.2s ease;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0;
}
.main-menu ul ul li:hover a{
	background-color: #FE354D;
	color: #ffffff;
}
.main-menu ul ul li a{
	color: #ffffff;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul li:hover ul{
	left:180px;
	opacity: 1;
	visibility: visible;
}
.main-menu ul ul li:hover ul li a{
	background:none;
	color:#ffffff;
}
.main-menu ul ul li ul li a:hover{
	background-color: #FE354D;
	color:#ffffff;
}
.nav-links li a .fa-angle-down{
	padding-left: 5px;
	transition: all 0.3s ease;
}
.nav-links li a:hover .fa-angle-down{
	transform: translateY(5px);
}
.drop-down li a i{
	padding: 0 10px;
	opacity:0;
	visibility:hidden;
	transition:all 0.2s ease;
}
.drop-down li a:hover i{
	opacity:1;
	visibility:visible;
	color: #ffffff;
}
.header-search form{
	position: relative;
	width: 100%;
	height: auto;
}
.header-search form input {
    width: 100%;
    height: auto;
    padding: 10px 40px 10px 22px;
    line-height: 24px;
    border-radius: 20px;
    border: 1px solid #EEEEEE;
    background: none;
    outline: none;
    color: #ffffff;
}
.btn-search{
    position: absolute;
    top: 20px;
    right: 0px;
	padding: 18.5px 20px;
    outline: none;
    line-height: 18px;
    font-size: 18px;
    background: none;
    color: #ffffff;
    border: none;
	cursor: pointer;
}
/*=====================================
 	header area Ends
 ====================================*/
 /*===================================
	5. banner section start
====================================*/	
 .banner-section{
	 background-image: url('../images/banner/index-2.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	 width:100%;
	 height:auto;
	 position: relative;
	 z-index: 0;
	 padding-top: 160px;
	 padding-bottom: 140px;
 }
 .banner-section:after{
	 position: absolute;
	 content: "";
	 top: 0;
	 left: 0;
	 background-color:#041B52;
	 height: 100%;
	 width: 100%;
	 opacity: 0.5;
	 z-index: -1;
 }
 .banner-content .text-type{
	 color:#FE354D;
	 font-size: 65px;
	 font-weight:800;
	 line-height:75px;
 }
 .banner-content p {
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    opacity: 0.9 !important;
}
 #play-btn{
	 color: #ffffff;
	 transition: all 0.4s ease;
}
#play-btn i{
    width: 60px;
    height: 60px;
    margin-left: 25px;
	border-radius: 50%;
    display: inline-block;
    line-height: 60px;
	background-color: #ffffff;
	color: #FE354D;
    position: relative;
    z-index: 0;
    text-align: center;
    animation: video 2.5s linear infinite;
}
@keyframes video {
	0% {
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
	}
	100% {
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
	}
  }
.banner-thumnail img{
	width: 802px;
	height: auto;
}
/*===================================
	banner section Ends
====================================*/
/*===================================
	6. contact-section start
====================================*/
.contact-section{
	padding-top: 100px;
	position: absolute;
	content: "";
    left: 0;
    top: 85%;
	width: 100%;
	height: 100%;
}
 .contact-bg{
	 background-image: url('../images/banner/shape.jpg');
	 background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	 padding: 58px 70px;
	 margin-top: -100px;
	 box-shadow: rgb(0 0 0 / 10%) 3px 5px 15px;
	 border-radius: 8px;
 }
 .contact-icon i{
	 font-size: 80px;
	 color: #ffffff;
 }
/*===================================
	contact-section Ends
====================================*/
/*===================================
 7. about us section start
 ==================================*/
 .aboutus-thumb img {
    width: 100%;
    height: auto;
    padding: 0 30px 10px 10px;
}
 .aboutus-thumb{
	position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
}
.aboutus-thumb:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border: 200px solid #041B52;
    z-index: -1;
}
 .aboutus-counter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
 .counter-item{
	 width: 50%;
	 height: auto;
	 display: block;
 }
 .counter-text h4 {
    font-weight: 800;
    position: relative;
    color: #FE354D;
    display: inline-block;
}
 .counter-text h4:after {
    position: absolute;
    content: "+";
    bottom: 2px;
    font-size: 30px;
    color: #FE354D;
}
.counter-icon img {
    width: 50px;
    height: auto;
    padding: 4px;
}
.counter-item:hover .counter-icon img{
	animation-iteration-count: 1;
	animation: hover-icon 1s ease-in;
}
@keyframes hover-icon{
	16.65% {
	  transform: translateX(8px);
	}
	33.3% {
	  transform: translateX(-6px);
	}
	49.95% {
	  transform: translateX(4px);
	}
	66.6% {
	  transform: translateX(-2px);
	}
	83.25% {
	  transform: translateX(1px);
	}
	100% {
	  transform: translateX(0);
	}
  }
/*===================================
 	about us section Ends
 ==================================*/
/*===================================
	8. service section start
====================================*/
.service-section{
	background-image: url('../images/service/service-bg.jpg');
	background-repeat: repeat;
	background-size: cover;
}
.service-box{
	background-color: #ffffff;
	padding: 40px 25px;
    box-shadow: rgb(0 0 0 / 6%) 3px 8px 20px;
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease;
}
.service-box:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 50px solid transparent;
    border-top: 50px solid #041B52;
    border-left: 50px solid #041B52;
}
.service-box:after{
	content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 50px solid transparent;
    border-right: 50px solid #FE354D;
    border-bottom: 50px solid #FE354D;
}
.service-box:hover{
	background-color: #FE354D;
}
.service-box:hover:before{display: none;}
.service-box:hover:after{display: none;}
.service-box .service-icon i {
    font-size: 60px;
    border-radius: 4px;
    color: #FE354D;
    transition: all 0.5s ease;
    line-height: 50px;
    display: inline-block;
}
.service-box:hover .service-icon i{
	color:#ffffff;
	animation: hover-icon 1s ease-in-out;
	animation-iteration-count: 1;
}
.service-box:hover h4 a{
	color:#ffffff;
}
.service-box:hover p{
	color:#ffffff;
}
.service-desc h4 a{transition: all 0.5s ease;}
.service-desc h4{
	padding-top: 20px;
	padding-bottom: 10px;
}
.service-desc h4 a:hover{
	color:#041B52;
}
.service-box:hover .button .read-more-btn span {
	margin-left: 0;
  }
  .service-box:hover .button .read-more-btn i {
	color: #ffffff;
  }  
/*===================================
	service section Ends
====================================*/
/*===================================
	9. choose us section start
====================================*/
 .chooseus-thumb img{
	 width: 100%;
	 height: auto;
	 padding: 10px;
 }
 .chooseus-thumb{
	 position: relative;
	 padding: 20px;
 }
 .chooseus-thumb:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 100px solid transparent;
    border-top: 100px solid #041B52;
    border-left: 100px solid #041B52;
    z-index: -1;
}
 .chooseus-thumb:after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	border: 100px solid transparent;
	border-right: 100px solid #FE354D;
	border-bottom: 100px solid #FE354D;
	z-index: -1;
 } 
 .chart {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 175px;
    height: 175px;
}
canvas{
	position: absolute;
    left: 30px;
    top: 42px;
    height: 120px!important;
    width: 120px!important;
}
.parcent{
    line-height: 202px;
    color: #FE354D;
}
.parcent:after{
	content:"%";
}
/*===================================
	choose us section Ends
====================================*/
/*===================================
	10. work-section start
====================================*/
.work-icon {
    border-radius: 100%;
    border: 2px dashed #FE354D;
    width: 170px;
    height: 170px;
    line-height: 170px;
    text-align: center;
	display: inline-block;
}
.work-icon img {
    max-width: 70px;
    height: auto;
    display: inline-block;
    overflow: hidden;
}
.work-icon:after {
    position: absolute;
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    top: 0;
    right: -25px;
    color: #FE354D;
    font-size: 30px;
    font-weight: 900;
	animation:move-icon 4s linear infinite;
}
@keyframes move-icon {
	0%   { transform: translateX(0); }
	50%  { transform: translateX(-20px); }
	100% { transform: translateX(0); }
}
 .work-item-last:after{
	 display: none;
 }
 .work-item h4{
	 padding-top: 20px;
	 font: 26px;
	 font-weight: 700;
 }
 .work-item h2:after{
    position: absolute;
    content: "\f067";
    top: 20px;
    right: 55px;
    font-size: 35px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
 }
 /*===================================
	work-section Ends
====================================*/
/*===================================
	11. case study section start
====================================*/
.case-study-box {
    z-index: 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.case-study-thumb img{
	width: 100%;
	height: auto;
}
.case-study-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FE354D;
    color: #fff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: scale(1.2);
    opacity: 0;
    visibility: hidden;
}
.case-study-box:hover .case-study-info{
	transform: scale(1.0);
	visibility: visible;
	opacity: 0.8;
}
/*===================================
	 case study section Ends
====================================*/
/*====================================
	12.  team section start
=====================================*/
.team-single {
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 8%) 3px 8px 15px;
    border-radius: 10px;
    min-height: 373px;
    overflow: hidden;
    display: block;
    position: relative;
}
.team-thumb img{
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
    transition: all 0.7s ease;
}
.team-single:hover .team-thumb img{
	transform: scale(1.1);
}
.team-content {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
	background-color: #ffffff;
	transition: all 0.7s ease;	
	transition-delay: 0.1s;
}
.team-content p{
	padding-top: 5px;
	padding-bottom: 15px;
	color: #202020;
}
.team-social{
	visibility: hidden;
	opacity: 0;
    transform: translateY(100%);
	transition: all 0.4s ease;
	transition-delay:0.1s;
}
.team-single:hover .team-content{
	background-color: #FF586C;
	height: 40%;
}
.team-single:hover .team-social{
	visibility: visible;
	opacity: 1;
    transform: translateY(0);
	transition: all 0.4s ease;	
}
.team-social ul li{
	margin: 5px;
	transform: translateY(20px);
	margin-right: 8px;
	padding: 4px 0;
	display: inline-block;
	transition: all 0.4s ease;
}
.team-single .team-social ul li:nth-child(1) {
	padding-top: 0;
	transition-delay: 0.2s;
  } 
.team-single .team-social ul li:nth-child(2) {
	transition-delay: 0.3s;
}
.team-single .team-social ul li:nth-child(3) {
	transition-delay: 0.4s;
}
.team-single .team-social ul li:nth-child(4) {
	transition-delay: 0.4s;
	margin: 0;
}
.team-single:hover .team-social ul li {
	opacity: 1;
	transform: translateY(0);
}
.team-single:hover h4{
	color: #ffffff;
}
.team-single:hover p{
	color: #ffffff;
}
.team-social ul li{
	display: inline-block;
	margin: 5px;
}
.team-social ul li a i{
	width: 30px;
    height: 30px;
    display: block;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
	color: #FE354D;
	transition: all 0.4s ease;
}
.team-social ul li a:hover .fa-facebook-f{
	color: #3B5998;
}
.team-social ul li a:hover .fa-twitter{
	color: #00ACED
}
.team-social ul li a:hover .fa-linkedin-in{
	color: #007BB5
}
.team-social ul li a:hover .fa-youtube{
	color: #CB2027
}

/*====================================
	team section Ends
=====================================*/	
/*====================================
	13. testimonial section start
======================================*/
.testimonial-bg{
	background-image: url('../images/team/testimonia-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.testimonial-single {
    box-shadow: rgb(0 0 0 / 6%) 3px 8px 20px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px;
    position: relative;
    margin: 0 20px 30px 15px !important;
}
.testimonial-single:last-child{margin-right: 0;}
.testimonial-single:after{
    position: absolute;
    content: "";
    top: 6px;
    right: 0px;
    background-image: url(../images/icon/quote-mark.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
	animation: animate 4s linear infinite;
	transform-origin: bottom;
}
@keyframes animate {
	16%   { transform:scale(1.1); }
	32%  { transform:scale(1.0); }
	48%  { transform:scale(1.1); }
	64%  { transform:scale(1.0); }
	80% { transform:scale(1.1); }
	100% { transform:scale(1.0); }
}
.client-info{padding-left: 20px;}
.reviews .checked{
	color: #FE354D;
}
/*=====================================
	testimonial section Ends
=======================================*/
/*=====================================
	14. blog section start
======================================*/
.blog-single{
	background-color: #ffffff;
	border-radius: 8px;
	position: relative;
}
.blog-thumb img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: all 0.7s ease;
}
.blog-single:hover .blog-thumb img{
	transform: scale(1.1);
}
.blog-content {
    padding: 20px 20px 20px 30px;
    box-shadow: rgb(0 0 0 / 5%) 3px 10px 20px;
    position: absolute;
    content: "";
    bottom: -98px;
    left: 35px;
    background-color: #ffffff;
    border-radius: 8px;
}
.blog-content p{
	border-bottom: 1px solid #E9E9E9;
}
.blog-react li{
	display: inline-block;
}
.blog-header ul li:last-child{
	margin: 0;
}
.blog-react li .fa-user{
	color: #FE354D;
}
.blog-react li .fa-comment-alt{
	color: #FE354D;
}
.blog-single h4 a{transition: all 0.4s ease;}
.blog-single:hover h4 a{
	color: #FE354D;
}
/*=========================================
	blog section Ends
===========================================*/
/*=====================================
	15. brand section start
====================================*/
.brand-slider{
	padding: 80px 0;
	border-radius: 16px 16px 0 0;
}
.brand-item{
	margin: 0 10px;
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.main-logo {
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.brand-item:hover .main-logo{
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    filter: grayscale(1);
}
.hover-logo{
	display: block;
	position: absolute;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	top: 0;
	left: 0;
	visibility: hidden;
	transform: translateY(-100%);
}	
.brand-item:hover .hover-logo{
	display: block;
	opacity: 3;
	visibility: visible;
	transform: translateY(0%);
	filter: grayscale(0%);
}
/*=======================================
	brand section Ends
========================================*/
/*=========================================
	16. footer section start
===========================================*/
.footer-section{
	background-image: url('../images/footer/index-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
    z-index: 0;
}
.footer-section:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #041B52;
    opacity: 0.9;
}
.footer-section p{
	font-size: 14px;
}
.footer-child h4{
    font-size: 26px;
    font-weight: 700;
}
.footer-tittle:after{
	position: absolute;
	content: "";
    bottom: -3px;
	left: 0;
    width: 70px;
    height: 4px;
	border-radius: 2px;
	background-color: #FE354D;
	transition: all 0.4s ease;
}
.footer-tittle:hover:after{
	width: 100px;
}
.footer-socials ul li a i{
    width: 30px;
    height: 30px;
    display: block;
    background-color:#ffffff;
	color: #FE354D;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    margin-right: 8px;
	font-size: 12px;
	transition: all 0.4s ease;
	border: 1px solid #ffffff;
	box-shadow: 0 0 0 0 #FE354D inset;
}
.footer-socials ul li a:hover i{
	background-color:#FE354D;
	color: #ffffff;
	border: 1px solid #FE354D;
	box-shadow: 0 0 0 4em #FE354D inset, 0 5px 15px #00265E;
}
.footer-socials ul li a:focus{color: #00265E;}
.footer-links li span i{
	color: #ffffff;
	font-size: 14px;
	opacity: 0.9;
}
.footer-links li:hover span i{
	color:#FE354D;
}
.footer-links li{
    padding-bottom: 12px;
	transition: all 0.4s ease;
	display: flex;
}
.footer-links li a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	transition: all 0.3s ease;
	padding-left: 18px;
	display: block;
}
.footer-links li:hover{
	transform: translateX(5px);
}
.footer-contact h5{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
}
.footer-contact ul li{
	padding-bottom: 12px;
}
.footer-contact ul li i{
	color: #ffffff;
	font-size: 16px;
	padding-right: 18px;
	opacity: 0.9;
	transition: all 0.4s ease;
}
.footer-contact span{
	font-size: 14px!important;
	color: #ffffff;
}
.footer-contact a{
	font-size: 14px;
	color: #ffffff;
}
.footer-contact a:hover{
	color: #FE354D;
}
/*  consult-section  */
.consult-section{
	background-color: #ffffff;
	padding: 50px 15px;
	border-radius: 10px;
	margin-top: 35px;
	position: relative;
	animation: move 4s linear infinite;
	transform-origin: bottom;
}
@keyframes move {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}
.consult-section:before {
    position: absolute;
    content: "";
    left: 65px;
    top: 0;
    background-image: url('../images/icon/email.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 100%;
    background-size: 80px;
    opacity: 0.2;
}
/*  footer-bottom*/
.coppyright-text p{
	font-size: 14px;
	color: #ffffff;
	opacity: 0.9;
}
.coppyright-text p span{
	color:#FE354D;
	font-weight: 800;
	font-size: 18px;
}
.footer-meta-contact li{
	display: inline-block;
	padding-right: 15px;
}
.footer-meta-contact li a{
	color: #ffffff;
	font-size: 14px;
	opacity: 0.9;
}
.footer-meta-contact li a:hover{
	color: #FE354D;
}
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1; 
}
.to-top i{
	color: #ffffff;
}
/*==========================================
	footer section Ends
==========================================*/	
/*======slider======*/
.slider-2 .slick-dots {
    display: flex !important;
    margin-top: 0px;
    z-index: 0;
    margin-left: 45%;
}
.slider-2 .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    margin: 10px;
    background: #FE354D;
    border-radius: 100%;
    transition: all 0.4s ease;
    border: 4px solid #ffffff;
    outline: 2px solid #FE354D;
}
.slick-dots li{
	padding: 0!important		
}
.slider-2 .slick-dots .slick-active button {
    width: 26px;
    height: 12px;
    background-color: rgb(254, 53, 77);
    border-radius: 10px;
}
.slider-2 .slick-slide {
    margin-bottom: 50px;
	margin-top: 10px;
	margin-left: 10px;
}


