/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #202020;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#1A202D;
}
p {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    color: #202020;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#FE354D;
	text-decoration:none;
}
a{
	color:#1A202D;
	text-decoration:none;
	opacity: 0.9 !important;
	transition: all 0.4s ease;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
::selection {
	background: #FE354D;
	color: #ffffff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 65px;
	font-weight:800;
	line-height:75px;
  color: #ffffff;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 62px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
	opacity: 0.9 !important;
  color: #001064;
}
h4 {
	font-size: 22px;
	font-weight:700;
	line-height: 32px;
	opacity: 0.9 !important;
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
.default-btn {
    background-color: #FE354D;
    color: #fff;
    padding: 14px 35px;
    border-radius: 30px;
    font-size: 16px;
    display: inline-block;
    line-height: 23px;
    font-weight: 700;
    transition: all 0.7s ease;
}
.default-btn:hover{
	background-color:#130947;  
	color: #ffffff;
}
.default-btn:focus{
	color: #ffffff;
}
.btn-white:hover{
  background-color: #ffffff; 
  color: #1A202D;
}
.btn-theme{
  background-color: #163566;
  color: #fff;
  padding: 14px 35px;
  border-radius: 30px;
  font-size: 16px;
  display: inline-block;
  line-height: 23px;
  font-weight: 700;
  opacity: 1;
  transition: all 0.7s ease;
  margin: 0 auto;
}
.btn-theme:hover{
  color: #ffffff; 
}
.pos-relative{position: relative;}
.section-title-bg {
  position: absolute;
  content: "";
  top: 55px;
  width: 100%;
  height: auto;
  animation: move 4s linear infinite;
}
@keyframes move{
  0%{transform: translateX(0);}
  50%{transform: translateX(20px);}
  100%{transform: translateX(0px);}
}
.sub-heading{
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #FE354D;
}
.section-title.pos-relative {
  z-index: 1;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{padding: 120px 0;}
.top-spacing{padding-top:120px}
.mb-60{margin-bottom: 60px;}
.pb-20{padding-bottom: 20px;}
/*=====================================
    header area start
=====================================*/
.sticky {
	position: fixed;
    top: -25px;
    right: 0;
    width: 100%;
    z-index:99999;
    margin-top: 25px;
    margin-bottom: 5px;
    background: #ffffff;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.header-area .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 80px;
}
.main-menu ul{
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.main-menu ul li{
	display:inline-block;
	position:relative;
	line-height: 40px;
}
.main-menu ul li a {
  font-size: 18px;
  color: #130947;  
  padding: 0 15px !important;
  font-weight: 700;
}
.main-menu ul li a:last-child{
	padding: 0;
}
.main-menu ul li a:hover{
    color:#FE354D;
}    
.canvas_open{
  margin-left: 20px;
}
/*==========================
    banner section start
===========================*/    
.banner-section {
  background-image: url('../assets/images/banner/slider/slider.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}
.banner-section:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #041B52;
  opacity: 0.8;
  z-index: -1;
}
/*==========================
    banner section start
===========================*/    
/*==============================
    home page demo start
===============================*/
.demo-home-page {
  background: #ffffff;
  overflow: hidden;
}
.demo-thumbnail img {
  width: 100%;
  height: auto;
  transition: all 0.4s ease;
  padding-bottom: 30px;
}
.demo-box {
  z-index: 0;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  border-radius: 4px;
  transition: all 0.4s ease;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.demo-box:hover{
  transform: translateY(-10px);
} 
.demo-thumbnail-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FE354D;
  color: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all 0.5s ease-in-out;
  transform: scale(1.3);
  opacity: 0;
  visibility: hidden;
} 
.demo-box:hover .demo-thumbnail-info{
  transform: scale(1.0);
  visibility: visible;
  opacity: 0.9;
}
.demo-box-meta {
  background-color: #163566;
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  transform: rotateX(270deg);
  transition: all 0.7s ease;
}
.demo-box:hover .demo-box-meta{
  opacity: 1;
  transform: rotateX(360deg);
}
.demo-box-meta h4 {
  color: #ffffff;
  font-size: 18px;
}
.wrapper{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.cell-ball{
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
}
.cell-ball-1{
  background-color: rgb(106 90 205 / 60%);
  position: relative;
  animation: cell-ball-1 10s linear infinite;
  transform-origin: bottom;
}
.cell-ball-2{
  background-color: #E2FAF4;
  position: relative;
  animation: cell-ball-2 10s linear infinite;
  transform-origin: bottom;
  animation-delay: 1s;
}
.cell-ball-3{
  background-color: #FDF3F3;
  position: relative;
  animation: cell-ball-3 10s linear infinite;
  transform-origin: bottom;
  animation-delay: 2s;
}
.cell-ball-4{
  background-color: #fe354d8f;
  position: relative;
  animation: cell-ball-4 10s linear infinite;
  transform-origin: bottom;
  animation-delay: 3s;
}
.cell-ball-5{
  background-color:#ff5e1536;
  position: relative;
  animation: cell-ball-5 10s linear infinite;
  transform-origin: bottom;
  animation-delay: 4s;
}
@keyframes cell-ball-1 {
  0%   {width: 40px; height: 40px; bottom:-150px;}
  16%  {width: 55px;height: 55px; bottom:-50px;}
  32%  {width: 65px;height: 65px; bottom:60px;}
  48%  {width: 55px;height: 55px; bottom:100px;}
  64% {width: 45px;height: 45px; bottom:150px;}
  80% {width: 40px;height: 40px; bottom:200px;}
  100% {width: 35px;height: 35px; bottom:250px;}
}
@keyframes cell-ball-2 {
  0%   {width: 40px; height: 40px; bottom:-150px;}
  16%  {width: 55px;height: 55px; bottom:-50px;}
  32%  {width: 65px;height: 65px; bottom:60px;}
  48%  {width: 55px;height: 55px; bottom:100px;}
  64% {width: 45px;height: 45px; bottom:150px;}
  80% {width: 40px;height: 40px; bottom:200px;}
  100% {width: 35px;height: 35px; bottom:250px;}
}
@keyframes cell-ball-3 {
  0%   {width: 40px; height: 40px; bottom:-150px;}
  16%  {width: 55px;height: 55px; bottom:-50px;}
  32%  {width: 65px;height: 65px; bottom:60px;}
  48%  {width: 55px;height: 55px; bottom:100px;}
  64% {width: 45px;height: 45px; bottom:150px;}
  80% {width: 40px;height: 40px; bottom:200px;}
  100% {width: 35px;height: 35px; bottom:250px;}
}
@keyframes cell-ball-4 {
  0%   {width: 40px; height: 40px; bottom:-150px;}
  16%  {width: 55px;height: 55px; bottom:-50px;}
  32%  {width: 65px;height: 65px; bottom:60px;}
  48%  {width: 55px;height: 55px; bottom:100px;}
  64% {width: 45px;height: 45px; bottom:150px;}
  80% {width: 40px;height: 40px; bottom:200px;}
  100% {width: 35px;height: 35px; bottom:250px;}
}
@keyframes cell-ball-5 {
  0%   {width: 40px; height: 40px; bottom:-150px;}
  16%  {width: 55px;height: 55px; bottom:-50px;}
  32%  {width: 65px;height: 65px; bottom:60px;}
  48%  {width: 55px;height: 55px; bottom:100px;}
  64% {width: 45px;height: 45px; bottom:150px;}
  80% {width: 40px;height: 40px; bottom:200px;}
  100% {width: 35px;height: 35px; bottom:250px;}
}
/*==============================
    home page demo Ends
  ===============================*/
  /*==============================
  promo section start
  =================================*/ 
  .promo-section {
    color: #fff;
    position: relative;
    overflow: hidden;
    background-color: #140A41;
  }
  .promo-section .promo-content {
    padding-top: 130px;
  }
  .promo-content span{
    display: block;
    color:#FE354D;
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
  } 
  .promo-section .promo-content h2 {
    color: #fff;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.4em;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .promo-section .promo-content h2 > span {
    display: block;
    color: #f94f4f;
  }
  .promo-section .promo-thumbs-contnet {
    min-height: 500px;
    position: relative;
    width: 100%;
  }
  .promo-section .promo-thumbs-contnet > .thumb {
    bottom: 0;
    position: absolute;
  }
  .promo-section .promo-thumbs-contnet > .thumb:nth-child(1) {
    left: 15px;
    transform: translateY(80px);
}
  .promo-section .promo-thumbs-contnet > .thumb:nth-child(2) {
    z-index: 5;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .promo-section .promo-thumbs-contnet > .thumb:nth-child(3) {
    right: -185px;
    transform: translateY(80px);
  }
  .promo-section .promo-thumbs-contnet > .thumb img {
    border-radius: 10px 10px 0 0;
  }
  
  /*==============================
  promo section Ends
  =================================*/
  /*==============================
    feature-section start
  ===============================*/ 
  .feature-box{
    box-shadow: 0 -2px 20px 0 rgb(0 0 0 / 6%);
    padding: 40px 50px;
    margin-bottom: 25px;
    min-height: 200px;
    transition: all 0.4s ease;
  }
  .feature-box:hover {
    background: #fff;
    -webkit-box-shadow: 0 40px 44px 0 rgba(0,0,0,.06),0 40px 44px 0 rgba(0,0,0,.06);
    box-shadow: 0 40px 44px 0 rgba(0,0,0,.06),0 40px 44px 0 rgba(0,0,0,.06);
}
  .feature-icon img{
    max-width: 50px;
    height: auto;
  }
  .feature-icon{
    margin-bottom: 25px;
  }
  .feature-section .section-title h3{
    color: #041B52;
  }
  /*==============================
    feature-section Ends
  ===============================*/
  /*==============================
    newslatter-section start
  *=============================*/
  .newslatter-section{
    background-image: url('../images/banner/index-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
  }  
  .newslatter-section:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(22, 53, 102);
    opacity: 0.9;
    z-index: -1;
  }
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FE354D;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FE354D;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FE354D;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1; 
}
.to-top i{
	color: #ffffff;
}
/*===================*/
.slider-6 .slick-slide{margin: 0 15px;}