/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]

	1. 	Typhography
	2. 	top header
	3.  main menu area
	4.	banner section
	5. 	about us section
	6. 	video section
	7. 	case study section   
	8. 	skill section   
	9. 	testimonial section 
	10. barnd section
	11. Footer / #footer


-------------------------------------------------------------------*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x:hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #202020;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#00265E;
}
p{
	font-size: 16px;
	font-weight:600;
	line-height: 26px;
	color:#202020;
	margin:0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#FF5E15;
	text-decoration:none;
}
a{
	color:#002258;
	text-decoration:none;
	font-weight: 600;
	opacity: 0.9;
	transition: all 0.4s ease;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
::selection {
	background: #FF6600;
	color: #fff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 65px;
	font-weight:700;
	line-height:75px;
	text-transform: uppercase;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    color: #262449;
    line-height: 47px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
}
h4 {
	font-size: 22px;
	font-weight:700;
	line-height: 32px;
	
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
.b-primary{
	font-family: 'Nunito Sans', sans-serif;
	background-color: #FF5E15;
    padding: 20px 26px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    line-height: 17px;
	font-size: 16px;
	font-weight: 600;
	transition: all 0.9s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.b-primary:hover {
    box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.b-primary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.b-primary:hover i{
	transform: translateX(10px);
	color: #FF5E15;
}
.b-primary:focus{color: #ffffff;}
.btn-them-1{
	transition: all 0.4s ease;
}
.btn-them-1:hover{
	background:none;
	color: #FF5E15;;
}
.btn-view{
    display: block;
    text-align: center;
    color: #FF5E15;
    font-size: 16px;
    font-weight: 600;
	transition: all 0.4s ease;
}
.btn-view i{
	padding-left: 10px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(0px);
	transition: all 0.7s ease;
}
.btn-view:hover i{
	opacity: 1;
	visibility: visible;
	transform: translateX(10px);
	color: #FF5E15;
}
.sub-heading {
    color: #ff905d;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 60px;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
}
.bar{position: relative;}
.bar:before{
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #FF6600;
}
.bar:after{
    position: absolute;
    content: "";
    top: 13px;
    left: 15px;
    width: 30px;
    height: 2px;
    background-color: #FF6600;
}
.pos-relative{
	position: relative;
}
.fix{
	overflow: hidden;
}
.bg-color-theme{
	background-color: #00265E!important;
}
.text-color-blue{
	color: #00265E;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{padding: 120px 0;}
.top-spacing{padding-top: 120px;}
.bottom-spacing{padding-bottom: 120px;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-40{	padding-top: 40px;}
.pt-65{padding-top: 65px;}
.pt-80{padding-top: 80px;}
.pb-10{	padding-bottom: 10px;}
.pr-15{padding-right:35px}
.pr-20{padding-right: 20px;}
.pb-22{padding-bottom: 22px;}
.pb-20{padding-bottom: 20px;}
.pb-25{padding-bottom: 22px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-50{padding-bottom: 50px;}
.pb-64{padding-bottom: 64px;}
.pr-10{padding-right: 10px;}
.pr-60{padding-right: 60px;}
.pl-10{padding-left: 10px;}
.pl-30{padding-left: 30px;}
.pl-40{padding-left: 40px;}
.pl-20{padding-left: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.ml-30{margin-left: 30px;}
/*===============================
	2. top header
===============================*/
.top-header{
    background-color: #00265E;
}
.header-location p{
  	color: #ffffff;
	font-size: 14px;
	opacity: 0.9;
}
.header-location {
    padding: 8px 0;
}
.top-header-inner{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
}
.header-right-portion{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.header-right-portion a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.header-right-portion a:hover{
	color: #FF5E15;
}
.header-email{
	padding-left: 30px;
	padding-right: 65px;
}
.social-icon ul li{
	display: inline-block;
	margin: 5px;
}
.social-icon ul li a i{
    display:inline-block;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
	color: #FF5E15;
	transition:all 0.4s ease;
}
.header-socials ul li a i{
	width: 20px;
    height: 20px;
	line-height: 20px;
    border-radius: 4px;
	font-size: 10px;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.header-socials ul li a:hover i{
	border: 1px solid #ffffff;
	color: #ffffff;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*===================================
	4. main menu area
===================================*/
.sticky {
	position: fixed;
    top: -25px;
    right: 0;
    width: 100%;
    z-index: 2;
    margin-top: 25px;
    margin-bottom: 5px;
    background: #002258;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.main-menu-area{
	background-color: #FFFFFF;
    line-height: 80px;
}
.main-menu-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-menu ul{
	text-align: center;
    z-index: 1;
}
.main-menu ul li{
	display:inline-block;
	position:relative;
	line-height: 40px;
}
.main-menu ul li a {
    color: #00265E;
    display: block;
    font-size: 17px;
    font-weight: 700;
	opacity: 1;
    text-transform: capitalize;
    padding: 20px 15px;
}
.main-menu ul li a:last-child{
	padding: 0;
}
.main-menu ul li a:hover{
	color: #FF6600;
}
.main-menu ul ul{
	text-align:left!important;
    background:#002258;
	width:280px;
	display: block;
	position:absolute;
	content: "";
	top: 110px;
	left: 15px;
	opacity:0;
	visibility:hidden;
	z-index:1; 
	transition:all 0.2s ease;
}
.main-menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 80px;
}
.main-menu ul ul li{
	display:block;
}
.main-menu ul ul li ul{
    text-align: left!important;
    background: #002258;
    width: 180px;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.2s ease;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0;
}
.main-menu ul ul li:hover a{
	background-color: #FF6600;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul ul li a{
	color: #ffffff;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul li:hover ul{
	left:180px;
	opacity: 1;
	visibility: visible;
}
.main-menu ul ul li:hover ul li a{
	background:none;
	color:#ffffff;
}
.main-menu ul ul li ul li a:hover{
	background-color: #FF6600;
	color:#ffffff;
}
.nav-links li a .fa-angle-down{
	padding-left: 5px;
	transition: all 0.3s ease;
}
.nav-links li a:hover .fa-angle-down{
	transform: translateY(5px);
}
.drop-down li a i{
	padding: 0 10px;
	opacity:0;
	visibility:hidden;
	transition:all 0.2s ease;
}
.drop-down li a:hover i{
	opacity:1;
	visibility:visible;
	color: #ffffff;
}
.btn-search{
	padding-right: 30px;
	font-size: 20px;
	color: #00265E;
}
/* search popup start  */
.td-search-popup.active .search-form {
	visibility: visible;
	opacity: 1;
	width: 40%;
	z-index: 9999;
}
.td-search-popup .search-form {
	width: 35%;
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	transition: all 0.4s ease;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%);
	z-index: 999;
}

.td-search-popup .search-form .form-group .form-control {
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 54px;
	padding: 0 75px 0 25px;
	background: #f7f9fb;
}

.td-search-popup .search-form .form-group .form-control:hover,
.td-search-popup .search-form .form-group .form-control:focus,
.td-search-popup .search-form .form-group .form-control:active {
	outline: 0;
	box-shadow: none;
}
.td-search-popup .search-form .submit-btn {
	position: absolute;
	right: 0;
	top: -9px;
	width: 60px;
	height: 57px;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.4s ease;
	padding: 0;
	text-align: center;
	cursor: pointer;
	color: #FF6600;
	background: none;
	font-size: 20px;
}
.td-search-popup .search-form .submit-btn:hover,
.td-search-popup .search-form .submit-btn:focus,
.td-search-popup .search-form .submit-btn:active {
	outline: 0;
	box-shadow: none;
}

.body-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.95);
	z-index: 999;
	content: "";
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}
.body-overlay.active {
	visibility: visible;
	opacity: 0.97;
}
/*=====================================
 	header area Ends
 ====================================*/
 /*===================================
	5. banner section start
====================================*/	
.banner-section{
	background-image: url('../images/banner/about.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 180px 0;
	position: relative;
	z-index: 0;
}
.banner-section:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #002258;
	z-index: -1;
	opacity: 0.70;
}
.banner-content span {
    font-size: 22px;
    display: block;
    color: #ffffff;
    font-weight: 600;
	opacity: 0.9;
    padding-top: 15px;
}
/*===================================
	banner section Ends
====================================*/
/*===================================
	contact-section start
====================================*/
.contact-section{
	padding-top: 100px;
}
 .contact-bg{
	 background-image: url('../images/banner/shape.jpg');
	 background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	 padding: 58px 70px;
	 margin-top: -100px;
	 box-shadow: rgb(0 0 0 / 10%) 3px 5px 15px;
	 border-radius: 8px;
 }
 .contact-icon i{
	 font-size: 80px;
	 color: #ffffff;
 }
/*===================================
	contact-section Ends
====================================*/
/*===================================
 	6. about us section start
 ==================================*/
 .quoate-thumb img{
     width: 100%;
     height: auto;
     border-radius: 4px;
 }
 .quoate-content h4{
     font-style: italic;
     color: #FF6600;
 }
.aboutus-feature{
    background-color: #F2F3F6;
    padding: 22px 25px;
    border-radius: 4px;
}
.aboutus-thumb {
    background-image: url('../images/aboutus/shape.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    position: relative;
}
.aboutus-feature:hover .icon img{
	transform: skewY(10deg);
}
.thumb-text{
    position: absolute;
    content: "";
    top: 30px;
    left: 30px;
}
/*===================================
 	about us section Ends
 ==================================*/
 /*=====================================
    video section start
=======================================*/
.video-section{
    background-image: url('../images/aboutus/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.video-section:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00265E;
    opacity: 0.80;
    z-index: -1;
}
.video-icon a i {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	line-height: 100px;
	font-size: 35px;
	color: #ffffff;
	background-color: #FF6600;
	display: inline-block;
	position: relative;
	z-index: 0;
	text-align: center;
	animation: video 2.5s linear infinite;
 }
 @keyframes video {
	0% {
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
	}
	100% {
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
	}
  }
 /*=====================================
    video section Ends
=======================================*/
/*===================================
	9. case study section start
====================================*/
.case-study-thumb img{
	width: 100%;
	height: auto;
	transition: all 0.7s ease;
}
.case-study-info {
    background-color: #ffffff;
    border-radius: 0 8px 8px 0;
    padding: 20px;
    position: absolute;
    content: "";
    left: 0px;
    bottom: 30px;
    opacity: 0;
    overflow: hidden;
    transform: rotateX(270deg);
    -webkit-transform: rotateX(270deg);
    transition: all 1s ease;
}
.case-study-info h4{font-size: 20px;}
.case-study-box:hover .case-study-thumb img{
	transform: scale(1.1);
}
.case-study-box:hover .case-study-info {
    visibility: visible;
    opacity: 1;
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
}
.btn-add i{
	width: 60px;
	height: 60px;
	border-radius: 4px;
	background-color: #FF5E15;
	color: #ffffff;
	text-align: center;
	line-height: 60px;
	font-size: 25px;
	transition: all 0.4s ease;
}
.btn-add i:hover{
	background-color: #00265E;
	color: #ffffff;
}
/*===================================
	 case study section Ends
====================================*/
/*====================================
	skill section start
====================================*/
.skill-left-bg{
	background-image: url('../images/case-study/skill-1.jpg');
	background-repeat: no-repeat;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 50%;
    height: 100%;
	background-position: 0 0 !important;
	transition: all 0.4s ease;
}
.skill-section:hover .skill-left-bg{
	background-position: 50% 0 !important;
}
.skill-right-bg{
	background-image: url('../images/case-study/skill-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 50%;
    height: 100%;
}
.skill-right-bg:after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #FFEADC;
	opacity: 0.3;
}
.skill-feature-box{
	background-color: #00265E;
	width: 220px;
	height: 289px;
	border-radius: 8px;	
	display: block;
	overflow: hidden;
	box-shadow: rgb(0 0 0 / 16%) 3px 5px 10px;
	position: relative;
}
.skill-feature-box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url('../images/case-study/skill-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}
.skill-feature-box:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00265E;
    z-index: 0;
    opacity: 0.9;
    border-radius: 8px;
}
.skill-feature-box:hover:after{
	opacity: 1;
	visibility: visible;
	transform: scale(1.1);
}
.chart{
	position:relative;
	display:inline-block;
	text-align:center;
    width: 180px;
    height: 184px;
}
canvas {
    position: absolute;
    left: 30px;
    top: 42px;
    height: 120px!important;
    width: 120px!important;
}
.parcent{
    line-height: 202px;
    color: #ffffff;
}
.parcent:after{
	content:"%";
}
/*====================================
	skill section Ends
====================================*/	
/*====================================
	12. testimonial section start
======================================*/
.testimonial-bg{
	background-image: url('../images/team/testimonia-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.testimonial-item{
    margin-right: 20px;
	padding:40px 18px;
	box-shadow: rgb(0 0 0 / 10%) 3px 5px 15px;
	border-radius: 8px;
	background-color: #ffffff;
}
.testimonial-item:last-child{margin-right: 0;}
.testimonial-item .text:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-image: url('../images/icon/quotation-1.png');
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
	animation-name: animate;
	animation-timing-function: linear;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform-origin: bottom;
	transform-origin: center;
}
.testimonial-item .text:after{
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	background-image: url('../images/icon/quotation-2.png');
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
	animation-name: animate;
	animation-timing-function: linear;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform-origin: bottom;
	transform-origin: center;
}
.client-info{padding-left: 20px;}
.reviews .checked{
	padding-top: 10px;
	color: #FF5E15;
}
@keyframes animate {
	16%   { transform:scale(1.1); }
	32%  { transform:scale(1.0); }
	48%  { transform:scale(1.1); }
	64%  { transform:scale(1.0); }
	80% { transform:scale(1.1); }
	100% { transform:scale(1.0); }
}
/*=====================================
	testimonial section Ends
=======================================*/
/*=====================================
	14. brannd section start
====================================*/
.brand-slider{
	padding: 80px 0;
	border-radius: 16px 16px 0 0;
}
.brand-item{
	margin: 0 10px;
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.main-logo {
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.brand-item:hover .main-logo{
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    filter: grayscale(1);
}
.hover-logo{
	display: block;
	position: absolute;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	top: 0;
	left: 0;
	visibility: hidden;
	transform: translateY(-100%);
}	
.brand-item:hover .hover-logo{
	display: block;
	opacity: 3;
	visibility: visible;
	transform: translateY(0%);
	filter: grayscale(0%);
}
/*=======================================
	brannd section Ends
========================================*/
/*=======================================
	newslatter section start
========================================*/
.newslatter-section {
    position: absolute;
    content: "";
    top: -120px;
    left: 0;
    width: 100%;
    height: auto;
	animation: move-top 4s linear infinite;
	transform-origin: bottom;
}
.newslatter-bg{
	background-image: url('../images/brand/news-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
	box-shadow: rgb(255 102 0 / 10%) 3px 7px 15px;
	padding: 80px 0;
}
.newslatter-content span{
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
}
.email-box form{
	position: relative;
	width: 80%;
	height: auto;
}
.email-box form input{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 15px 40px 15px 20px;
    border: none;
    border-radius: 4px;
}
.email-box form .btn-sub{
	position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 25px;
    color: #FF6600;
}
@keyframes move-top{
	0%   { transform: translateX(0); }
	50%  { transform: translateX(-20px); }
	100% { transform: translateX(0); }
}
/*=======================================
	newslatter section Ends
========================================*/
/*=========================================
	15. footer section start
===========================================*/
.footer-section{
    background-image: url(../images/footer/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    margin-top: 120px;
    padding-top: 85px;
    padding-bottom: 40px;
}
.footer-section:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #00265E;
    opacity: 0.8;
}
.footer-tittle:after{
	position: absolute;
	content: "";
    bottom: -3px;
	left: 0;
    width: 70px;
    height: 4px;
	border-radius: 2px;
	background-color: #FF6600;
	transition: all 0.4s ease;
}
.footer-tittle:hover:after{
	width: 100px;
}
.footer-socials ul li a i{
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
    margin-right: 8px;
	font-size: 12px;
}
.footer-socials ul li a:focus{color: #00265E;}
.footer-socials ul li a:hover .fa-facebook-f{
	background-color: #ffffff;
	color: #3B5998;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-twitter{
	background-color: #ffffff;	
	color: #00ACED;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-instagram-square{
	background-color: #ffffff;
	color: #BC2A8D;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-pinterest-p{
	background-color: #ffffff;
	color: #CB2027;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-linkedin-in{
	background-color: #ffffff;
	color: #007BB5;
	transition: all 0.3s ease;	
}
.footer-links li span{
	width: 10px;
	height: 10px;
	background-color: #FFEADC;
	border-radius: 100%;
	display: inline-block;
	opacity: 0.9;
}
.footer-links li:hover span{
	background-color:#FF6600;
}
.footer-links li{
    padding-bottom: 12px;
	transition: all 0.4s ease;
}
.footer-links li a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	padding-left: 18px;
	opacity: 0.9;
	transition: all 0.3s ease;
}
.footer-links li:hover{
	transform: translateX(5px);
}
.footer-section p{
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	opacity: 0.9;
}
.footer-form form input{
	padding: 15px 20px 15px 20px;
    line-height: 15px;
    border-radius: 30px;
    width: 100%;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.footer-form form input[type="placeholder"]{
	color: #ffffff;
}
.footer-form form button{
	margin-top: 20px;
	border: none;
}
.footer-contact ul li{
	padding-bottom: 15px;
}
.footer-contact ul li i{
	font-size: 20px;
	color: #ffffff;
	padding-right: 15px;
}
.footer-contact ul li a{
	color: #ffffff;
	font-size: 14px;
}
.footer-contact ul li a:hover{
	color: #FF5E15;
}
.footer-contact ul li span{
	color: #ffffff;
	font-size: 14px!important;
	font-weight: 400;
	opacity: 0.9;
	transition: all 0.4s ease;
}
/*  footer-bottom*/
.footer-bottom{
	background-image: url('../images/footer/bottom.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 15px 0;
}
.footer-bottom p span{
	color:#FF5E15;
	font-size: 18px;
	font-weight: 800;
}
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1; 
}
.to-top i{
	color: #ffffff;
}
/*==========================================
	footer section Ends
==========================================*/	
/*======slider======*/
/*======slider======*/
.slider-1 .prev-arrow {
    position: absolute;
    content: "";
    top: -100px;
    right: 15px;
    width: 65px;
    height: 50px;
    background-color: #FBCCAD;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.slider-1 .next-arrow {
    position: absolute;
    content: "";
    top: -100px;
    right: 110px;
    width: 65px;
    height: 50px;
    background-color: #FBCCAD;
    z-index: 1;
	text-align: center;
    line-height: 50px;
    color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
}
.slider-1 .slick-arrow{transition: all 0.4s ease;}
.slider-1 .slick-arrow:hover{
	background-color: #FF6600;
}
.slider-1 .slick-slide {
	margin-bottom: 30px;
	margin-top: 10px;
	margin-left: 10px;
}


