/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]

	1. 	Typhography
	2. 	top header
	3.  main menu area
	4.	banner section
	5. 	case study section
	6. 	newslatter	 
	7. 	Footer / #footer

-------------------------------------------------------------------*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x:hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #202020;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#00265E;
}
p{
	font-size: 16px;
	font-weight:400;
	line-height: 27px;
	color:#202020;
	margin:0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#FF5E15;
}
a{
	color:#002258;
	text-decoration:none;
	font-weight: 600;
	opacity: 0.9;
	transition: all 0.4s ease;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
::selection {
	background: #FF6600;
	color: #fff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 65px;
	font-weight:700;
	line-height:75px;
	text-transform: uppercase;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    color: #262449;
    line-height: 47px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
}
h4 {
	font-size: 22px;
	font-weight:700;
	line-height: 32px;
	
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
.b-primary{
	font-family: 'Nunito Sans', sans-serif;
	background-color: #FF5E15;
    padding: 20px 26px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    line-height: 17px;
	font-size: 16px;
	font-weight: 600;
	transition: all 0.7s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.b-primary:hover {
    box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.b-primary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.b-primary:hover i{
	transform: translateX(10px);
	color: #FF5E15;
}
.btn-them-1{
	transition: all 0.4s ease;
}
.btn-them-1:hover{
	background:none;
	color: #FF5E15;;
}
.btn-view{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
	transition: all 0.4s ease;
}
.btn-view-theme-1 i{
    background-color: #ffffff;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: #FF6600;
	transition: all 0.4s ease;
}
.btn-view-theme-1:hover i{
	background-color: #00265E;
	color: #ffffff;
}
.sub-heading{
    color: #ff905d;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
	padding-left: 60px;
	font-family: 'Nunito', sans-serif;
	display: inline-block;
}
.bar{position: relative;}
.bar:before{
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #FF6600;
}
.bar:after{
    position: absolute;
    content: "";
    top: 13px;
    left: 15px;
    width: 30px;
    height: 2px;
    background-color: #FF6600;
}
.pos-relative{
	position: relative;
}
.fix{
	overflow: hidden;
}
.bg-color-theme{
	background-color: #00265E!important;
}
.text-color-blue{
	color: #00265E;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{
	padding: 120px 0;
}
.top-spacing{
	padding-top: 120px;
}
.bottom-spacing{
	padding-bottom: 120px;
}
.pr-10{
	padding-right: 10px;
}
.pt-10{
	padding-top: 10px;
}
.pl-10{
    padding-left: 10px;
}
.pb-10{
	padding-bottom: 10px;
}
.pr-20{
	padding-right: 20px;
}
.pb-20{
	padding-bottom: 20px;
}
.pt-20{
	padding-top: 20px;
}
.p-20{
	padding: 20px;
}
.pb-22{
	padding-bottom: 22px;
}
.pb-25{
	padding-bottom: 22px;
}
.pb-30{
	padding-bottom: 30px;
}
.pl-30{
	padding-left: 30px;
}
.pl-20{
    padding-left: 20px;
}
.pb-40{
	padding-bottom: 40px;
}
.pt-40{
	padding-top: 40px;
}
.pb-50{
	padding-bottom: 50px;
}
.pt-65{
	padding-top: 65px;
}
.pb-64{
	padding-bottom: 64px;
}
.mt-30{
	margin-top: 30px;
}
.mt-40{
	margin-top: 40px;
}
.ml-30{
	margin-left: 30px;
}
.pt-80{
	padding-top: 80px;
}
/*===============================
	2. top header
===============================*/
.top-header{
    background-color: #00265E;
}
.header-location p{
  	color: #ffffff;
	font-size: 14px;
	opacity: 0.9;
}
.header-location {
    padding: 8px 0;
}
.top-header-inner{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
}
.header-right-portion{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.header-right-portion a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.header-right-portion a:hover{
	color: #FF5E15;
}
.header-email{
	padding-left: 30px;
	padding-right: 65px;
}
.social-icon ul li{
	display: inline-block;
	margin: 5px;
}
.social-icon ul li a i{
    display:inline-block;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
	color: #FF5E15;
	transition:all 0.4s ease;
}
.header-socials ul li a i{
	width: 20px;
    height: 20px;
	line-height: 20px;
    border-radius: 4px;
	font-size: 10px;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.header-socials ul li a:hover i{
	border: 1px solid #ffffff;
	color: #ffffff;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*===================================
	4. main menu area
===================================*/
.sticky {
	position: fixed;
    top: -25px;
    right: 0;
    width: 100%;
    z-index: 2;
    margin-top: 25px;
    margin-bottom: 5px;
    background: #002258;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.main-menu-area{
	background-color: #FFFFFF;
    line-height: 80px;
}
.main-menu-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-menu ul{
	text-align: center;
    z-index: 1;
}
.main-menu ul li{
	display:inline-block;
	position:relative;
	line-height: 40px;
}
.main-menu ul li a {
    color: #00265E;
    display: block;
    font-size: 17px;
    font-weight: 700;
	opacity: 1;
    text-transform: capitalize;
    padding: 20px 15px;
}
.main-menu ul li a:last-child{
	padding: 0;
}
.main-menu ul li a:hover{
	color: #FF6600;
}
.main-menu ul ul{
	text-align:left!important;
    background:#002258;
	width:280px;
	display: block;
	position:absolute;
	content: "";
	top: 110px;
	left: 15px;
	opacity:0;
	visibility:hidden;
	z-index:1; 
	transition:all 0.4s ease;
}
.main-menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 80px;
}
.main-menu ul ul li{
	display:block;
}
.main-menu ul ul li ul{
    text-align: left!important;
    background: #002258;
    width: 180px;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.4s ease;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0;
}
.main-menu ul ul li:hover a{
	background-color: #FF6600;
	color: #ffffff;
}
.main-menu ul ul li a{
	color: #ffffff;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul li:hover ul{
	left:180px;
	opacity: 1;
	visibility: visible;
}
.main-menu ul ul li:hover ul li a{
	background:none;
	color:#ffffff;
}
.main-menu ul ul li ul li a:hover{
	background-color: #FF6600;
	color:#ffffff;
}
.nav-links li a .fa-angle-down{
	padding-left: 5px;
	transition: all 0.3s ease;
}
.nav-links li a:hover .fa-angle-down{
	transform: translateY(5px);
}
.drop-down li a i{
	padding: 0 10px;
	opacity:0;
	visibility:hidden;
	transition:all 0.2s ease;
}
.drop-down li a:hover i{
	opacity:1;
	visibility:visible;
	color: #ffffff;
}
.btn-search{
	padding-right: 30px;
	font-size: 20px;
	color: #00265E;
}
/* search popup start  */
.td-search-popup.active .search-form {
	visibility: visible;
	opacity: 1;
	width: 40%;
	z-index: 9999;
}
.td-search-popup .search-form {
	width: 35%;
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	transition: all 0.4s ease;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%);
	z-index: 999;
}

.td-search-popup .search-form .form-group .form-control {
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 54px;
	padding: 0 75px 0 25px;
	background: #f7f9fb;
}

.td-search-popup .search-form .form-group .form-control:hover,
.td-search-popup .search-form .form-group .form-control:focus,
.td-search-popup .search-form .form-group .form-control:active {
	outline: 0;
	box-shadow: none;
}
.td-search-popup .search-form .submit-btn {
	position: absolute;
	right: 0;
	top: -9px;
	width: 60px;
	height: 57px;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.4s ease;
	padding: 0;
	text-align: center;
	cursor: pointer;
	color: #FF6600;
	background: none;
	font-size: 20px;
}
.td-search-popup .search-form .submit-btn:hover,
.td-search-popup .search-form .submit-btn:focus,
.td-search-popup .search-form .submit-btn:active {
	outline: 0;
	box-shadow: none;
}

.body-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.95);
	z-index: 999;
	content: "";
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}
.body-overlay.active {
	visibility: visible;
	opacity: 0.97;
}
/*=====================================
 	header area Ends
 ====================================*/
 /*===================================
	5. banner section start
====================================*/	
.banner-section{
	background-image: url('../images/banner/case.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 180px 0;
	position: relative;
	z-index: 0;
}
.banner-section:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #002155;
	z-index: -1;
	opacity: 0.70;
}
.banner-content span {
    font-size: 22px;
    display: block;
    color: #ffffff;
    font-weight: 600;
	opacity: 0.9;
    padding-top: 15px;
}
/*===================================
	banner section Ends
====================================*/
/*===================================
	9. case study section start
====================================*/
.case-study-box {
    z-index: 0;
    display: block;
    overflow: hidden;
    position: relative;
	margin-bottom: 25px;
}
.case-study-thumb img{
	width: 100%;
	height: auto;
}
.case-study-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FE354D;
    color: #fff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: scale(1.2);
    opacity: 0;
    visibility: hidden;
}
.case-study-box:hover .case-study-info{
	transform: scale(1.0);
	visibility: visible;
	opacity: 0.8;
}
/*===================================
	 case study section Ends
====================================*/
/*=======================================
	newslatter section start
========================================*/
.newslatter-section {
    position: absolute;
    content: "";
    top: -120px;
    left: 0;
    width: 100%;
    height: auto;
	animation: move 4s linear infinite;
}
.newslatter-bg{
	background-image: url('../images/brand/news-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
	box-shadow: rgb(255 102 0 / 10%) 3px 7px 15px;
	padding: 80px 0;
}
.newslatter-content span{
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
}
.email-box form{
	position: relative;
	width: 80%;
	height: auto;
}
.email-box form input{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 15px 40px 15px 20px;
    border: none;
    border-radius: 4px;
}
.email-box form .btn-sub{
	position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 25px;
    color: #FF6600;
}
@keyframes move {
	0%   { transform: translateX(0); }
	50%  { transform: translateX(-20px); }
	100% { transform: translateX(0); }
}
/*=======================================
	newslatter section Ends
========================================*/
/*=========================================
	15. footer section start
===========================================*/
.footer-section{
	background-image: url('../images/footer/footer-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
    z-index: 0;
	margin-top: 120px;
    padding-top: 80px;  
    padding-bottom: 40px;
}
.footer-section:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #00265E;
    opacity: 0.8;
}
.footer-tittle:after{
	position: absolute;
	content: "";
    bottom: -3px;
	left: 0;
    width: 70px;
    height: 4px;
	border-radius: 2px;
	background-color: #FF6600;
	transition: all 0.4s ease;
}
.footer-tittle:hover:after{
	width: 100px;
}
.footer-socials ul li a i{
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
    margin-right: 8px;
	font-size: 12px;
}
.footer-socials ul li a:focus{color: #00265E;}
.footer-socials ul li a:hover .fa-facebook-f{
	background-color: #ffffff;
	color: #3B5998;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-twitter{
	background-color: #ffffff;	
	color: #00ACED;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-instagram-square{
	background-color: #ffffff;
	color: #BC2A8D;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-pinterest-p{
	background-color: #ffffff;
	color: #CB2027;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-linkedin-in{
	background-color: #ffffff;
	color: #007BB5;
	transition: all 0.3s ease;	
}
.footer-links li span{
	width: 10px;
	height: 10px;
	background-color: #FFEADC;
	border-radius: 100%;
	display: inline-block;
	opacity: 0.9;
}
.footer-links li:hover span{
	background-color:#FF6600;
}
.footer-links li{
    padding-bottom: 12px;
	transition: all 0.4s ease;
}
.footer-links li a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	padding-left: 18px;
	opacity: 0.9;
	transition: all 0.3s ease;
}
.footer-links li:hover{
	transform: translateX(5px);
}
.footer-section p{
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	opacity: 0.9;
}
.footer-form form input{
	padding: 15px 20px 15px 20px;
    line-height: 15px;
    border-radius: 30px;
    width: 100%;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.footer-form form input[type="placeholder"]{
	color: #ffffff;
}
.footer-form form button{
	margin-top: 20px;
	border: none;
}
.footer-contact ul li{
	padding-bottom: 15px;
}
.footer-contact ul li i{
	font-size: 20px;
	color: #ffffff;
	padding-right: 15px;
}
.footer-contact ul li a{
	color: #ffffff;
	font-size: 14px;
}
.footer-contact ul li a:hover{
	color: #FF5E15;
}
.footer-contact ul li span{
	color: #ffffff;
	font-size: 14px!important;
	font-weight: 400;
	opacity: 0.9;
	transition: all 0.4s ease;
}
/*  footer-bottom*/
.footer-bottom{
	background-image: url('../images/footer/bottom.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 15px 0;
}
.footer-bottom p span{
	color:#FF5E15;
	font-weight: 800;
	font-size: 18px;
}
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1; 
}
.to-top i{
	color: #ffffff;
}
/*==========================================
	footer section Ends
==========================================*/	