/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]

	1. Typhography
	2. top header
	3. main menu area
	4. banner section
	5. contactc section
	6. about us section
	7. service section
	8. choose us section
	9. work section
	10. case study section
	11. skill section
	12. team section
	13. testimonial section
	14. blog nsection
	15. brand section
	16. newslatter section
	17. footer section start
-------------------------------------------------------------------*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-x:hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #202020;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#00265E;
}
p{
	font-size: 16px;
	font-weight:600;
	line-height: 27px;
	color:#202020;
	margin:0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#FF5E15; 
}
a{
	font-family: 'Nunito Sans', sans-serif;
	color:#FF5E15;
	font-weight: 600;
	text-decoration:none;
	opacity: 0.9 !important;
	transition: all 0.4s ease;
}
.img {
	max-width: 100%;
	height: auto;
}
::selection {
	background: #FF6600;
	color: #fff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 62px;
	font-weight:800;
	line-height:75px;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    color: #262449;
    line-height: 62px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
}
h4 {
	font-size: 22px;
	font-weight:700;
	line-height: 32px;
	
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
.b-primary{
	background-color: #FF5E15;
    padding: 20px 26px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    line-height: 17px;
	font-size: 16px;
	font-weight: 600;
	transition: all 0.9s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.b-primary:hover{
	background-color:#002258;
	color: #ffffff;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
.b-primary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.b-primary:hover i{
	transform: translateX(10px);
	color: #FF5E15;
}
.b-primary:focus{
	color: #ffffff;
}
.btn-view{
    display: block;
    text-align: center;
    color: #FF5E15;
    font-size: 16px;
    font-weight: 600;
	transition: all 0.4s ease;
}
.btn-view i{
	padding-left: 10px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(0px);
	transition: all 0.7s ease;
}
.btn-view:hover i{
	opacity: 1;
	visibility: visible;
	transform: translateX(10px);
	color: #FF5E15;
}
.sub-heading{
    color: #ff905d;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
	padding-left: 60px;
	font-family: 'Nunito', sans-serif;
	display: inline-block;
}
.bar{position: relative;}
.bar:before{
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #FF6600;
}
.bar:after{
    position: absolute;
    content: "";
    top: 13px;
    left: 15px;
    width: 30px;
    height: 2px;
    background-color: #FF6600;
}
.pos-relative{
	position: relative;
}
.fix{
	overflow: hidden;
}
form{
	width: 100%;
	height: auto;
	position: relative;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{padding: 120px 0;}
.top-spacing{padding-top: 120px;}
.bottom-spacing{padding-bottom: 120px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-20{padding-top: 20px;}
.pt-40{padding-top: 40px;}
.pt-65{padding-top: 65px;}
.pt-80{padding-top: 80px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-22{padding-bottom: 22px;}
.pb-30{padding-bottom: 30px;}
.pr-10{padding-right: 10px;}
.pb-40{padding-bottom: 40px;}
.pb-64{padding-bottom: 64px;}
.pr-20{padding-right: 20px;}
.pb-50{padding-bottom: 50px;}
.pl-30{padding-left: 30px;}
.pl-40{padding-left: 40px;}
.p-20{padding: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-60{margin-top: 60px;}
.mt-80{margin-top:80px}
.mt-100{margin-top: 100px;}
.ml-30{margin-left: 30px;}
.mr-10{margin-right: 10px;}
/*===============================
	2. top header
===============================*/
.top-header{
	width: 100%;
	height: auto;
    background-color: #00265E;
    line-height: 35px;
}
.header-location p{
    color: #ffffff;
	font-size: 14px;
	opacity: 0.9;
}
.top-header-inner{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
}
.header-right-portion{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.header-right-portion a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.header-right-portion a:hover{
	color: #FF6600;
}
.header-email{
	padding-left: 30px;
	padding-right: 65px;
}
.social-icon ul li{
	display: inline-block;
	margin: 4px;
}
.social-icon ul li a i{
	text-align: center;
	display: inline-block;
}
.header-socials ul li a i {
    width: 20px;
    height: 20px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    color: #FF5E15;
    font-size: 10px;
	border: 1px solid #ffffff;
	box-shadow: 0 0 0 0 #041B52 inset;
    transition: all 0.3s ease;
}
.header-socials ul li a:hover i{
	color: #ffffff;
	border: 1px solid #ffffff;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*===================================
	3. main menu area
===================================*/
.sticky {
	position: fixed;
    top: -25px;
    right: 0;
    width: 100%;
    z-index: 2;
    margin-top: 25px;
    margin-bottom: 5px;
	background-color: #FFFFFF;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.main-menu-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	line-height: 80px;
	position: relative;
}
.main-menu ul{
	text-align: center;
    z-index: 1;
}
.main-menu ul li{
	display:inline-block;
	position:relative;
	line-height: 40px;
	padding-right: 0;
}
.main-menu ul li:last-child{
	padding: 0;
}
.main-menu ul li a{
    color: #00265E;
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 20px 15px;
}
.main-menu ul li a:last-child{
	padding: 0;
}
.main-menu ul li a:hover{
	color: #FF6600;
}
.main-menu ul ul{
	text-align:left!important;
    background:#002258;
	width:280px;
	display: block;
	position:absolute;
	content: "";
	top: 100px;
	opacity:0;
	visibility:hidden;
	z-index:1; 
	transition:all 0.2s ease;
}
.main-menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 80px;
}
.main-menu ul ul li{
	display:block;
}
.main-menu ul ul li ul{
    text-align: left!important;
    background: #002258;
    width: 180px;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.2s ease;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0;
}
.main-menu ul ul li:hover a{
	background-color: #FF6600;
	color: #ffffff;
}
.main-menu ul ul li a{
	color: #ffffff;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul li:hover ul{
	left:180px;
	opacity: 1;
	visibility: visible;
}
.main-menu ul ul li:hover ul li a{
	background:none;
	color:#ffffff;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul ul li ul li a:hover{
	background-color: #FF6600;
	color:#ffffff;
}
.nav-links li a .fa-angle-down{
	padding-left: 5px;
	transition: all 0.3s ease;
}
.nav-links li a:hover .fa-angle-down{
	transform: translateY(5px);
}
.drop-down li a i{
	padding: 0 10px;
	opacity:0;
	visibility:hidden;
	transition:all 0.2s ease;
}
.drop-down li a:hover i{
	opacity:1;
	visibility:visible;
	color: #ffffff;
}
.btn-search{
	padding-right: 30px;
	font-size: 20px;
	color: #00265E;
}
/* search popup start  */
.td-search-popup.active .search-form {
	visibility: visible;
	opacity: 1;
	width: 40%;
	z-index: 9999;
}
.td-search-popup .search-form {
	width: 35%;
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	transition: all 0.4s ease;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%);
	z-index: 999;
}

.td-search-popup .search-form .form-group .form-control {
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 54px;
	padding: 0 75px 0 25px;
	background: #f7f9fb;
}

.td-search-popup .search-form .form-group .form-control:hover,
.td-search-popup .search-form .form-group .form-control:focus,
.td-search-popup .search-form .form-group .form-control:active {
	outline: 0;
	box-shadow: none;
}
.td-search-popup .search-form .submit-btn {
	position: absolute;
	right: 0;
	top: 3px;
	width: 60px;
	height: 57px;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.4s ease;
	padding: 0;
	text-align: center;
	cursor: pointer;
	color: #FF6600;
	background: none;
	font-size: 20px;
}
.td-search-popup .search-form .submit-btn:hover,
.td-search-popup .search-form .submit-btn:focus,
.td-search-popup .search-form .submit-btn:active {
	outline: 0;
	box-shadow: none;
}

.body-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.95);
	z-index: 999;
	content: "";
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}
.body-overlay.active {
	visibility: visible;
	opacity: 0.97;
}
/*=====================================
 	header area Ends
 ====================================*/
 /*===================================
	4. banner section start
====================================*/	
 .banner-section{
	 background-image: url('../images/banner/banner-1.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	 padding-top: 55px;
	 width:100%;
	 height:auto;
	 position: relative;
	 z-index: 0;
	 padding-bottom: 94px;
 }
 .banner-section:after{
	 position: absolute;
	 content: "";
	 top: 0;
	 left: 0;
	 background-color:#FFEADC;
	 height: 100%;
	 width: 100%;
	 opacity: 0.5;
	 z-index: -1;
 }
 .banner-content .text-type{
	color:#FF6600;
	font-size: 65px;
	font-weight:800;
	line-height:75px;
}
 .banner-content p{
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 20px;
 }
.video-play-btn{
	color: #ffffff;
	transition: all 0.4s ease;
}
.video-play-btn i {
   width: 50px;
   height: 50px;
   margin-left: 25px;
   border-radius: 50%;
   color: #ffffff;
   background-color: #FF6600;
   display: inline-block;
   line-height: 50px;
   position: relative;
   z-index: 0;
   text-align: center;
   animation: video 2.5s linear infinite;
}
.banner-thumnail img{
	width: 100%;
	height: auto;
}
@keyframes video {
	0% {
	  box-shadow: 0 0 0 0 rgba(255, 102, 0, 0.08), 0 0 0 10px rgba(255, 102, 0, 0.08), 0 0 0 20px rgba(255, 102, 0, 0.08);
	}
	100% {
	  box-shadow: 0 0 0 10px rgba(255, 102, 0, 0.16), 0 0 0 20px rgba(255, 102, 0, 0.16), 0 0 0 100px rgba(255, 102, 0, 0.16);
	}
  }
/*===================================
	banner section Ends
====================================*/
/*===================================
	5.contact-section start
====================================*/
.contact-section {
    position: absolute;
    content: "";
    left: 390px;
    top: 100.5%;
    width: 60.6%;
    height: auto;
	animation: move 4s linear infinite;
	transform-origin: bottom;
}
@keyframes move {
	0%   { transform: translateX(0); }
	50%  { transform: translateX(-20px); }
	100% { transform: translateX(0); }
}
 .contact-bg{
	 background-image: url('../images/banner/shape.jpg');
	 background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	 padding: 58px 70px;
	 margin-top: -100px;
	 box-shadow: rgb(0 0 0 / 10%) 3px 5px 15px;
	 border-radius: 8px;
 }
 .contact-icon i{
	 font-size: 70px;
	 color: #ffffff;
 }
 .contact-text p{
	 color: #ffffff;
	 padding-bottom: 20px;
 } 
 .contact-text h4{
	 color: #ffffff;
 }
/*===================================
	contact-section Ends
====================================*/
/*===================================
 	6. about us section start
 ==================================*/
 .aboutus-thumb{
    margin-right: 30px;
}
 .aboutus-thumb-1 img {
    width: 100%;
    height: auto;
    padding: 70px;
    border-radius: 80px;
    margin-top: -30px;
}
.aboutus-thumb-2 img {
    border: 20px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 3px 8px 20px;
    position: absolute;
    right: 10px;
    bottom: -30px;
    border-radius: 8px;
}
 .circle-shape{
	 position: absolute;
	 content: "";
	 top:0;
	 left: 0;
	 z-index: -1;
	 animation: circle 7s infinite;
 }
 @keyframes circle{
	 0%{left:0; top: 0;}
	 25%{left:50px; top: 0;}
	 50%{left: 50px;; top: 50px;}
	 75%{left: 0px;; top: 50px;}
	 100%{left:0; top: 0;}
 }
 .aboutus-experience {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 8px;
    border-left: 8px solid #FF6600;
    display: inline-block;
    margin-right: 30px;
    box-shadow: rgb(0 0 0 / 6%) 3px 8px 20px;
    position: absolute;
    left: 0;
    bottom: 15px;
	animation: move-top 4s linear infinite;
	transform-origin: bottom;
}
@keyframes move-top{
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}
.aboutus-experience h2{
	color: #FF6600;
	position: relative;
	padding-bottom: 10px;
	display: inline-block;
}
.aboutus-experience span {
    font-size: 22px;
    font-weight: 600;
    color: #00265E;
    display: block;
    opacity: 0.8;
}
.aboutus-experience h2:after {
    position: absolute;
    content: "+";
    top: -2px;
    font-size: 60px;
}
.feature-item{
	border-bottom: 2px solid #D2D2D2;
	padding: 20px 0;
}
.feature-item:last-child{
	border: none;
}
 .feature-icon{
    width: 90px;
    height: 65px;
    border-radius: 4px;
    background-color: #FFEADC;
    line-height: 60px;
    text-align: center;
	box-shadow: rgb(0 0 0 / 10%) 2px 5px 10px;
 }
 .feature-icon img{
    width: 40px;
    height: 40px;
    padding: 4px;
	transition:all 0.4s ease;
 }
 .icon-1:hover img {
	transform:rotate(360deg)
}
 .icon-2:hover img {
	transform:rotateY(-180deg);
}
/*===================================
 	about us section Ends
 ==================================*/
/*===================================
	7. service section start
====================================*/
.service-box{
	background-color: #ffffff;
	padding: 40px 25px;
    box-shadow: rgb(0 0 0 / 6%) 3px 8px 20px;
	overflow: hidden;
	margin-bottom: 25px;
	border-radius: 8px;
	transition: all 0.4s ease;
}
.service-box:hover{
	transform: translateY(-5px);
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.service-box .service-icon i{
	font-size: 60px;
	padding: 20px;
	display: inline-block;
	line-height: 50px;
	color: #FF6600;
	border: 1px solid #FF6600;
	border-radius: 4px;
	transition: all 0.5s ease;
}
.service-box:hover .service-icon i{
	background-color: #002258;
	color: #ffffff;
	border: 1px solid #002258;
	animation: hover-icon 1s ease-in-out;
	animation-iteration-count: 1;
}
.service-box:hover h4 a{
	color:#FF6600;
}
.service-desc h4 a{
	font-weight: 700;
	transition: all 0.5s ease;
}
.service-desc h4{
	padding-top: 25px;
	padding-bottom: 10px;
}
.service-desc h4 a:hover{
	color:#FF6600;
}
.service-box:hover .btn-view{
	color: #002258;
}
@keyframes hover-icon{
	16.65% {
	  transform: translateX(8px);
	}
	33.3% {
	  transform: translateX(-6px);
	}
	49.95% {
	  transform: translateX(4px);
	}
	66.6% {
	  transform: translateX(-2px);
	}
	83.25% {
	  transform: translateX(1px);
	}
	100% {
	  transform: translateX(0);
	}
  }
/*===================================
	service section Ends
====================================*/
/*===================================
	8. choose us section start
====================================*/
.chooseus-left-bg {
    background-image: url('../images/chooseus/choose-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 120%;
    z-index: -1;
}
.chooseus-right-bg{
	background-image: url('../images/chooseus/choose-1.jpg');
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
    height: 120%;
	z-index: -1;
	background-position: 0 0 !important;
	transition: 0.4s ease;
}
.chooseus-item{
	border-bottom: 2px solid #D2D2D2;
	padding: 30px 0;
}
.chooseus-item:last-child{
border: none;	
}
.coohseus-section:hover .chooseus-right-bg{
	background-position: 50% 0 !important;
}
.chooseus-icon{
    width: 90px;
    height: 65px;
    border-radius: 4px;
    background-color: #FF6600;
    line-height: 60px;
    text-align: center;
	transition: all 0.4s ease;
 }
 .chooseus-icon:hover{
	 background-color: #00265E;
 }
 .chooseus-icon img{
    width: 40px;
    height: 40px;
    padding: 4px;
	transition: all 0.4s ease;
 }
.chooseus-icon:hover img{
	transform:rotateY(-180deg);
 }
 .chooseus-thumb img{
	 width: 100%;
	 height: auto;
	 border-radius: 4px;
 }
/*===================================
	choose us section Ends
====================================*/
/*===================================
	9.work-section start
====================================*/
.work-bg-thumb {
    background-image: url(../images/chooseus/choose-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 100px;
    box-shadow: rgb(0 0 0 / 10%) 3px 5px 15px;
    border-radius: 8px;
    background-position: center;
	animation: move-left 4s linear infinite;
	transform-origin: bottom;
}
@keyframes move-left{
	0%   { transform: translateX(0); }
	50%  { transform: translateX(-20px); }
	100% { transform: translateX(0); }
}
.work-icon i {
    font-size: 80px;
    color: #FF6600;
}
 .work-item h2{
	 position: relative;
	 display: inline-block;
 }
 .work-item h2:after {
    position: absolute;
    content: "+";
    top: -2px;
    font-size: 60px;
}
 .work-item span{
	 font-size: 22px;
	 font-weight: 600;
	 padding-top: 10px;
	 display: block;
 }
 /*===================================
	work-section Ends
====================================*/
/*===================================
	10. case study section start
====================================*/
.case-study-thumb img{
	width: 100%;
	height: auto;
	transition: all 0.9s ease;
}
.case-study-info {
    background-color: #ffffff;
    border-radius: 0 8px 8px 0;
    padding: 20px;
    position: absolute;
    content: "";
    left: 0px;
    bottom: 30px;
    opacity: 0;
    overflow: hidden;
    transform: rotateX(270deg);
    -webkit-transform: rotateX(270deg);
    transition: all 1s ease;
}
.case-study-info h4 a{
	font-size:20px;
	font-weight: 700;
}
.case-study-box:hover .case-study-thumb img{
	transform: scale(1.1);
}
.case-study-box:hover .case-study-info {
    visibility: visible;
    opacity: 1;
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
}
.btn-add i {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: #FF5E15;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    margin-left: 10px;
    transition: all 0.4s ease;
}
.btn-add i:hover{
	background-color: #00265E;
	color: #ffffff;
}
/*===================================
	 case study section Ends
====================================*/
/*====================================
	11.skill section start
====================================*/
.skill-left-bg{
	background-image: url('../images/case-study/skill-1.jpg');
	background-repeat: no-repeat;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 50%;
    height: 100%;
	background-position: 0 0 !important;
	transition: all 0.4s ease;
}
.skill-section:hover .skill-left-bg{
	background-position: 50% 0 !important;
}
.skill-right-bg{
	background-image: url('../images/case-study/skill-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 50%;
    height: 100%;
}
.skill-right-bg:after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #FFEADC;
	opacity: 0.3;
}
.skill-feature-box{
	background-color: #00265E;
	width: 220px;
	height: 289px;
	border-radius: 8px;	
	display: block;
	overflow: hidden;
	box-shadow: rgb(0 0 0 / 16%) 3px 5px 10px;
	position: relative;
}
.skill-feature-box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url('../images/case-study/skill-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}
.skill-feature-box:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00265E;
    z-index: 0;
    opacity: 0.9;
    border-radius: 8px;
}
.skill-feature-box:hover:after{
	opacity: 1;
	visibility: visible;
	transform: scale(1.1);
}
.chart{
	position:relative;
	display:inline-block;
	text-align:center;
    width: 180px;
    height: 184px;
}
canvas {
    position: absolute;
    left: 30px;
    top: 42px;
    height: 120px!important;
    width: 120px!important;
}
.parcent{
    line-height: 202px;
    color: #ffffff;
}
.parcent:after{
	content:"%";
}
/*====================================
	skill section Ends
====================================*/	
/*====================================
	12.  team section start
=====================================*/
.team-section {
    background-image: url('../images/team/team-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-single{
	background-color:#ffffff;
	box-shadow: rgb(255 102 0 / 15%) 0px 0px 30px;
	padding: 20px;	
	border-radius: 8px;
	overflow: hidden;
}
.team-thumb img{
	width: 100%;
	height: auto;
    transition: all 1s ease;
}
.team-thumb{z-index: 0;}
.team-thumb:after{
	position: absolute;
	content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	padding: 20px;
	background-image: linear-gradient(to right, #FF6600, #262E3A);
	transition: all 0.7s ease;
	visibility: hidden;
	opacity: 0;
}
.team-single:hover .team-thumb:after{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	visibility: visible;
	opacity: 0.4;
}
.team-single:hover .team-thumb img{
	transform: scale(1.1);
}
.team-single:hover .team-info h4{
	color: #FF6600;
}
.team-social{
	position: absolute;
	top: 85px;
	right: -80px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 4px;
	box-shadow: rgb(0 0 0 / 10%) 0px 3px 10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}
.team-single .team-social li {
	opacity: 0;
	z-index: 9;
	transform: translateX(20px);
	transition: all 0.5s ease-in-out;
	padding: 4px 0;
}
.team-single .team-social ul li:nth-child(1) {
	padding-top: 0;
	transition-delay: 0.1s;
  } 
  .team-single .team-social ul li:nth-child(2) {
	transition-delay: 0.2s;
  }
  .team-single .team-social ul li:nth-child(3) {
	transition-delay: 0.3s;
  }  
  .team-single .team-social ul li:nth-child(4) {
	transition-delay: 0.3s;
  }  
  .team-single .team-social ul li:nth-child(5) {
	transition-delay: 0.3s;
  }
  .team-single:hover .team-social ul li {
	opacity: 1;
	transform: translateX(0);
  }
.team-social ul li a i{
	width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #FF6600;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
	font-size: 14px;
	color: #ffffff;
	transition: all 0.4s ease;
}
.team-social ul li a:hover i{
	background-color: #00265E;
	color: #ffffff;
}
.team-single:hover .team-social{
	right: 0;
	opacity: 1;
	visibility: visible;
}
/*====================================
	team section Ends
=====================================*/	
/*====================================
	13. testimonial section start
======================================*/
.testimonial-bg{
	background-image: url('../images/testimonial/testimonial-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
}
.testimonial-item{
    margin-right: 20px;
	padding:40px 18px;
	box-shadow: rgb(0 0 0 / 6%) 3px 8px 20px;
	border-radius: 8px;
	background-color: #ffffff;
	margin-bottom: 20px;
}
.testimonial-item:last-child{margin-right: 0;}
.testimonial-item .text:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-image: url('../images/icon/quotation-1.png');
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
}
.testimonial-item .text:after{
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	background-image: url('../images/icon/quotation-2.png');
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
}
.client-info{padding-left: 20px;}
.reviews .checked{
	padding-top: 10px;
	color: #FF5E15;
}
/*=====================================
	testimonial section Ends
=======================================*/
/*=====================================
	14. blog section start
======================================*/
.blog-single{
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 6%) 3px 8px 20px;
}
.blog-thumb img{
	width: 100%;
	height: auto;
	transition: all 0.7s ease;
}
.blog-single:hover .blog-thumb img{
	transform: scale(1.1);
}
.blog-header ul li{
	display: inline-block;
	padding-right: 20px;
}
.blog-header ul li:last-child{
	padding: 0;
}
.blog-header ul li span{
	font-size: 14px;
	font-weight: 600;
}
.blog-header ul li i{
	color: #FF6600;
	padding-right: 10px;
}
.blog-content h4 a{
	font-size: 20px;
	font-weight: 800;
}
.blog-single:hover h4 a{
	color: #FF6600;
}
.blog-single:hover .btn-view{color: #00265E;}
.blog-action ul li{
	display: inline-block;
}
.blog-action ul li i{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	color: #FF6600;
	background-color: #FFEADC;
	text-align: center;
	line-height: 30px;
	transition: all 0.4s ease;
}
.blog-action ul li i:hover{
	color: #00265E;
}
/*=========================================
	blog section Ends
===========================================*/
/*=====================================
	15. brannd section start
====================================*/
.brand-slider{
	padding: 80px 0;
	border-radius: 16px 16px 0 0;
}
.brand-item{
	margin: 0 10px;
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.main-logo {
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.brand-item:hover .main-logo{
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    filter: grayscale(1);
}
.hover-logo{
	display: block;
	position: absolute;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	top: 0;
	left: 0;
	visibility: hidden;
	transform: translateY(-100%);
}	
.brand-item:hover .hover-logo{
	display: block;
	opacity: 3;
	visibility: visible;
	transform: translateY(0%);
	filter: grayscale(0%);
}
/*=======================================
	brannd section Ends
========================================*/
/*=======================================
	16.newslatter section start
========================================*/
.newslatter-section {
    position: absolute;
    content: "";
    top: -120px;
    left: 0;
    width: 100%;
    height: auto;
	animation: move-right 4s linear infinite;
	transform-origin: bottom;
}
@keyframes move-right{
	0%   { transform: translateX(0); }
	50%  { transform: translateX(-20px); }
	100% { transform: translateX(0); }
}
.newslatter-bg{
	background-image: url('../images/brand/news-bg.jpg');
	background-repeat: no-repeat;
   	background-size: cover;
   	background-position: center;
   	padding: 80px 0;
	border-radius: 8px;
}
.newslatter-content span{
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
}
.email-box form{
	position: relative;
	width: 80%;
	height: auto;
}
.email-box form input{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 15px 40px 15px 20px;
    border: none;
    border-radius: 4px;
}
.email-box form .btn-sub{
	position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 25px;
    color: #FF6600;
}
/*=======================================
	newslatter section Ends
========================================*/
/*=========================================
	17. footer section start
===========================================*/
.footer-section{
    background-image: url(../images/footer/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    margin-top: 120px;
    padding-top: 85px;
    padding-bottom: 40px;
}
.footer-section:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #00265E;
    opacity: 0.9;
}
.footer-tittle:after{
	position: absolute;
	content: "";
    bottom: -3px;
	left: 0;
    width: 70px;
    height: 4px;
	border-radius: 2px;
	background-color: #FF6600;
	transition: all 0.4s ease;
}
.footer-tittle:hover:after{
	width: 100px;
}
.footer-socials ul li a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #FFFFFF;
	opacity: 0.9;
    color: #FF6600;
    border-radius: 4px;
    font-size: 12px;
}
.footer-socials ul li a:focus{color: #00265E;}
.footer-socials ul li a:hover .fa-facebook-f{
	background-color: #ffffff;
	color: #3B5998;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-twitter{
	background-color: #ffffff;	
	color: #00ACED;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-instagram-square{
	background-color: #ffffff;
	color: #BC2A8D;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-pinterest-p{
	background-color: #ffffff;
	color: #CB2027;
	transition: all 0.3s ease;	
}
.footer-socials ul li a:hover .fa-linkedin-in{
	background-color: #ffffff;
	color: #007BB5;
	transition: all 0.3s ease;	
}
.footer-links li span{
	width: 10px;
	height: 10px;
	background-color: #FFEADC;
	border-radius: 100%;
	display: inline-block;
}
.footer-links li:hover span{
	background-color:#FF6600;
}
.footer-links li{
    padding-bottom: 12px;
	transition: all 0.4s ease;
}
.footer-links li a{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	padding-left: 18px;
	transition: all 0.3s ease;
}
.footer-links li:hover{
	transform: translateX(5px);
}
.footer-section p{
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.footer-form form input{
	padding: 15px 20px 15px 20px;
    line-height: 15px;
    border-radius: 30px;
    width: 100%;
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.footer-form form input[type="placeholder"]{
	color: #ffffff;
}
.footer-form form button{
	margin-top: 20px;
	border: none;
}
.footer-contact ul li{
	padding-bottom: 15px;
}
.footer-contact ul li i{
	font-size: 20px;
	color: #ffffff;
	padding-right: 15px;
}
.footer-contact ul li a{
	color: #ffffff;
	font-size: 14px;
}
.footer-contact ul li a:hover{
	color: #FF5E15;
}
.footer-contact ul li span{
	color: #ffffff;
	font-size: 14px!important;
	font-weight: 400;
	opacity: 0.9;
	transition: all 0.4s ease;
}
/*  footer-bottom*/
.footer-bottom{
	background-image: url('../images/footer/bottom.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 15px 0;
}
.footer-bottom p{
	font-size: 14px;
	font-weight: 600;
	color: #202020;
	transition: all 0.4s ease;
}
.terms-condition p a{
	transition: all 0.4s ease;
	color:#202020;
	font-size: 14px;
}
.terms-condition p a:hover{
	color: #FF586C;
}
.footer-bottom p span{
	color: #FF586C;
	font-weight: 800;
	font-size: 18px;
}
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1; 
}
.to-top i{
	color: #ffffff;
}
/*==========================================
	footer section Ends
==========================================*/	
/*======slider======*/
.slider-1 .prev-arrow {
    position: absolute;
    content: "";
    top: -100px;
    right: 15px;
    width: 65px;
    height: 50px;
    background-color: #FBCCAD;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.slider-1 .next-arrow {
    position: absolute;
    content: "";
    top: -100px;
    right: 110px;
    width: 65px;
    height: 50px;
    background-color: #FBCCAD;
    z-index: 1;
	text-align: center;
    line-height: 50px;
    color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
}
.slider-1 .slick-arrow{transition: all 0.4s ease;}
.slider-1 .slick-arrow:hover{
	background-color: #FF6600;
}
.slider-1 .slick-slide {
	margin-bottom: 30px;
	margin-top: 10px;
	margin-left: 10px;
}
.testimonial-item.slick-center{
	position: relative;
	overflow: hidden;
}
.testimonial-item.slick-center::after{
	position: absolute;
	content: "";
	bottom: 0;
	width: 90%;
	height: 3px;
	background-color: #FF6600;
}