/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]

	1. Typhography
	2. top header
	3. main menu area
	4. banner section
	5. feature section
	6. about us section
	7. service section
	8. choose us section
	9. recent project section
	10. team section 
	11. testimonial section 
	12. blog section
	13. barnd section
	14. Footer / #footer

-------------------------------------------------------------------*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #202020;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#00265E;
}
p{
	font-size: 16px;
	font-weight:400;
	line-height: 27px;
	color:#202020;
	margin:0;
	padding: 0;
	opacity: 0.9!important;
	font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#FF5E15;
	text-decoration: none;
	transition: all 0.4s ease;
}
a{
	color:#002258;
	text-decoration:none;
	opacity: 0.9 !important;
	transition: all 0.4s ease;
}
.img {
	max-width: 100%;
	transition: all 0.4s ease;
}
::selection {
	background: #FF6600;
	color: #fff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 65px;
	font-weight:700;
	line-height:75px;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 62px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
	opacity: 0.9;
}
h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    opacity: 0.9;
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
.b-primary{
	background-color: #FF5E15;
    padding: 20px 26px;
    display: inline-block;
    border-radius: 4px;
    color: #ffffff;
    line-height: 17px;
	font-size: 16px;
	font-weight: 500;
	transition: all 0.9s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.b-primary:hover {
    box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.b-primary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.b-primary:hover i{
	transform: translateX(10px);
	color: #FF5E15;
}
.b-primary:focus{
	color: #ffffff;
}
.btn-white{
	padding: 20px 30px;
	display: inline-block;
    box-shadow: 0 0 0 0 #041B52 inset;
    color: #ffffff;
	font-weight: 500;
    border-radius: 30px;
	line-height: 15px;
	transition: all 0.5s ease;
    background-color: rgb(255, 94, 21);
}
.btn-white:hover{
	box-shadow: 0 0 0 4em #ffffff inset, 0 5px 15px rgba(0, 0, 0, 0.1);
	color: #00265E;
}
.btn-white i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.4s ease;
}
.btn-white:hover i{
	transform: translateX(10px);
	color: #FE354D;
}
.btn-read{
	color:#FF6600;
	transition: all 0.4s ease;
}
.btn-read:hover{
	color:#FF6600;
}
.btn-read i{
	color: #00265E;
	transform: translateX(0px);
	color: #ffffff;
	transition: all 0.4s ease;
}
.btn-read:hover i{
	transform: translateX(10px);
	color: #FF5E15;
}
.btn-read-theme i{
	font-size: 30px;
	color: #ffffff;
	transition: all 0.4s ease;
}
.btn-read-theme:hover i{
	transform: translateX(0);
	color: #00265E;
}
.btn-view-theme-2:hover i{
	background-color: #041B52;
}
.btn-color-theme{
	background-color: #00265E!important;
}
.btn-color-theme:hover{
    background-color: #FF6600!important;	
	color: #ffffff;	
}
.btn-color-theme:hover i{
	color: #ffffff;
}
.sub-heading {
    color: #ff905d;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
}
.pos-relative{
	position: relative;
}
.fix{
	overflow: hidden;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{
	padding: 120px 0;
}
.top-spacing{
	padding-top: 120px;
}
.bottom-spacing{
	padding-bottom: 120px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-20{
	padding-top: 20px;
}
.pt-30{
	padding-top: 30px;
}
.pt-40{
	padding-top: 40px;
}
.pt-65{
	padding-top: 65px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-22{
	padding-bottom: 22px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-40{
	padding-bottom: 40px;
}
.pb-50{
	padding-bottom: 50px;
}
.pb-64{
	padding-bottom: 64px;
}
.pb-100{
	padding-bottom: 100px;
}
.pr-10{
	padding-right: 10px;
}
.pr-20{
	padding-right: 20px;
}
.pl-30{
	padding-left: 30px;
}
.mt-30{
	margin-top: 30px;
}
.mt-40{
	margin-top: 40px;
}
.mb-50{
	margin-bottom: 50px;
}
.ml-30{
	margin-left: 30px;
}
.mt-112{margin-top:112px;}
.mb-112{margin-bottom: 112px;}
/*===============================
	2. top header
===============================*/
.top-header{
	width: 100%;
	height: auto;
    background-color: #00265E;
}
.header-location i{
    width: 16px;
    height: auto;
	margin-right: 10px;
	color: #ffffff;
}
.header-location h5{
	color: #ffffff;
	font-size: 14px;
	opacity: 0.9;
}
.header-location span{
  	color: #ffffff;
	font-size: 14px;
	opacity: 0.9;
}
.header-location {
    padding: 8px 0;
}
.header-right-portion{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.header-right-portion a{
	color: #ffffff;
	font-size: 14px;
	opacity: 1;
}
.header-email h5{
	color: #ffffff;
	opacity: 0.9;
	font-size: 14px;
}
.header-email{
	padding-left: 30px;
	padding-right: 65px;
}
.header-email span{
	font-size: 14px;
	opacity: 0.9;
}
.header-email i{
	color: #ffffff;
}
.social-icon ul li{
	display: inline-block;
	margin: 5px;
}
.social-icon ul li a i {
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.social-icon ul li a:hover i{
	color: #ffffff;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
.header-socials ul li a i {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 94, 21);
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.header-socials ul li a:hover i{
	background-color: #ffffff;
	color:#ffffff;
	border: 1px solid #ffffff;
}
/*===================================
	3. main menu area
===================================*/
.sticky {
	position: fixed;
    top: -25px;
    right: 0;
    width: 100%;
    z-index: 2;
    margin-top: 25px;
    margin-bottom: 5px;
	background-color: #FFFFFF;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.main-menu-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
}
.main-menu ul{
	text-align: center;
    z-index: 1;
}
.main-menu ul li {
    display: inline-block;
    position: relative;
    line-height: 40px;
}
.main-menu ul li:last-child{padding: 0;}
.main-menu ul li a {
    color: #00265E;
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 20px 15px;
}
.main-menu ul li a:last-child{
	padding: 0;
	margin: 0;
}
.main-menu ul li a:hover{
	color: #FF5E15;
}
.main-menu ul ul{
	text-align:left!important;
    background:#FF5E15;
	width:280px;
	display: block;
	position:absolute;
	content: "";
	top: 120px;
	opacity:0;
	visibility:hidden;
	z-index:1; 
	transition:all 0.2s ease;
}
.main-menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 80px;
}
.main-menu ul ul li{
	display:block;
}
.main-menu ul ul li ul{
    text-align: left!important;
    background: #FF5E15;
    width: 180px;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.2s ease;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0;
}
.main-menu ul ul li:hover a{
	background-color: #00265E;
	color: #ffffff;
}
.main-menu ul ul li a{
	color: #ffffff;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul li:hover ul{
	left:180px;
	opacity: 1;
	visibility: visible;
}
.main-menu ul ul li:hover ul li a{
	background:none;
	color:#ffffff;
}
.main-menu ul ul li ul li a:hover{
	background-color:#00265E;
	color: #ffffff;
}
.nav-links li a .fa-angle-down{
	padding-left: 5px;
	transition: all 0.3s ease;
}
.nav-links li a:hover .fa-angle-down{
	transform: translateY(5px);
}
.drop-down li a i{
	padding: 0 10px;
	opacity:0;
	visibility:hidden;
	transition:all 0.2s ease;
}
.drop-down li a:hover i{
	opacity:1;
	visibility:visible;
	color: #ffffff;
}
.btn-search{
	padding-right: 30px;
	font-size: 20px;
	color: #00265E;
}
/* search popup start  */
.td-search-popup.active .search-form {
	visibility: visible;
	opacity: 1;
	width: 40%;
	z-index: 9999;
}
.td-search-popup .search-form {
	width: 35%;
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	transition: all 0.4s ease;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%);
	z-index: 999;
}

.td-search-popup .search-form .form-group .form-control {
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 54px;
	padding: 0 75px 0 25px;
	background: #f7f9fb;
}

.td-search-popup .search-form .form-group .form-control:hover,
.td-search-popup .search-form .form-group .form-control:focus,
.td-search-popup .search-form .form-group .form-control:active {
	outline: 0;
	box-shadow: none;
}
.td-search-popup .search-form .submit-btn {
	position: absolute;
	right: 0;
	top: 3px;
	width: 60px;
	height: 57px;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.4s ease;
	padding: 0;
	text-align: center;
	cursor: pointer;
	color: #FF6600;
	background: none;
	font-size: 20px;
}
.td-search-popup .search-form .submit-btn:hover,
.td-search-popup .search-form .submit-btn:focus,
.td-search-popup .search-form .submit-btn:active {
	outline: 0;
	box-shadow: none;
}

.body-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.95);
	z-index: 999;
	content: "";
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}
.body-overlay.active {
	visibility: visible;
	opacity: 0.97;
}
/*=====================================
 	header area Ends
 ====================================*/
 /*===================================
	4. banner section start
====================================*/	
 .banner-section{
	 background-image: url('../images/banner/index-6.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	 width:100%;
	 height:auto;
	 position: relative;
	 z-index: 0;
	 padding-top: 212px;
	 padding-bottom: 235px;
 }
 .banner-section:after{
	 position: absolute;
	 content: "";
	 top: 0;
	 left: 0;
	 background-color:#00265E;
	 height: 100%;
	 width: 100%;
	 opacity: 0.7;
	 z-index: -1;
 }
 .banner-content p {
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 18px;
    opacity: 0.8!important;
}
.banner-content .text-type{
	color:#FF5E15;
	font-size: 65px;
	font-weight:800;
	line-height:75px;
	opacity: 0.9;
}
.banner-thumnail img{
	width: 100%;
	height: auto;
}
/*===================================
	banner section Ends
====================================*/
/*====================================
	5. feature section start
====================================*/
.feature-thumb img{
	width: 100%;
	height: auto;
	transition: all 0.7s ease;
}	
.feature-thumb{
	display: block;
	overflow: hidden;
}
.feature-item:hover .feature-thumb img{
	transform: scale(1.1);
}
.feature-item{
	box-shadow: rgb(0 0 0 / 6%) 0 10px 20px;
	border-radius: 8px;
	padding: 0 20px;
	transition: all 0.4s ease;
}	
.feature-item:hover{
	box-shadow: rgb(255 102 0 / 20%) 0 10px 20px;
}
.feature-content{
	padding: 20px 27px 30px 20px;
}
.feature-item:hover h4 a{
	color: #FF6600;
}
/*====================================
	feature section Ends
====================================*/	
/*===================================
 	6. about us section start
 ==================================*/
 .aboutus-section{
	 background-color: #FFFBFB;
	 z-index: 0;
 }
 .about-thumb-bg{
    background-image: url(../images/aboutus/about-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 50%;
    height: 600px;
	z-index: -1;
	margin-top: 120px;
	border-radius: 0 8px 8px 0;
 }
 .thumb-1 img{
	width: 100%;
	height: auto;
	border-radius: 8px;
	border: 10px solid #ffffff;
	box-shadow: rgb(0 0 0 / 8%) 3px 6px 20px;
}
.thumb-1 {
    position: absolute;
    content: "";
    bottom: -60px;
	transform-origin: bottom;
	animation:move-top 4s linear infinite;
}
@keyframes move-top{
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}
 .aboutus-icon{
    width: 100px;
    height: 100px;
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
    text-align: center;
    line-height: 100px;
    box-shadow: rgb(0 0 0 / 10%) 2px 5px 15px;
	border-bottom: 4px solid #FF6600;transition: all 0.4s ease;
 } 
 .aboutus-icon:hover{
	background-color: #FF6600;
	color: #ffffff;
	border-radius: 4px;
 }
 .aboutus-icon img{
	width: 60px;
    height: 60px;
    transition: all 0.4s ease;
 }
 .aboutus-item p{
	 font-size: 17px;
	 font-weight: 600;
 } 
 .aboutus-item p span{
	font-size: 17px;
	font-weight: 600;
	color: #FF6600;
 }
/*===================================
 	about us section Ends
 ==================================*/
 /*===================================
	7. service section start
====================================*/
.service-section{
	margin-bottom: 100px;
}
.service-box{
	background-color: #ffffff;
	overflow: hidden;
	border-radius: 8px;
}
.service-thumb img {
    width: 100%;
	height:auto;
	transition: all 0.7s ease;
	transform: scale(1.1);
	overflow: hidden;
	border-radius: 10px;
}
.service-box:hover .service-thumb img{
	transform: scale(1.2);
}
.service-icon i {
    width: 60px;
    height: 60px;
    line-height: 71px;
    text-align: center;
    font-size: 30px;
    background-color: #FF6600;
    color: #ffffff;
    display: inline-block;
    border-radius: 100%;
    box-shadow: rgb(0 0 0 / 10%) 3px 4px 10px;
    position: absolute;
    content: "";
    top: -30px;
    left: 122px;
}
.service-desc{
    background-color: #ffffff;
    padding: 40px 37px 30px 37px;
    box-shadow: rgb(0 0 0 / 8%) 3px 6px 30px;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    bottom: -85px;
    left: 44px;
	transition: all 0.4s ease;
}
.service-desc h4 {
    font-size: 23px;
}
.service-desc:hover .service-icon i{
	background-color: #ffffff;
	color: #FF6600;
	animation:hover-icon 1s ease-in-out;
	animation-iteration-count: 1;
}
.service-desc:hover{
	background-color: #FF6600;
}
.service-desc:hover h4 a{
	color: #ffffff;
}
.service-desc:hover p{
	color: #ffffff;
}
@keyframes hover-icon{
	16.65% {
	  transform: translateX(8px);
	}
	33.3% {
	  transform: translateX(-6px);
	}
	49.95% {
	  transform: translateX(4px);
	}
	66.6% {
	  transform: translateX(-2px);
	}
	83.25% {
	  transform: translateX(1px);
	}
	100% {
	  transform: translateX(0);
	}
  }
/*===================================
	service section Ends
====================================*/
/*===================================
	8. choose us section start
====================================*/
.coohseus-section{
	background-color:#FFFBFB;
}
.right-side-bg {
    background-image: url(../images/chooseus/choose-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    content: "";
    top: 0px;
    right: 0;
    width: 50%;
    height: 74%;
}
.chooseus-item{
	width:120px;
	height: auto;
	padding: 20px 11px;
	box-shadow: rgb(0 0 0 / 8%) 3px 5px 20px;
	margin-right: 30px;
	transition: all 0.4s ease;
}
.chooseus-item:last-child{
	margin: 0;
}
.chooseus-item:hover{
	box-shadow: rgb(255 102 0 / 20%) 2px 6px 20px;
	transform: translateY(5px);
}
.chooseus-icon i{
	font-size: 40px;
	color: #FF6600;
	border-bottom: 1px solid #E9E9E9;
	display: block;
 }
 .chooseus-item:hover i{
	animation-name: hover-icon;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
 }
 .chooseus-thumb {
    position: absolute;
    content: "";
    bottom: -484px;
    right: -97px;
    width: 91%;
    height: 100%;
    border-radius: 8px;
	animation:mymove 4s linear infinite;
	transform-origin: bottom;
}
@keyframes mymove{
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}
 .chooseus-thumb img{
	 width: 100%;
	 height: auto;
	 border-radius: 8px;
 }
/*===================================
	choose us section Ends
====================================*/
/*==================================
	9. project section start
====================================*/
.project-single{
	display: block;
	overflow: hidden;
}
.project-single:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00265E;
	opacity: 0;
	transition: all 0.9s ease;
}
.project-single:hover:after{
	opacity: 0.6;
}
.project-thumb img{
	width: 100%;
	height: auto;
	transform: scale(1.0);
	transition: all 0.9s ease;
	transition-delay:0.1s ;
}
.project-single:hover .project-thumb img{
	transform: scale(1.1);
}
.project-meta{
	position: absolute;
	content: "";
	left: 0;
	bottom: -50px;
	width: 100%;
	height: auto;
	background-color: #FF6600;
	padding:20px 30px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease;
}
.project-single:hover .project-meta{
	bottom: 0;
	opacity: 1;
	visibility: visible;
}
/*==================================
	project section Ends
====================================*/	
/*====================================
	10.  team section start
=====================================*/
.team-single{
	background-color:#ffffff;
	box-shadow: rgb(0 0 0 / 10%) 3px 6px 40px;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
}
.team-slider .team-single:nth-child(1){
	margin-left: 0;
}
.team-slider .team-single:nth-child(4){
	margin-right: 0;
}
.team-thumb img{
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0 0;
    transition: all 0.7s ease;
}
.team-single:hover .team-thumb img{
	transform: scale(1.1);
}
.team-info{
	padding: 20px 20px 30px 20px;
}
.team-social{
	position: absolute;
    content: "";
    width: 100%;
    bottom: -50px;
    left: 0;
    background-color: #FF6600;
    padding: 7px 50px;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    text-align: center;
}
.team-social ul li{
	margin-right: 5px;
	opacity: 0;
	z-index: 9;
	transform: translateX(-20px);
	transition: all 0.5s ease-in-out;
	display: inline-block;
}
.team-social ul li a i{
	width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #FB796A;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
	color: #ffffff;
	transition: all 0.4s ease;
}
.team-single .team-social ul li:nth-child(1) {
	padding-top: 0;
	transition-delay: 0.1s;
} 
.team-single .team-social ul li:nth-child(2) {
	transition-delay: 0.2s;
}
.team-single .team-social ul li:nth-child(3) {
	transition-delay: 0.3s;
}  
.team-single .team-social ul li:nth-child(4) {
	transition-delay: 0.4s;
	margin: 0;
}
.team-single:hover .team-social ul li {
	opacity: 1;
	transform: translateX(0);
}
.team-social ul li a:hover i{
	background-color: #00265E;
	color: #ffffff;
}
.team-single:hover .team-social{
	bottom: 0;
	opacity: 1;
	visibility: visible;
}
/*====================================
	team section Ends
=====================================*/	
/*====================================
	11. testimonial section start
======================================*/
.testimonial-section{
	background-image: url('../images/testimonial/testimonial-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 120px;
}
.testimonial-slider-3 img {
	border-radius: 100%;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.16);
  }
  .testimonial-section img{
	border: 4px solid #FF6600;
}
.client-thumb img {
    width: 15%!important;
    height: auto;
    display: block;
    margin: 0 auto;
}
.slider-item p{
	font-weight: 600;
	font-style: italic;
}
.reviews .checked{
	padding-top: 10px;
	color: #FF5E15;
}
  .testimonial-slider-3 .action .item-2 {
    position: absolute;
    right: 10%;
    top: -40px;
    transform: translate(-50%, 0);
}
  .testimonial-slider-3 .action .item-5 {
    position: absolute;
    right: 0%;
    top: 55%;
    transform: translate(-50%, -50%);
}
.testimonial-slider-3 .action .item-4 {
    position: absolute;
    left: 8%;
    top: 55%;
    transform: translate(-50%, -50%);
}
 .testimonial-slider-3 .action .item-6 {
    position: absolute;
    left: 20%;
    bottom: -80px;
    transform: translate(-50%, 0);
} 
  .testimonial-slider-3 .action .item-3 {
    position: absolute;
    left: 20%;
    top: -40px;
    transform: translate(-50%, 0);
}
  .testimonial-slider-3 .action .item-7 {
    position: absolute;
    right: 10%;
    bottom: -80px;
    transform: translate(-50%, 0);
}
  .testimonial-slider-3 .testimonial-slider-nav-2 {
	height: 465px;
	width: 465px;
	margin: 0 auto;
	border-radius: 50%;
	display: none;
  }
  .testimonial-slider-3 .testimonial-slider-nav-2 .slick-list {
	align-items: center;
	align-self: center;
  }
  .testimonial-slider-3 .testimonial-slider-nav-2 .thumb img {
	margin: 0 auto;
  }
  
  .testimonial-slider-for-2 .testimonial-wrap {
	text-align: left;
	padding-left: 63px;
  }
  .testimonial-slider-for-2 .testimonial-wrap .content {
	margin-top: 0;
	font-size: 20px;
	margin-bottom: 20px;
	color: var(--heading-color);
  }
  .testimonial-slider-for-2 .testimonial-wrap p i,
  .testimonial-slider-for-2 .testimonial-wrap p svg,
  .testimonial-slider-for-2 .testimonial-wrap p img {
	color: var(--main-color);
	font-size: 24px;
	position: absolute;
	left: 40px;
	top: -2px;
	z-index: -2;
  }
  .testimonial-slider-for-2 .testimonial-wrap .name {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 0;
  }
  .testimonial-slider-for-2 .testimonial-wrap .name span {
	font-weight: 600;
	color: var(--main-color);
  }
  .testimonial-slider-for-2 .slick-dots {
    position: absolute;
    left: 35%;
    bottom: -80px !important;
}
.testimonial-slider-for-2 .slick-dots li {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background: #000;
    margin: 0 15px;
    list-style: none;
    position: relative;
    transition: all 0.3s ease-in;
}
  .testimonial-slider-for-2 .slick-dots li:after {
	content: "";
	position: absolute;
	height: 30px;
	width: 30px;
	background: transparent;
	border: 1px solid #FF5E15;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	opacity: 0;
	transition: all 0.3s ease-in;
  }
  .testimonial-slider-for-2 .slick-dots li button {
	display: none;
  }
  .testimonial-slider-for-2 .slick-dots li.slick-active {
	background: #FF5E15;
  }
  .testimonial-slider-for-2 .slick-dots li.slick-active:after {
	opacity: 1;
  }
/*=====================================
	testimonial section Ends
=======================================*/
/*=====================================
	12. blog section start
======================================*/
.blog-section{
	background-color: #FFFBFB;
}
.blog-single{
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: rgb(0 0 0 / 6%) 3px 8px 20px;
	padding: 0 30px 30px 30px;
}
.blog-thumb img{
	width: 100%;
	height: auto;
	transition: all 0.7s ease;
}
.blog-single:hover .blog-thumb img{
	transform: scale(1.1);
}
.blog-header ul li{
	display: inline-block;
	padding-right: 30px;
}
.blog-header ul li:last-child{
	padding: 0;
}
.blog-header ul li i{
	color: #FF6600;
	padding-right: 10px;
}
.blog-header ul li span{
	color: #202020;
}
.blog-single h4 a{transition: all 0.4s ease;}
.blog-single:hover h4 a{
	color: #FF6600;
}
.blog-single:hover .btn-read{
	color: #00265E;
}
/*=========================================
	blog section Ends
===========================================*/
/*=====================================
	13. brannd section start
====================================*/
.brand-slider{
	padding: 80px 0;
	border-radius: 16px 16px 0 0;
}
.brand-item{
	margin: 0 10px;
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.main-logo {
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.brand-item:hover .main-logo{
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    filter: grayscale(1);
}
.hover-logo{
	display: block;
	position: absolute;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	top: 0;
	left: 0;
	visibility: hidden;
	transform: translateY(-100%);
}	
.brand-item:hover .hover-logo{
	display: block;
	opacity: 3;
	visibility: visible;
	transform: translateY(0%);
	filter: grayscale(0%);
}
/*=======================================
	brannd section Ends
========================================*/
/*=========================================
	14. footer section start
===========================================*/
.footer-section{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
    z-index: 0;
}
.footer-section:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #041B52;
    opacity: 0.9;
}
.footer-section p{
	font-size: 14px;
}
.footer-section span{
	opacity: 0.9;
	font-size: 14px!important;
}
.footer-child h4{
    font-size: 26px;
    font-weight: 700;
	color: #ffffff;
}
.footer-tittle:after{
	position: absolute;
	content: "";
    bottom: -3px;
	left: 0;
    width: 70px;
    height: 4px;
	border-radius: 3px;
	background-color: #FF6600;
	transition: all 0.4s ease;
}
.footer-tittle:hover:after{
	width: 100px;
}
.footer-socials li{
	display: inline-block;
}
.footer-socials li a i{
    width: 30px;
    height:30px;
    display: block;
	font-size: 14px;
    background-color:#ffffff;
	border:1px solid #ffffff;
	color: #FF4A17;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
	transition: all 0.4s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.footer-socials li a:hover i{
    border:1px solid #ffffff;
	box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
.footer-links li i{
	color:#ffffff;
}
.footer-links li:hover i{
	color: #FF6600;
}
.footer-links li{
    padding-bottom: 12px;
	transition: all 0.4s ease;
}
.footer-links li a{
	font-size: 14px;
	font-weight: 400;
	transition: all 0.3s ease;
	padding-left: 18px;
	color: #ffffff;
}
.footer-links li:hover{
	transform: translateX(5px);
}
.footer-contact li{
	padding-bottom: 20px;
	color: #ffffff;
	font-size: 14px;
}
.footer-contact a{
	font-size: 14px;
	color: #ffffff;
}
.footer-contact a:hover{
	color: #FF6600;
}
.footer-contact ul li i{
	color: #FE354D;
	font-size: 18px;
}
.footer-contact ul li span{
	padding-left: 10px;
	color: #ffffff;
	font-size: 14px!important;
	transition: all 0.4s ease;
}
.footer-form form input{
	width: 100%;
	height: auto;
	padding: 19px 20px;
	background-color: #ffffff;
	border-radius: 4px;
    line-height: 18px;
	border: none;
	outline: none;
}
.footer-form button{
	border: none;
	outline: none;
	margin-top: 12px;
	border-radius: 4px;
}
/*  footer-bottom*/
.coppyright-text p{
	font-size: 14px;
	color: #ffffff;
	padding-top: 70px;
}
.coppyright-text p span{
	color: #FF586C;
	font-weight: 800;
	font-size: 18px;
}
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0 !important;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF5E15;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1 !important;
}
.to-top i{
	color: #ffffff;
}
/*==========================================
	footer section Ends
==========================================*/	
/*======slider======*/
.slider-3 .slick-dots {
    display: flex !important;
    margin-left: 40%;
    z-index: 0;
}
.slider-3 .slick-dots button {
	font-size: 0;
    width: 14px;
    height: 14px;
    margin: 4px;
    background-color: #ffffff;
	border: 1px solid rgb(255 102 0 / 60%);
    border-radius: 20px;
    transition: 0.3s;
}
.slider-3 .slick-dots .slick-active button {
    width: 14px;
	height: 14px;
	background-color:#FF5E15;
}
/*slider 4*/
.slider-4 .prev-arrow {
    position: absolute;
    content: "";
    top: -100px;
    right: 15px;
    width: 65px;
    height: 50px;
    background-color: #FF6600;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.slider-4 .next-arrow {
    position: absolute;
    content: "";
    top: -100px;
    right: 110px;
    width: 65px;
    height: 50px;
    background-color: #FF6600;
    z-index: 1;
	text-align: center;
    line-height: 50px;
    color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
}
.slider-4 .slick-arrow{transition: all 0.4s ease;}
.slider-4 .slick-arrow:hover{
	background-color: #FFB27F;
}
.slider-4 .slick-slide {
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

  