/*
	Template name : Buconz - Multi-Purpose Consulting Business HTML5 Template
	Description : Multi-Purpose Consulting Business HTML5 Template
	Keywors : consulting, digital consultancy, Multi-Purpose, html, shop, ecommerce, digital agency, finance, consult agency
	Author name : OrdainIT
	Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]

	1. Typhography
	2. top header
	3. main menu area
	4. banner section
	5. about us section
	6. service section
	7. video section
	8. recent project section 
	9. team section
	10. work section  
	11. testimonial section 
	12. blog section
	13. barnd section
	14. contact section
	15. Footer / #footer

-------------------------------------------------------------------*/
/*====================================================
	1. Typhography
====================================================*/	
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Nunito:wght@400;600;700&display=swap');

html {
	width: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*{	margin:0; 
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
body{
	background:#ffffff;
	overflow-x:hidden;
	box-sizing:border-box;
	color: #404040;
	font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding:0;
	font-family: 'Nunito Sans', sans-serif;
	color:#041B52;
}
p{
	font-size: 17px;
	font-weight:400;
	line-height: 27px;
	color:#404040;
	opacity: 0.9! important;
	margin:0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}
/*=================================================
	Common style
================================================*/	
a:focus,
a:hover{
	color:#FE354D;
	transition: all 0.4s ease;
	text-decoration: none;
}
a{
	color:#002258;
	text-decoration:none;
	transition: all 0.4s ease;
	opacity: 0.9;
}
span{color: #707070;
	opacity:0.9;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
::selection {
	background: #FE354D;
	color: #fff;
	text-shadow: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:inherit;
}
h1 {
	font-size: 65px;
	font-weight:800;
	line-height:75px;
	opacity: 0.9;
}
h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 62px;
}
h3 {
	font-size: 37px;
	font-weight:700;
	line-height: 47px;
	opacity: 0.9;
}
h4 {
	font-size: 22px;
	font-weight:700;
	line-height: 32px;
	opacity: 0.9;
}
h5 {
	font-size: 17px;
	font-weight: 600;
	line-height: 27px;
}
h6 {
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	opacity: 0.9;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
.b-primary {
    background-color: #FE354D;
    padding: 19px 25px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
	border: none;
    transition: all 0.9s ease;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.b-primary:hover {
    box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
.b-primary i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.3s ease;
}
.b-primary:hover i{
	transform: translateX(10px);
	color: #FE354D;
}
.b-primary:focus{
	color: #ffffff;
}
.btn-white{
	padding: 20px 30px;
	display: inline-block;
    box-shadow: 0 0 0 0 #041B52 inset;
    color: #ffffff;
	font-weight: 500;
	line-height: 15px;
	transition: all 0.5s ease;
    background-color: #FE354D;
}
.btn-white:hover{
	box-shadow: 0 0 0 4em #ffffff inset, 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #041B52;
}
.btn-white i{
	transform: translateX(0px);
	padding-left: 10px;
	color: #ffffff;
	transition: all 0.4s ease;
}
.btn-white:hover i{
	transform: translateX(10px);
	color: #FE354D;
}
.btn-view{
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
	text-transform: uppercase;
	transition: all 0.4s ease;
}
.btn-view i{
	padding-left: 5px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(0px);
	transition: all 0.7s ease;
}
.btn-view:hover i{
	opacity: 1;
	visibility: visible;
	transform: translateX(10px);
    color: #FE354D;
}
.sub-heading {
    color: #FE354D;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 60px;
    display: inline-block;
    letter-spacing: 2px;
	opacity: 0.9;
}
.bar{position: relative;}
.bar:before{
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
    width: 50px;
    height: 4px;
	border-radius: 2px;
    background-color: #FE354D;
}
.pos-relative{
	position: relative;
}
.fix{
	overflow: hidden;
}
form{
	width: 100%;
	position: relative;
}
/*=======================================
	Spacing
=======================================*/	
.section-padding{
	padding: 120px 0;
}
.top-spacing{
	padding-top: 120px;
}
.bottom-spacing{
	padding-bottom: 120px;
}
.pt-10{
	padding-top: 10px;
}
.pt-20{
	padding-top: 20px;
}
.pt-30{
	padding-top: 30px;
}
.pt-40{
	padding-top: 40px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-22{
	padding-bottom: 22px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-40{
	padding-bottom: 40px;
}
.pb-50{
	padding-bottom: 50px;
}
.pb-60{
	padding-bottom: 60px;
}
.pt-65{
	padding-top: 65px;
}
.pb-64{
	padding-bottom: 64px;
}
.pr-10{
	padding-right: 10px;
}
.pr-20{
	padding-right: 20px;
}
.pl-10{
    padding-left: 10px;
}
.pl-20{
	padding-left: 20px;
}
.pl-30{
	padding-left: 30px;
}
.mt-30{
	margin-top: 30px;
}
.mt-40{
	margin-top: 40px;
}
.ml-30{
	margin-left: 30px;
}
/*===================================
	2.top header start 
===================================*/
.top-header{
    padding: 10px 0;
    border: 1px solid #E9E9E9;
}
.header-contact ul li{
	display: inline-block;
	color: #ffffff;
	padding-right: 20px;
	padding-left: 20px;
	border-right: 1px solid #ffffff;
}
.header-contact ul li i{
	color: #FE354D;
}
.header-contact ul li:first-child{
	padding-left: 0;
}
.header-contact ul li:last-child{
	border: none;
}
.header-contact ul li span{
	font-size: 14px;
	opacity: 1;
}
.header-contact ul li a{
	font-size: 14px;
	opacity: 1;
}
.header-contact ul li a:hover{
	color: #FE354D;
}
.top-header-inner .contact-box{
    border-right: 1px solid #E9E9E9;
	padding: 0 20px; 
}
.top-header-inner .contact-box:nth-child(3){
    border:none;
}
.contact-info a{
	font-size: 14px;
}
.contact-box .icon i{
	font-size: 18px;
	color: #FE354D;
	margin-right: 10px;
}
.social-icon ul li{
	display: inline-block;
}
.social-icon ul li a i{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    transition: all 0.4s ease;
}
.header-socials ul li a i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #FE354D;
    color: #ffffff;
    font-size: 14px;
    margin: 0 2px;
	box-shadow: 0 0 0 0 #041B52 inset;
}
.header-socials ul li a:hover i{
    box-shadow: 0 0 0 4em #041B52 inset, 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*===================================
	3. main menu area
===================================*/
.sticky {
	position: fixed;
    top: -25px;
    left: 0;
    width: 100%;
    z-index: 2;
    margin-top: 25px;
    margin-bottom: 5px;
	line-height: 85px;
	background-color: #FFFFFF;
    transition: all 0.7s ease;
    box-shadow: 1px 1px 3px #bac0c5;
}
.logo-style-1{display: none;}
.main-menu-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
}
.main-menu ul{
	text-align: center;
    z-index: 1;
}
.main-menu ul li {
    display: inline-block;
    position: relative;
    line-height: 40px;
}
.main-menu ul li a {
    color: #041B52;
    display: block;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    opacity: 1;
	padding: 20px 15px;
}
.main-menu ul li a:last-child{
	padding: 0;
	margin: 0;
}
.main-menu ul li a:hover{
	color: #FE354D;
}
.main-menu ul ul{
	text-align:left!important;
    background:#FE354D;
	width:280px;
	display: block;
	position:absolute;
	content: "";
	top: 110px;
	opacity:0;
	visibility:hidden;
	z-index:1; 
	transition:all 0.2s ease;
}
.main-menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 80px;
}
.main-menu ul ul li{
	display:block;
}
.main-menu ul ul li ul{
    text-align: left!important;
    background: #FE354D;
    width: 180px;
    display: block;
    position: absolute;
    content: "";
    top:0;
    left: 180px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.2s ease;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0;
}
.main-menu ul ul li:hover a{
	background-color: #00265E;
	color: #ffffff;
}
.main-menu ul ul li a{
	color: #ffffff;
	padding: 0;
	font-size: 15px;
	font-weight: 600;
}
.main-menu ul li:hover ul ul{
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul li:hover ul{
	opacity: 1;
	visibility: visible;
	top: 0px;
}
.main-menu ul ul li:hover ul li a{
	background:none;
	color:#ffffff;
}
.main-menu ul ul li ul li a:hover{
	background-color:#00265E;
	color: #ffffff;
}
.nav-links li a .fa-angle-down{
	padding-left: 5px;
	transition: all 0.3s ease;
}
.nav-links li a:hover .fa-angle-down{
	transform: translateY(5px);
}
.drop-down li a i{
	padding: 0 10px;
	opacity:0;
	visibility:hidden;
	transition:all 0.2s ease;
}
.drop-down li a:hover i{
	opacity:1;
	visibility:visible;
	color: #ffffff;
}
.btn-search{
	padding-right: 30px;
	font-size: 20px;
	color: #00265E;
}
/* search popup start  */
.td-search-popup.active .search-form {
	visibility: visible;
	opacity: 1;
	width: 40%;
	z-index: 9999;
}
.td-search-popup .search-form {
	width: 35%;
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	transition: all 0.4s ease;
	visibility: hidden;
	opacity: 0;
	transform: translate(-50%, -50%);
	z-index: 999;
}

.td-search-popup .search-form .form-group .form-control {
	border: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 54px;
	padding: 0 75px 0 25px;
	background: #f7f9fb;
}

.td-search-popup .search-form .form-group .form-control:hover,
.td-search-popup .search-form .form-group .form-control:focus,
.td-search-popup .search-form .form-group .form-control:active {
	outline: 0;
	box-shadow: none;
}
.td-search-popup .search-form .submit-btn {
	position: absolute;
	right: 0;
	top: 0px;
	width: 60px;
	height: 57px;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.4s ease;
	padding: 0;
	text-align: center;
	cursor: pointer;
	color: #FE354D;
	background: none;
	font-size: 20px;
}
.td-search-popup .search-form .submit-btn:hover,
.td-search-popup .search-form .submit-btn:focus,
.td-search-popup .search-form .submit-btn:active {
	outline: 0;
	box-shadow: none;
}

.body-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.95);
	z-index: 999;
	content: "";
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}
.body-overlay.active {
	visibility: visible;
	opacity: 0.97;
}
/*=====================================
 	header area Ends
 ====================================*/
 /*===================================
	4. banner section start
====================================*/	
 .banner-section{
	 background-image: url('../images/banner/index-5.jpg');
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	 width:100%;
	 height:auto;
	 position: relative;
	 z-index: 0;
	 padding: 120px 0;
 }
 .banner-section:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #041B52;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
.banner-content span{
	font-weight: 600;
}
.banner-content .text-type{
	color:#FE354D;
	font-size: 65px;
	font-weight:800;
	line-height:75px;
	opacity: 0.9;
}
 .banner-content p{
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 16px;
 }
.banner-thumnail img{
	width: 802px;
	height: auto;
}
 #play-btn{
	color: #ffffff;
	transition: all 0.4s ease;
   }
#play-btn:hover{
   color:#FE354D;
}
#play-btn i {
   width: 50px;
   height: 50px;
   margin-left: 25px;
   border-radius: 50%;
   color: #FE354D;
   background-color: #ffffff;
   display: inline-block;
   line-height: 50px;
   position: relative;
   z-index: 0;
   text-align: center;
   animation: video 2.5s linear infinite;
}
@keyframes video {
	0% {
	  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
	}
	100% {
	  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 100px rgba(255, 255, 255, 0);
	}
  }
/*===================================
	banner section Ends
====================================*/
/*=================================
	5.  feature section start 
==================================*/
.feature-box{
	background-color: #F1F1F1;
	padding: 30px 30px 30px 20px;
	border-bottom: 5px solid #FE354D;
}
.feature-box:hover{
	border: none;
	transition: all 0.4s ease;
}
.feature-box:hover .feature-icon{
	opacity: 0;
	transition: all 0.4s ease;
}
.feature-box:hover .feature-content{
	opacity: 0;
	transition: all 0.4s ease;
}
.feature-box-overly{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: block;
	visibility: hidden;
	background-color: #F1F1F1;
	transition: all 0.7s ease;
}
.feature-box:hover .feature-box-overly{
	opacity: 1;
	visibility: visible;
}
.feature-mid-box{
	padding: 0px;
	border: none;
}
.feature-header{
	padding: 30px 0 0 20px;
}
.feature-bg{
	background-color: #041B52;
	padding: 15px 30px 30px 20px;
}
.feature-thumb img {
    max-width: 150px;
    height: auto;
}
/*=================================
	  feature section Ends
==================================*/
/*===================================
	6. about us section start
====================================*/
.aboutus-content{
	background-image: url('../images/aboutus/about-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 80px;
	position: relative;
}
.chart {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 195px;
}
.chart h4{
	font-weight: 600;
}
.aboutus-content p.text{
	color: #FE354D;
	font-style: italic;
}
canvas {
    position: absolute;
    left: 21px;
    top: 42px;
    height: 120px!important;
    width: 120px!important;
}
.parcent{
    line-height: 202px;
    color: #FE354D;
	text-align: center;
}
.parcent:after{
	content:"%";
}
.aboutus-experience {
    position: absolute;
    content: "";
    left: -60px;
    top: 180px;
    display: inline-block;
    background-color: rgb(255, 49, 26);
    padding: 17px;
    text-align: center;
	animation:move 4s linear infinite;
	transform-origin: bottom;
}
@keyframes move {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}
.aboutus-experience h2{
	position: relative;
	display: inline-block;
}
.aboutus-experience h2:after{
	position: absolute;
	content: "+";
	top: 0;
	font-size: 35px;
}
.aboutus-experience span{
	display: block;
	font-size: 22px;
	font-weight: 700;
	color: #ffffff;
}
/*===================================
   about us section Ends
====================================*/	   
/*===================================
	7. service section start
====================================*/
.service-section{
	background-image: url('../images/service/service-bg-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.service-box{
	background-color: #ffffff;
	padding: 40px 25px 40px 40px;
	overflow: hidden;
	margin-bottom: 25px;
	text-align: center;
}
.service-box:hover .service-icon{
	opacity: 0;
	transition: all 0.4s ease;
}
.service-box:hover .service-desc{
	opacity: 0;
	transition: all 0.4s ease;
}
.service-icon{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #FE354D;
    text-align: center;
    line-height: 90px;
    display: block;
    margin: 0 auto;
}
.service-icon i{
    font-size: 40px;
    color: #ffffff;
}
.service-desc h4{
	color:#00265E;
	padding-top: 25px;
	padding-bottom: 10px;
}
.service-desc h4 a:hover{
	color:#FE354D;
}
/* service-box overly  */ 
.service-box-overly{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:#041B52;
	padding: 40px 25px 40px 40px;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease;
	text-align: left;
}
.service-box:hover .service-box-overly{
	opacity: 1;
	visibility: visible;
}
.service-overly-icon{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #FE354D;
    text-align: center;
    line-height: 90px;
}
.service-overly-icon i{
    font-size: 40px;
    color: #ffffff;
}
/*===================================
	service section Ends
====================================*/
/*===================================
	8. progress section start
====================================*/
  .progress-single span {
    position: absolute;
    top: 30px;
	color: #202020;
}  
.progressbar {
    margin-bottom: 50px;
}
.progress-feature {
    display: block;
    padding-right: 7px;
}
.progress-thumb{
	padding-left: 40px;
	margin-top: 35px;
	animation:move 4s linear infinite;
}
@keyframes move {
	0%   { transform: translateY(0); }
	50%  { transform: translateY(-20px); }
	100% { transform: translateY(0); }
}
/*===================================
	progress section End
====================================*/
/*==================================
	9. newslatter section start
====================================*/
.newslatter-section{
	background-color: #FE354D;
	padding: 12px 0;
}
.newslatter-section h3{font-size: 36px;}
.email-box form input{
	width: 100%;
    padding: 20px 0 20px 30px;
    border-radius: 4px;
	border: none;
	outline: none;
}
.sub-btn-1{
    border: none;
    position: absolute;
    content: "";
    top: 5px;
    right: 5px;
}
.newslatter-thumb{
	animation:animate 4s linear infinite;
}
@keyframes animate {
	0%   { transform: translateY(0); }
	50%  { transform: rotateY( 40deg); }
	100% { transform: translateY(0); }
}
/*==================================
	newslatter section Ends
====================================*/
/*===================================
	10. get touch section start
====================================*/
.get-touch-inner .button{
    background-color: #FE354D;
    width: 12px;
    height: 12px;
	display: inline-block;
    border-radius: 100%;
	cursor: pointer;
}
.btn-1 {
    position: absolute;
    top: 0;
    right: 35%;
}
.btn-2 {
    position: absolute;
    top: 18px;
    right: 15%;
}
.btn-3 {
    position: absolute;
    top: 75px;
    left: 55%;
    width: 20px!important;
    height: 20px!important;
}
.btn-4 {
    position: absolute;
    top: 120px;
    left: 35%;
}
.btn-5 {
    position: absolute;
    top: 100px;
    right: 15%;
}
.btn-6 {
    position: absolute;
    top: 145px;
    right: 30%;
}
.btn-7 {
    position: absolute;
    right: 50px;
    top: 175px;
}
.btn-8 {
    position: absolute;
    right: 70px;
    top: 260px;
	width: 20px!important;
    height: 20px!important;
}
.btn-9 {
    position: absolute;
    right: 47%;
    top: 170px;
	width: 20px!important;
    height: 20px!important;
}
.btn-10 {
    position: absolute;
    left: 30%;
    top: 205px;
}
.btn-11 {
    position: absolute;
    right: 22%;
    top: 330px;
}
.get-touch-inner .button:hover .branch-info{
	opacity: 1;
	visibility: visible;
}
.get-touch-thumb.float-end img {
    width: 334px;
    height: auto;
	z-index: -1;
}
.branch-info {
    display: inline-block;
    width: 112px;
    height: auto;
    padding: 11px 13px;
    min-height: 100px;
    position: absolute;
    top: -80px;
    left: -140px;
    background-color: #FE354D;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
	z-index: 1;
}
.branch-info:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 0px;
    background: #FE354D;
    overflow: hidden;
    width: 85px;
    height: 55px;
    transform: skew(214deg, 186deg);
    z-index: -1;
}
.branch-info span{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
}
.branch-info.active{
	opacity: 1;
	visibility: visible;
}
.contact-form form .input-box{
    width: 47%;
    height: auto;
}
.contact-form span{
	padding-bottom: 10px;
	display: block;
}
.contact-form form .input-box input{
    width: 100%;
    height: auto;
    background-color: #F7F9FA;
    padding: 10px 20px;
    border: none;
    outline: none;
    display: inline-block;
    overflow: hidden;
}
.contact-form form input:hover{
	outline: 2px solid #FE354D;
}
.contact-form form textarea{
	width: 100%;
	height: auto;
	padding: 10px 20px;
	background-color: #F7F9FA;
	display: block;
	border: none;
	outline: none;
	margin-bottom: 30px;
}
.contact-form form textarea:hover{
	outline: 2px solid #FE354D;
}
/*===================================
	get touch section Ends
====================================*/
/*==================================
	11. project section start
====================================*/
.project-single {
    margin: 15px;
}
.project-single:after{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #041B52;
	opacity: 0;
	transition: all 0.9s ease;
}
.project-single:hover:after{
	opacity: 0.5;
}
.project-thumb img{
	width: 100%;
	height: auto;
}
.project-info{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: #041B52;
	padding:20px 30px;
	z-index: 1;
	transition: all 0.7s ease;
}
.project-single:hover .project-info{
	opacity: 0;
	visibility: hidden;
}
.project-info p:after{
	position: absolute;
    content: "";
    top: 15px;
    right: -50px;
    width: 40px;
    height: 2px;
    background-color: #FE354D;
    border-radius: 2px;
}
.btn-them-2{
	position: absolute;
    content: "";
    bottom: 35%;
    left: 30%;	
	opacity: 0;
	z-index: 1;
}
.project-single:hover .btn-them-2{
	bottom: 45%;
	opacity: 1;
}
/*==================================
	project section Ends
====================================*/	 
/*====================================
	12. testimonial section start
======================================*/
.testimonial-thumb {
    background-image: url("../images/chooseus/testimonial-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.testimonial-content {
    width: 40%;
    height: auto;
	user-select: text;
}
/*=====================================
	testimonial section Ends
=======================================*/
/*=====================================
	13. blog section start
======================================*/
.blog-single {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 3px 5px 20px;
    max-height: 610px;
    margin: 0 15px;
    transition: all 0.4s ease 0s;
}
.blog-single:hover{
	box-shadow: rgb(0 0 0 / 10%) 3px 20px 30px;
}
.blog-thumb img{
	width: 100%;
	height: auto;
	transition: all 0.7s ease;
}
.blog-date{
    position: absolute;
    content: "";
    top: -55px;
    left: 20px;
    display: inline-block;
    background-color: #FE354D;
    padding: 11px;
}
.blog-content{
    padding: 40px 25px 40px 20px;
	transition: all 0.7s ease;
}
.blog-single:hover .blog-thumb img{
	transform: scale(1.1);
}
.blog-header ul li{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	border-left: 1px solid #FE354D;
}
.blog-header ul li:first-child{
	border: none;
	padding-left: 0;
}
.blog-header{
	transition: all 0.4s ease;
}
.blog-single:hover .blog-header{
	opacity: 0;
}
.blog-single:hover .blog-content{
	padding-top: 0;
}
.blog-single h4 a{transition: all 0.4s ease;}
.blog-single:hover h4 a{
	color: #FE354D;
}
.blog-content h4:before{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 40px;
	height: 2px;
	background-color: #FE354D;
}
.blog-content h4:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #EAEAEA;
}
.btn-view-theme{
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease;
}
.blog-single:hover .btn-view-theme{
	color: #FE354D;
	visibility: visible;
	opacity: 1;
}
/*=========================================
	blog section Ends
===========================================*/
/*=====================================
	14. brannd section start
====================================*/
.brand-slider{
	padding: 80px 0;
	border-radius: 16px 16px 0 0;
}
.brand-item{
	margin: 0 10px;
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.main-logo {
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}
.brand-item:hover .main-logo{
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    filter: grayscale(1);
}
.hover-logo{
	display: block;
	position: absolute;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	top: 0;
	left: 0;
	visibility: hidden;
	transform: translateY(-100%);
}	
.brand-item:hover .hover-logo{
	display: block;
	opacity: 3;
	visibility: visible;
	transform: translateY(0%);
	filter: grayscale(0%);
}
/*=======================================
	brannd section Ends
========================================*/
/*=====================================
	15. consult section start
=====================================*/
.consult-section{
	background-color: #041B52;
	padding: 40px 0;
}
/*=====================================
	consult section start
=====================================*/	
/*=========================================
	16. footer section start
===========================================*/
.footer-section{
	background-image: url('../images/footer/index-5.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
    z-index: 0;
	padding-top: 80px;
}
.footer-section:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #041B52;
    opacity: 0.8;
}
.footer-child h4{
    font-size: 26px;
    font-weight: 700;
}
.footer-tittle:after{
	position: absolute;
	content: "";
    bottom: -3px;
	left: 0;
    width: 70px;
    height: 4px;
	border-radius: 2px;
	background-color: #FF311A;
	transition: all 0.4s ease;
}
.footer-tittle:hover:after{
	width: 100px;
}
.footer-socials ul li a i{
    width: 30px;
    height: 30px;
	line-height: 30px;
	color: #ffffff;
    text-align: center;
	font-size: 14px;
    margin-right: 8px;
	box-shadow: 0 0 0 0 #ffffff inset;
}
.footer-socials ul li a i:hover{
    box-shadow: 0 0 0 4em #ffffff inset, 0 5px 15px rgba(0, 0, 0, 0.1);
	color: #041B52;
}
.footer-section p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8!important;
}
.footer-email-box form input {
    padding: 12px 20px 12px 15px;
    line-height: 15px;
    width: 94%;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.footer-email-box form button{
    border: none;
    background-color: #FE354D;
    padding: 12px 15px;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
}
.footer-contact ul li{
	padding-bottom: 20px;
}
.footer-contact ul li i{
	color: #FE354D;
	font-size: 16px;
}
.footer-contact ul li span{
	padding-left: 10px;
	color: #ffffff;
	font-size: 14px!important;
	font-weight: 400;
	opacity: 0.8 !important;
	transition: all 0.4s ease;
}
.footer-contact h5{
	font-size: 17px;
	color: #ffffff;
	display: inline-block;
	opacity: 0.8;
	border-bottom: 1px solid #ffffff;
}
.footer-thumbnail {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.thumb-single img{
	width: 80px;
	height: auto;
	transition: all 0.4s ease;
	cursor: pointer;
}
.thumb-single:hover img{
	transform: scale(0.9);
}
.thumb-single {
    display: inline-block;
    width: 80px;
    margin: 0 5px 5px 0;
}
.thumb-single .btn-link {
    position: absolute;
    content: "";
    background-color: rgb(4, 27, 82);
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 75px;
	opacity: 0;
	visibility: visible;
}
.thumb-single:hover .btn-link{
	opacity: 0.9;
	visibility: visible;
	color: #FE354D;
}
/* footer bottom   */
.footer-bottom{
	padding: 25px 0;
	border-top: 1px solid #E9E9E9;
}
.footer-bottom p span{
	color:#FF586C;
	font-weight: 800;
	font-size: 18px;
}
/*  scroll to up button  */
.to-top{
	position: fixed;
	right: 40px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	display:inline-block;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	pointer-events: none;
	opacity: 0;
}
.to-top:before{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:before{
	bottom: 50px;
}
.to-top:after{
	position: absolute;
	content: "\f30c";
	right: 0;
	bottom: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF586C;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	line-height: 40px;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: all 0.4s ease;
}
.to-top:hover:after{
	bottom: 0px;
}
.to-top.active{
	bottom: 40px;
	pointer-events:auto;
	opacity: 1; 
}
.to-top i{
	color: #ffffff;
}
/*==========================================
	footer section Ends
==========================================*/	
/*======slider======*/
.slick-dots {
    display: flex !important;
    margin-top: 0px;
    z-index: 0;
	margin-top: 30px;
    margin-left: 45%;
}
.slider-2 .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    border: 0;
    margin: 10px;
    background-color: #D2D2D2;
    border-radius: 20px;
    transition: 0.3s;
}
.slick-dots li{
	padding: 0!important		
}
.slider-2 .slick-dots .slick-active button {
	background-color:#FE354D;
	outline: 3px solid #FE354D;
	outline-offset: 5px;
}
.blog-slider .slick-slide{
	margin-bottom: 20px!important;
}
/*=======slider-3=======*/
.slider-3 .slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    border: 0;
    margin: 10px;
    background-color: #D2D2D2;
    border-radius: 20px;
    transition: 0.3s;
}
.slider-3 .slick-dots .slick-active button {
	background-color:#FE354D;
	outline: 3px solid #FE354D;
	outline-offset: 5px;
}
