	/*==========responsive===============*/
	
	/*tablet lay out*/
	@media only screen and (min-width:1400px) and (max-width:1550px){
	h3 {font-size: 33px;}
	.contact-style-1 {position: absolute;left: 155px;width:80%;}
	.video-inner {position: absolute;left: 250px;}
	.work-counter {	position: absolute;	width: 75%; left: 220px;}
	}
	/*tablet lay out*/
	@media only screen and (min-width:1200px) and (max-width:1399px){
	h1{font-size: 60px;}
	h4{font-size: 20px;}
	.banner-content .text-type{font-size: 60px;}
	.newslatter-content span {font-size: 20px;}
	.top-spacing-mobile{margin-top: 85px;}	
	.banner-thumnail img{margin-top: 50px;}
	.contact-style-1 {position: absolute;left: 155px;width:80%;}
	.work-item h4:after {position: absolute;right: 30px;}
	.blog-header ul li {padding-right: 13px;}
	.work-bg-thumb {margin-top: -50px;}
	canvas {position: absolute;left: 18px;top: 42px;}
	.team-social ul li {margin: 3px;}
	.team-social-3{position: absolute;left: 115px;}	
	.team-style-4{position: absolute;left: 55px;}
	.team-social-style-4 {position: absolute;left: 112px;}	
	.video-section-4 {padding-bottom: 100px;}
	.work-counter-4 {position: absolute;width: 93%;left: 50px;bottom: -95px;}
	.main-menu:before {position: absolute;left: -5%;}
	.main-menu:after {position: absolute;right: -5%;}
	.video-inner {position: absolute;top: 308px;width: 81%;}
	.project-header {padding: 90px 30px;}
	.social-icon ul li {margin: 4px;}
	.counter-section{width: 94%;}
	.service-icon-style-2 i{position:absolute; left: 120px;}
	.info-style-1{position: absolute; left: 0;}
	.service-thumb {padding: 0 15px;}


	}
	@media only screen and (min-width:992px) and (max-width:1199px){
	.section-padding{padding: 90px 0;}
	.top-spacing{padding-top: 90px;}
	.bottom-spacing{padding-bottom: 90px;}	
	.main-menu{display: none!important;}
	h2{font-size:35px; line-height: 45px;}
	h3{font-size:25px; line-height: 35px;}
	h4{font-size: 20px; line-height: 30px;}
	p{font-size: 15px; line-height: 25px;}
	.client-info h4{font-size: 19px;}
	.case-info-style-1 h4{font-size: 16px;}
	.top-header-style-1{display: none;}
	.blog-header h4 a{font-size: 19px;}
	.blog-single h4 a {font-size: 19px;}
	.service-desc h4 {font-size: 18px;}
	.service-desc-style-1 h4 a{font-size: 18px;}
	.btn-search-1{display: none;}
	.contact-box-1{display: none !important;}
	.logo-style-1{display: block;}
	.logo-style-2{display: block;}
	.logo-style-3 {display: none!important;}
	.case-study-info h4 a {font-size: 15px!important;}
	.aboutus-item-style-6 p{font-size: 14px;}
	.mid-header-section{display: none!important;}
	.mid-header{display: none!important;}
	.top-spacing-mobile{margin-top: 180px;}
	.b-primary{padding: 15px 20px;}
	.sub-btn-1{position: absolute; top: 9px;}
	.contact-style-1 {position: absolute;left: 0;top: 100%;width: 100%;}
	.contact-icon-style-1 i{font-size: 50px; color: #FF6600;}	
	.contact-text p{color: #00265E; padding-bottom: 5px;}	
	.contact-text h4{color: #00265E;}.aboutus-content-style-1{padding-left: 20px;}
	.aboutus-experience-style-1{position: absolute;left: 0;bottom: 180px;}
	.aboutus-experience-style-1 h2:after{position: absolute;font-size: 40px;}
	.aboutus-thumb-style-2 img {position: absolute;right: 0;bottom: -140px;}
	.choosebg-thumb-2 {position: absolute;right: 0; width: 50%;}	
	.choosebg-thumb-1{width: 50%;}	
	.chooseus-content-style-1{width: 50%; padding-right: 20px;}
	.content-style-2{padding-bottom: 100px;}
	.work-item h4:after {position: absolute;font-size: 25px;right: 32px;}
	.skill-content-style-1{padding-left: 55%;}
	.counter-text h4:after {font-size: 24px;}
	canvas{position: absolute;left: 10px;top: 42px;}
	.chart {width: 145px;height: 145px;}
	.parcent {line-height: 160px;}
	canvas {position: absolute;top: 20px;}
	.work-icon:after{display: none;}
	.team-style-4{position: absolute;left: 70px;}
	.team-social-3{position: absolute;left: 90px;}	
	.choose-thumb-2 {width: 65%;height: 320px;}
	.project-header {padding: 73px 30px;}
	.counter-style-4 h2:after {position: absolute;top: -2px;}
	.work-counter-4 {position: absolute;width: 90%;height: auto; bottom: -110px;}
	.video-inner {position: absolute;top: 215px;width: 81%;}
	.project-info-4 {width: 310px;padding: 15px 20px;}
	.project-content h4:before {position: absolute;top: 28px;left: 20px;}
	.about-experience {position: absolute;left: 0px;}
	.about-experience h1:after {position: absolute;	right: 14px;font-size: 25px;}
	.about-experience span{font-size: 18px;}
	.thumb-1 {position: absolute;bottom: -10px;left: 0;}
	.thumb-2 {position: absolute;right: 0px;bottom: 155px;}
	.about-thumb-bg{position: absolute; left:30px; width: 50%; margin-top: 90px;}
	.test-thumb-1 {position: absolute;top: 350px;left: 0;}
	.test-thumb-3 {position: absolute;top: 500px;left: 0;}
	.test-thumb-5 {position: absolute;bottom: 0;right: 0;}
	.test-thumb-4 {position: absolute;bottom: 475px;right: 0;}
	.test-thumb-6 {position: absolute;right: 0;top: 350px;}
	.test-thumb-5 {position: absolute;bottom: -66px;right: 0;}
	.blog-header ul li {padding-right: 12px;}
	.aboutus-feature-style-1 {padding: 18px 9px;}
	.aboutus-bg-thumb{width: 100%; height: 80%;}
	.case-info-style-1 {width: 315px;position: absolute;left: 0px;}
	.skill-thumb-bg{position: absolute;width: 50%;}
	.counter-box-style-1 h1:after {position: absolute;top: -2px;font-size: 50px;}
	.client-exp {position: absolute;top: 220px;left: 0px;}
	.counter-section{width: 93%;}
	.service-icon-style-2 i{position:absolute; left: 95px;}
	.info-style-1{position: absolute;width: 315px; left: 0;}
	.info-style-1 h4{font-size: 16px;}
	.info-style-1 p{font-size: 14px;}
	.case-study-box .btn-view-theme-1{position:absolute; bottom: 60px;}
	.case-study-box:hover .btn-view-theme-1{bottom: 120px;}
	.case-content-style-1{position: absolute; left: 32px;}
	.form-item-style-5{width: 46%!important;}
	.contact-thumb-content.text-center {padding-top: 100%;}
	.blog-social ul li{margin: 0;}
	.blog-social ul li a i {width: 37px;height: 37px;line-height: 37px;}
	.post-info .tittle a {font-size: 13px;}
	.post-info .post-date span {font-size: 13px;}
	.feature-list li {font-size: 14px;}
	.case-study-info p{font-size: 14px;}
	.counter-box-1 h1:after{position: absolute; top: 0;}
	.contact-thumb-1 img{min-height: 620px;}	
	.appoinment-thumb img {width: 100%;min-height: 606px;}
	.blog-tags a {padding: 5px 10px 5px 10px;margin: 0 6px 9px 0;}
	.team-social-style-4 {position: absolute;left: 160px}
	.team-social-style-5{padding: 7px 25px;}
	.testimonial-item:after {position: absolute;left: 145px;width: 34%;height: 25%;}
	.experience-style-4{padding: 23px 20px;width: 265px;height: 125px;position: absolute;top: 27%;right: -58px;}
	.work-item-style-3 h2:after {position: absolute;font-size: 45px;}
	.feature-item-style-1{margin: 0 20px;}
	.about-service{margin-top: -60px;}
	.service-section .row.pb-40{padding: 0;}
	.testimonial-section-style-1 {margin-top: 115px;}
	.banner-content h1.section-header{font-size: 55px; line-height: 65px;}
	.testimonial-bg {padding-bottom: 60px;}	
	.btn-search-style-1 {position: absolute;right: 30px;top: 0;}
	.bg-padding{padding: 0;}
	.banner-content h1.header{font-size:45px!important; line-height: 55px;}
	.banner-content .header span.text-type{font-size:45px!important; line-height: 55px;}
	.main-menu-section ul li.shop,
	.main-menu-section ul li.cart, 
	.main-menu-section ul li.user-icon{display: none;}
	.btn-search-style-3 {position: absolute;right: -350px;top: -45px;}
	}	
	/*mobile layout */
	@media only screen and (min-width:768px) and (max-width:991px){
	.section-padding{padding: 90px 0;}
	.top-spacing{padding-top: 90px;}
	.bottom-spacing{padding-bottom: 90px;}
	.main-menu{display: none!important;}
	.mid-header-section{display: none!important;}
	.mid-header{display: none!important;}
	.top-header-style-1{display: none;}
	.service-desc h4 {font-size: 21px;}
	.pl-0{padding-left: 0;}
	.video-plan h4 a{font-size: 17px;}
	.mean-container .mean-bar{position: fixed;}
	h1{font-size: 47px;line-height: 50px;}
	h2{font-size:35px; line-height: 45px;}
	h3{font-size:24px; line-height: 35px;}
	h4{font-size:20px; line-height:30px;}
	p{font-size: 14px;}
	span{font-size: 18px!important;}
	.counter-text h4:after {font-size: 24px;}
	.banner-content .text-type{font-size: 47px!important;}
	.contact-box-1{display: none !important;}
	.logo-style-1{display: block;}
	.logo-style-3 {display: none!important;}
	.client-info-1 h4{font-size: 18px;}	
	.testimonial-content-style-1 h3{font-size: 19px;}
	.btn-search-1{display: none;}
	.experience-style-4 h4{font-size: 18px;}
	.header-right-portion {line-height: 40px;}
	.b-primary{padding: 15px 20px;}
	.btn-view{font-size: 14px;}
	.contact-style-1 {position: absolute;left: 0;top: 100%;width: 100%;}
	.counter-box-style-1 h1:after {position: absolute;top: -2px;font-size: 50px;}
	.contact-style-1 i{font-size: 50px; color: #FF6600;}	
	.contact-text p{color: #00265E; padding-bottom: 5px;}	
	.contact-text h4{color: #00265E;}
	.aboutus-content-style-1{padding-left: 0;}
	.aboutus-experience-style-1 h2:after{position: absolute;font-size: 35px;}
	.project-header {padding: 40px 30px;}
	.chooseus-right-bg {position: absolute;top: 105%; width: 100%;}	
	.chooseus-left-bg{width: 100%;}	
	.work-item h4:after {position: absolute;font-size: 25px;right: 0;}
	.work-item span {font-size: 16px;}
	.work-bg-thumb{margin-top: 80%;}
	.skill-content-style-1{padding-top: 108%;}
	.skill-left-bg {position: absolute;width: 100%;}
	.skill-right-bg {position: absolute;top: 56%;width: 100%;}
	.blog-header ul li {padding-right: 5px;}	
	.testimonial-bg{padding-bottom: 0;}
	.chart {position: relative;width: 180px;}
	.parcent {line-height: 170px;}
	canvas {position: absolute;left: 30px;top: 25px;}
	.work-icon:after{display: none;}
	.service-desc .btn-view-theme{position: absolute; left: 38%;}
	.case-content-style-1{position: absolute; left: 32px;}
	.team-single{width: 100%; height: auto;}
	.team-style-3{margin-bottom: 125px;}
	.team-social-1 {position: absolute;bottom: 100px;left: 104px;}
	.team-social-3{position: absolute;left: 115px;}	
	.team-social-style-5{padding: 7px 25px;}
	.team-info-style-4{position: absolute;left: 25px;}
	.team-style-4{position: absolute;left: 35px;}
	.counter-style-4 h2:after {position: absolute;top: -2px;}
	.experience-style-4{padding: 20px 15px;width: 196px;position: absolute;top: 22%;right: -52px;}
	.work-counter-4 {position: absolute;width: 90%;height: auto;}
	.video-inner {position: absolute;top: 260px;width: 81%;}
	.about-experience {position: absolute;left: 0px;}
	.about-experience h1:after {position: absolute;	right: 14px;font-size: 25px;}
	.about-experience span{font-size: 18px;}
	.service-icon-style-1 i {position: absolute;left: 110px;}
	.chooseus-thumb-style-6{position: absolute; bottom: -505px;}
	.thumb-1{display: none;}	
	.thumb-2{display: none;}
	.aboutus-content-style-6 {padding-top: 140%;}
	.about-thumb-bg{position: absolute; left:30px; width: 100%;height: 50%; margin-top: 90px;}
	.test-thumb-1 {position: absolute;top: 350px;left: 0;}
	.test-thumb-3 {position: absolute;top: 500px;left: 0;}
	.test-thumb-5 {position: absolute;bottom: 0;right: 0;}
	.test-thumb-4 {position: absolute;bottom: 475px;right: 0;}
	.test-thumb-6 {position: absolute;right: 0;top: 350px;}
	.test-thumb-5 {position: absolute;bottom: -66px;right: 0;}
	.skill-content-style-1 {padding-top: 108%;}
	.left-bg {position: absolute;width: 100%;}
	.right-bg {position: absolute;top: 56%;width: 100%;}
	.client-exp {position: absolute;top: 220px;left: 0px;}
	.counter-section{width: 92%;}
	.team-social-style-4 {position: absolute;left: 110px;}	
	.team-single:hover .team-social-style-4{bottom:130px;}
	.service-icon-style-2 i{position:absolute; left: 110px;}
	.slider-2 .slick-dots {margin-left: 38%;}
	.counter-box-1 h1:after{position: absolute; top: 0;}	
	.recent-post .thumb img {width: 100%;height: auto;}
	.team-social-style-1{position: absolute; top: 20px;}
	.testimonial-item:after {position: absolute;left: 95px;width: 40%;height: 23%;}
	.testimonial-slider-3 .action .item-2 {position: absolute;top: -50px;}
	.testimonial-slider-3 .action .item-3 {position: absolute;top: -50px;}
	.testimonial-slider-3 .action .item-7 {position: absolute;right: 5%;}
	.aboutus-experience-2{position: absolute; left: 150px;}	
	.project-info-4{width: 315px;padding: 5px 10px;}
	.project-info-4 h4:before{position: absolute; top: 18px; left: 10px;}
	.consult-section:before {position: absolute;left: 120px;top: -35px;}
	.work-item-style-3 h2:after {font-size: 45px;}
	.about-service{margin-top: -60px;}
	.service-section .row.pb-40{padding: 0;}
	.recent-project-style-1 {margin-top: 120px;}
	.banner-content h1.style-1{font-size: 40px; line-height: 50px;}	
	.btn-search-style-1 {position: absolute;right: 30px;top: 0;}
	.banner-content h1.banner-heading{font-size: 39px;}
	.main-menu-section ul li.shop,
	.main-menu-section ul li.cart, 
	.main-menu-section ul li.user-icon{display: none;}
	.btn-search-style-3 {position: absolute;right: -250px;top: -45px;}
	.product-desc .product-extra-info ul li span{font-size: 14px!important;}
	.case-style-1 h4 a {font-size: 15px!important;}
	.contact-box-style .contact-icon i {width: 65px;height: 65px;font-size: 30px;line-height: 80px;}
	.banner-section-style-1{padding: 90px 0;}

	
	}
	@media only screen and (min-width:576px) and (max-width:767px){
	.section-padding{padding: 80px 0;}
	.top-spacing{padding-top: 80px;}
	.bottom-spacing{padding-bottom: 80px;}
	h1{font-size: 35px;line-height: 45px;}
	h2{font-size: 42px;}
	h3{font-size: 25px;line-height: 35px;}
	h4{font-size: 17px;line-height: 26px;}
	p{font-size: 14px;line-height: 24px;}
	.banner-content .text-type{font-size: 35px!important;}
	.work-item span {font-size: 16px;}
	.counter-text h4:after {font-size: 24px;}
	.top-header-style-1{display: none;}
	.pl-0{padding-left: 0;}
	span{font-size: 14px!important;}
	.counter-box-1 span{font-size: 18px;}
	.logo-style-1{display: block;}
	.logo-style-3 {display: none!important;}
	.client-info-1 h4{font-size: 14px;}	
	.testimonial-content-style-1 h3{font-size: 19px;}
	.main-menu{display: none!important;}
	.top-header-inner .contact-box-1 {display: none!important;}
	.aboutus-experience-style-1 h2:after{position: absolute;font-size: 50px;}
	.mid-header-section{display: none!important;}
	.mid-header{display: none!important;}
	.btn-search-1{display: none;}
	.read-more-btn i {margin-left: 8px;}
	.slider-2 .slick-dots {margin-left: 30%;}
	.team-info-style-4{position: absolute; left: 60px;}
	.team-style-4{position: absolute; left: 155px;}
	.video-inner {position: absolute;width: 90%; top: 240px;}	
	.work-counter-4 {position: absolute;bottom: -230px; width: 95%;}
	.thumb-1{display: none;}	
	.thumb-2{display: none;}	
	.right-side-bg{display: none;}
	.service-icon-style-2 i{position: absolute; left: 180px;}
	.chooseus-thumb-style-6{display: none;}
	img.img-fluid.rounded-circle.test-thumb-3 {position: absolute;bottom: -980%;left: 0;}
	img.img-fluid.rounded-circle.test-thumb-6 {position: absolute;right: 0;bottom: 50%;}
	img.img-fluid.rounded-circle.test-thumb-1 {position: absolute;bottom: 50%;left: 0;}
	img.img-fluid.rounded-circle.test-thumb-4 {display: none;}
	.contact-style-1 {position: absolute;left: 0px;top: 100%;width: 100%;}
	.contact-icon-style-1 i{font-size: 50px; color: #FF6600;}	
	.contact-text p{color: #00265E; padding-bottom: 5px;}	
	.contact-text h4{color: #00265E;}.aboutus-content-style-1{padding-left: 20px;}
	.aboutus-thumb-style-2{display: none;}
	.choosebg-thumb-1 {position: absolute;width: 100%;height: 100%;}	
	.choosebg-thumb-2{display: none;}	
	.skill-left-bg{display: none;}	
	.skill-right-bg {position: absolute;width: 100%;height: 100%;}	
	.footer-bottom p{font-size: 12px;}	
	.form-item{width:49%; margin: 0;}	
	.footer-socials ul li a i{margin-right: 5px;}	
	.work-item h4:after {position: absolute;right: 0px;}
	.case-study-box .btn-view-theme-1{position:absolute; bottom: 100px;}
	.case-study-box:hover .btn-view-theme-1{bottom: 140px;}
	.read-more-btn span {margin-left: -95px;}
	.counter-box-1 h1:after {position: absolute;top: 0;}
	.counter-section {position: absolute;width: 94%;bottom: -180px;}
	.team-social-style-4 {position: absolute;left: 180px}
	.testimonial-item:after {position: absolute;left: 80px;width: 38%;height: 17%;}
	.experience-style-4 {width: 300px;position: absolute;top: 25%;}
	.blog-header ul li{padding-left: 0; border: none;}
	.work-icon:after {display: none;}
	.testimonial-slider-3 .action .item-5 {position: absolute;right: -10%;}
	.testimonial-slider-3 .action .item-7 {position: absolute;right: -3%;}
	.form-item-6{width: 41%!important;}
	.client-exp {position: absolute;top: 220px;left: 0px;}
	.team-social-3{position: absolute;left: 190px;}	
	.work-item h4:after {position: absolute;font-size: 30px;right: 15px;}
	.testimonial-slider-3 .action .item-2 {position: absolute;top: -50px;}
	.testimonial-slider-3 .action .item-3 {position: absolute;top: -50px;}
	.aboutus-experience-2{position: absolute; left: 0;}	
	.consult-section:before {position: absolute;top: -40px;}
	.counter-box-style-1 h1:after {position: absolute;top: -2px;font-size: 50px;}
	.about-service{margin-top: -60px;}
	.service-section .row.pb-40{padding: 0;}
	.team-section .row.pb-40{padding: 0;}
	.about-team{margin-top: -20px;}
	.testimonial-section-style-1 {margin-top: 210px;}
	.banner-content h1.style-1{font-size: 31px; line-height: 41px;}	
	.about-thumb-bg {position: absolute;width: 100%; margin-top: 80px;}
	.aboutus-content-style-6 {padding-top: 115%;}
	.aboutus-thumb-style-3{margin-top: 80px;}
	.btn-search-style-1 {position: absolute;right: 30px;top: 0;}
	.banner-content h1.banner-heading{font-size: 29px;}
	.aboutus-content.pt-40{padding: 0;}
	.product-cart-content .table-content table tbody > tr td {font-size: 14px;}
	.product-cart-content .table-content table thead > tr > th {padding: 8px 0px 8px;font-size: 14px;text-transform: capitalize;}
	.product-cart-content .table-content table tbody > tr td input {width: 60px;}
	.product-cart-content {	padding: 20px;}
	.main-menu-section ul li.shop,
	.main-menu-section ul li.cart, 
	.main-menu-section ul li.user-icon{display: none;}
	.btn-search-style-3 {position: absolute;right: -170px;top: -45px;}
	.footer-section-style-1{padding-top: 40px;}
	.aboutus-content-style-2{padding:40px 60px 0px 20px;}
	.main-menu-inner.bg-color-theme{padding: 0 10px;}
	.banner-section-style-1{padding: 80px 0;}

	}
	@media only screen and (min-width:360px) and (max-width:575px){
		.section-padding{padding: 60px 0;}
		.top-spacing{padding-top: 60px;}
		.bottom-spacing{padding-bottom: 60px;}
		.b-primary {padding: 15px 20px;}
		.btn-white {padding: 15px 20px;}
		h1{font-size: 18px!important;line-height: 35px!important;}
		h2{font-size: 22px!important; line-height: 32px!important;}
		h3{font-size: 20px !important;line-height: 30px!important;}
		h4{font-size: 18px!important;line-height: 28px!important;}
		p{font-size: 12px;line-height: 22px;}
		.banner-content p {font-size: 12px;}
		.contact-form form input::placeholder{font-size: 12px;}
		.sub-heading {font-size: 12px!important;}
		.banner-content .text-type{font-size: 18px !important; line-height: 35px!important;}
		.banner-content {width: 100%;}
		.work-item span {font-size: 16px;}
		.counter-text h4:after {font-size: 24px;}
		.top-header-style-1{display: none;}
		.newslatter-section h3 {font-size: 22px;}
		.case-study-info h4 a{font-size: 16px!important;font-weight: 700;}
		.pl-0{padding-left: 0;}
		span{font-size: 14px!important; line-height: 28px!important;}
		.counter-box-1 span{font-size: 18px;}
		.logo-style-1{display: block;}
		.logo-style-3 {display: none!important;}
		.client-info-1 h4{font-size: 14px;}	
		.testimonial-content-style-1{width: 80%;height: auto; margin-bottom: 40px;}
		.testimonial-content-style-1 h3{font-size: 19px;}
		.testimonial-thumb-style-1{width: 80%;height: auto;}
		.testimonial-single.d-flex{flex-wrap: wrap;}
		.main-menu{display: none!important;}
		.top-header-inner .contact-box-1 {display: none!important;}
		.aboutus-experience-style-1 h2:after{position: absolute;font-size: 30px;}
		.mid-header-section{display: none!important;}
		.mid-header{display: none!important;}
		.btn-search-1{display: none;}
		.btn-search-2{display: none;}
		.read-more-btn i {margin-left: 8px;}
		.slider-2 .slick-dots {margin-left: 30%;}
		.team-info-style-4{position: absolute; left: 40px;}
		.team-style-4{position: absolute; left: 80px;}
		.video-inner {position: absolute;width: 90%; top: 240px;}	
		.work-counter-4 {position: absolute;bottom: -280px; width: 95%;}
		.counter-style-4 h2:after{position: absolute; right: -35px; top: -9px;}	
		.thumb-1{display: none;}	
		.thumb-2{display: none;}	
		.right-side-bg{display: none;}
		.service-icon-style-2 i{position: absolute; left: 110px;}
		.chooseus-thumb-style-6{display: none;}
		img.img-fluid.rounded-circle.test-thumb-3 {position: absolute;bottom: -980%;left: 0;}
		img.img-fluid.rounded-circle.test-thumb-6 {position: absolute;right: 0;bottom: 50%;}
		img.img-fluid.rounded-circle.test-thumb-1 {position: absolute;bottom: 50%;left: 0;}
		img.img-fluid.rounded-circle.test-thumb-4 {display: none;}
		.contact-style-1 {position: absolute;left: 0px;top: 100%;width: 100%;}
		.contact-icon-style-1 i{font-size: 50px; color: #FF6600;}	
		.contact-text p{color: #00265E; padding-bottom: 5px;}	
		.contact-text h4{color: #00265E;}.aboutus-content-style-1{padding-left: 20px;}
		.aboutus-thumb-style-2{display: none;}
		.choosebg-thumb-1 {position: absolute;width: 100%;height: 100%;}	
		.choosebg-thumb-2{display: none;}	
		.skill-left-bg{display: none;}	
		.skill-right-bg {position: absolute;width: 100%;height: 100%;}	
		.footer-bottom p{font-size: 12px;}	
		.form-item{width:49%; margin: 0;}	
		.footer-socials ul li a i{margin-right: 5px;}	
		.work-item h4:after {position: absolute;right: 0px;}
		.read-more-btn span {margin-left: -95px;}
		.counter-box-1 h1:after {position: absolute;top: -8px;}
		.counter-section {position: absolute;width: 98%;bottom: -200px;}
		.testimonial-item:after {position: absolute;left: 80px;width: 38%;height: 17%;}
		.experience-style-4 {display: none;}
		.blog-header ul li{padding-left: 0; border: none;}
		.work-icon:after {display: none;}
		.testimonial-slider-3 .action .item-6 {position: absolute;}
		.testimonial-slider-3 .action .item-5 {position: absolute;right: -5%;}
		.testimonial-slider-3 .action .item-7 {position: absolute;right: -3%;}
		.form-item-6{width: 41%!important;}
		.client-exp-style-1{position: absolute;top: 220px;left: 0px;}
		.client-exp-style-1 h1:after {position: absolute;right: 20px;font-size: 24px; top:-2px;}
		.work-item h4:after {position: absolute;font-size: 30px;right: 15px;}
		.testimonial-slider-3 .action .item-2 {position: absolute;top: -50px; right: 0;}
		.testimonial-slider-3 .action .item-3 {position: absolute;top: -50px; left: 35px;}
		.aboutus-experience-2{position: absolute; left: 0;}	
		.consult-section:before {position: absolute;top: -40px;}
		.work-item-style-3 h2:after {font-size: 25px;}
		.default-btn {padding: 20px 30px;line-height: 9px;}
		.video-item-style-1{margin-top: -90px;}
		.header-contact ul li{border: none; padding:0;}
		.btn-style-1{display: none;}
		.testimonial-slider-for-2 .slick-dots li{margin: 0 12px;}
		.testimonial-section img {width: 50px;height: auto;}
		.slider-4 .next-arrow {position: absolute;top: -45px;right: 110px;width: 50px;height: 30px;}
		.slider-4 .prev-arrow {position: absolute;top: -45px;right: 45px;width: 50px;height: 30px;}
		.header-email-style-1{padding: 0;}
		.aboutus-thumb-style-3 img {border-radius: 8px;margin-top: 120px; padding: 0;}
		.skill-feature-box-style-1 {height: 238px;}
		.chart {width: 95px;height: 110px;}
		canvas {position: absolute;left: 5px;top: 15px;height: 85px!important;width: 85px!important;}
		.parcent {font-size: 14px;line-height: 120px!important;}
		.slider-1 .next-arrow {position: absolute;top: -40px;right: 110px;width: 50px;height: 30px;}
		.slider-1 .prev-arrow{position: absolute;top: -40px;right: 50px;width: 50px;height: 30px;}
		.contact-box{padding: 0;}
		.social-icon-style-1{display: none;}
		.blog-pagination a {margin-right: 4px;}
		.blog-social ul li a i {width: 30px;height: 30px;line-height: 30px;}
		.blog-social ul li {margin: 3px;}
		.blog-tags a {padding: 9px 8px 9px 7px;}
		.recent-post .post-info a {font-size: 14px; padding-bottom: 5px;}
		.blog-post-content h4 a {font-size: 16px;}
		.blog-single h4 a {font-size: 18px;}
		.blockquote {border-bottom: 10px solid #FF5E15;padding: 30px 50px 30px 30px;margin: 0;}
		.fature-top .top-thumb {width: 100%;}
		.fature-top .feature-content {width: 100%;}
		.post-tags a {padding: 9px 18px;margin-right: 9px;}
		.comments-section{padding: 0;}
		.comments-reply {margin-left: 0;}
		.comments-reply-box .form-item {font-size: 10px;}
		.comments-reply-box form textarea{font-size: 10px;}
		.contact-box-style{padding:30px 40px;}
		.project-info-4{width: 320px;padding: 5px 10px;}
		.project-info-4 h4:before{position: absolute; top: 18px; left: 10px;}
		.aboutus-experience-2 h2:after{position: absolute;font-size: 25px;}
		.email-box form input {padding: 16px 0 16px 30px;}
		.testimonial-thumb-style-1 img{width: 100%; height: auto;}
		.contact-text h4 {font-size: 14px!important;}
		.aboutus-feature-style-1 {padding: 9px 10px;margin: 2px;}
		.thumb-text-style-1 {position: absolute;top: 5px;left: 15px;}
		.newslatter-bg {padding: 80px 10px;}
		.counter-box-style-1 h1:after {position: absolute;font-size: 24px; top: -1px;}
		.header-email{padding-left: 0;}
		.demo-logo{display: none;}
		.section-title-bg {position: absolute;top: 25px;}
		.aboutus-thumb-2-style{margin: 0 auto;}
		.counter-style-4{margin-bottom: 10px;}
		.recent-project-style-1{margin-top: 180px;}
		.testimonial-section-style-1{margin-top: 280px;}
		.about-service{margin-top: -60px;}
		.service-section .row.pb-40{padding: 0;}
		.team-section .row.pb-40{padding: 0;}
		.about-team{margin-top: -50px;}
		.content-style-2{padding: 60px;}
		.work-section.mt-110{margin-top: 60px;}
		.about-thumb-bg {position: absolute;width: 100%; margin-top: 80px;}
		.aboutus-content-style-6 {padding-top: 180%;}
		.btn-search-style-1 {position: absolute;right: 30px;top: 28px;}
		.btn-search-style-2 {position: absolute;right: 30px;top: 28px;}
		.aboutus-content.pt-40{padding: 0;}
		.product-cart-content .table-content table tbody > tr td {font-size: 14px;}
		.product-cart-content .table-content table thead > tr > th {padding: 8px 0px 8px;font-size: 14px;text-transform: capitalize;}
		.product-cart-content .table-content table tbody > tr td input {width: 60px;}
		.product-cart-content {	padding: 20px;}
		.main-menu-section ul li.shop,
		.main-menu-section ul li.cart, 
		.main-menu-section ul li.user-icon{display: none;}
		.btn-search-style-3 {position: absolute;right: -80px;top: -20px;}
		.blog-left-sidear{margin-right: 0;}
		.blog-right-sidebar{margin: 0; padding: 0;}
		.comments {margin: 0;}
		.footer-section-style-1{padding-top: 40px;}
		.footer-form form input {padding: 15px 20px;}
		.aboutus-content-style-2{padding:40px 60px 0px 20px;}
		.about-service-style-1{margin-top: 0;}
		.blog-comments{padding: 50px 0 0 0;}
		.main-menu-inner.bg-color-theme{padding: 0 10px;}
		.banner-section-style-1{padding: 60px 0;}


	}
