/*
	Template name : Buconz Consulting Template
	Description : Consulting Template
	Keywors : Bootsrap, stratup
	Author name : OrdainIt
	Version: 1.0
*/
/*-----------------------------------------
    ## Preloader Css
-------------------------------------------*/
.pre-wrap {
    position: fixed;
    content: "";
    transform: translate(-100%, -240%);
    font-size: 62px;
  }
  
  .preloader-inner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999999;
    background-color: #030724;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .preloader-inner .cancel-preloader {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .preloader-inner .cancel-preloader a {
    background-color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--main-color);
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    display: block;
    transition: all 0.4s ease;
  }
  .preloader-inner .cancel-preloader a:hover {
    background-color: var(--heading-color);
    color: #fff;
  } */
  
  .spinner {
    margin: 120px auto;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    animation: sk-rotate 2s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #FE354D;
    border-radius: 100%;
    animation: sk-bounce 2s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  @keyframes sk-rotate {
    100% {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }
    50% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }